Repository PCSX2/pcsx2, pull requests merged in 2018-03, with the labels that each got.

#2330 GSdx: GSCrc.cpp Add/adjust CRC ids and code reformatting
  plugins/GSdx/GSCrc.cpp
Labels: Needs review, Plugin: GSdx

#2122 GSdx-TC: Fix load size calculation in target update
  plugins/GSdx/GS.h
  plugins/GSdx/GSRendererHW.cpp
  plugins/GSdx/GSRendererHW.h
  plugins/GSdx/GSTextureCache.cpp
  plugins/GSdx/config.h
Labels: GSdx: Hardware, GSdx: Texture Cache, High Priority, Plugin: GSdx

#2298 PCSX2: Remove obsolete "DisableOutput" option from core/GUI
  pcsx2/Config.h
  pcsx2/MTGS.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/GSFrame.h
  pcsx2/gui/Panels/ConfigurationPanels.h
  pcsx2/gui/Panels/VideoPanel.cpp
Labels: Core, GUI/WX

#2329 GSdx: Rename HW hacks drop list options
  plugins/GSdx/GSdx.cpp
Labels: Plugin: GSdx

#2334 GameDB: Add GIF FIFO hack for Spongebob: Creature From the Krusty Krab
  bin/GameIndex.dbf
Labels: GameDB, Reviewed

#2320 Console: Reset the titlebar when the VM is shutdown.
  pcsx2/gui/MainMenuClicks.cpp
Labels: GUI/WX, High Priority

#2328 PCSX2: Minor lingual correction of a Trace Logging text-string.
  pcsx2/gui/Panels/LogOptionsPanels.cpp
Labels: Changes translatable strings

#2345 GSdx: Add Shox to Automatic Mipmapping
  plugins/GSdx/GSCrc.cpp
  plugins/GSdx/GSCrc.h
  plugins/GSdx/GSRendererHW.cpp
Labels: GSdx: Hardware, GSdx: Mipmap

#2332 GameDB: Patch update and EETimingHack fix for Drakan 2 demo and Ruff Trigger
  bin/GameIndex.dbf
Labels: GameDB, Reviewed

#2347 GSdx-D3D: Texture and channel shuffle improvements
  plugins/GSdx/GSRendererDX.cpp
  plugins/GSdx/GSRendererDX.h
  plugins/GSdx/GSRendererDX11.cpp
  plugins/GSdx/GSRendererDX11.h
  plugins/GSdx/GSRendererDX9.cpp
  plugins/GSdx/GSRendererDX9.h
  plugins/GSdx/GSRendererHW.cpp
  plugins/GSdx/GSRendererOGL.cpp
Labels: Plugin: GSdx, Reviewed

#2354 GameDB: Add Quake 3 Revolution patch
  bin/GameIndex.dbf
Labels: GameDB
