Repository PCSX2/pcsx2, pull requests merged in 2018-11, with the labels that each got.

#2672 Update Brazilian Portuguese translation
  locales/pt_BR/pcsx2_Main.po
Labels: Translations

#2674 PCSX2: Update of Brazilian-Portuguese Main mo-file
  bin/Langs/pt_BR/pcsx2_Main.mo
Labels: Translations

#2344 GSTextureCache: Palette management rework. Huge performance boost in ZoE2 with 8-bit textures enabled.
  plugins/GSdx/GSRendererOGL.cpp
  plugins/GSdx/GSTextureCache.cpp
  plugins/GSdx/GSTextureCache.h
Labels: GSdx: Texture Cache, High Priority, Needs review, Needs testing, Plugin: GSdx

#2676 GameDB: Remove CRC check for Forbidden Siren 2 patch
  bin/GameIndex.dbf
Labels: GameDB

#2576 PCSX2: Add ability to pass launch arguments to games with CLI option '--gameargs="-arg1 -arg2 -etc
  pcsx2/Interpreter.cpp
  pcsx2/R5900.cpp
  pcsx2/R5900.h
  pcsx2/gui/App.h
  pcsx2/gui/AppConfig.h
  pcsx2/gui/AppInit.cpp
  pcsx2/x86/ix86-32/iR5900-32.cpp
Labels: Core

#2559 Debugger: Make EE kernel region accessible to debugger
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger

#2681 GSdx-TC: Use PaletteMap also when 8-bit texture is disabled
  plugins/GSdx/GSTextureCache.cpp
  plugins/GSdx/GSTextureCache.h
Labels: GSdx: Texture Cache, Plugin: GSdx

#2691 GSdx-osd: Remove/purge OSD Indicator code
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.rc
  plugins/GSdx/Renderers/Common/GSOsdManager.cpp
  plugins/GSdx/Renderers/Common/GSOsdManager.h
  plugins/GSdx/Window/GSLinuxDialog.cpp
  plugins/GSdx/Window/GSSettingsDlg.cpp
  plugins/GSdx/resource.h
Labels: Plugin: GSdx

#2694 GameIndex: Add Ace Combat 5 COP2 Patch on NTSC-J.
  bin/GameIndex.dbf
Labels: GameDB

#2693 pcsx2: Fix some issues on FMV Aspect Ratio Override
  pcsx2/gui/AppConfig.cpp
  pcsx2/gui/AppConfig.h
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/Panels/GSWindowPanel.cpp
Labels: GUI/WX

#2700 GameDB: Fix Ace Combat V Patch Address
  bin/GameIndex.dbf
Labels: GameDB

#2710 GSdx: Always enable Unscale Point and Line
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.rc
  plugins/GSdx/Renderers/DX11/GSDevice11.cpp
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/DX11/GSRendererDX11.h
  plugins/GSdx/Renderers/DX11/GSTextureFX11.cpp
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.cpp
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.h
  plugins/GSdx/Window/GSLinuxDialog.cpp
  plugins/GSdx/Window/GSSetting.cpp
  plugins/GSdx/Window/GSSetting.h
  plugins/GSdx/Window/GSSettingsDlg.cpp
  plugins/GSdx/resource.h
Labels: GSdx: Hardware, Needs testing, Plugin: GSdx

#2719 SPU2-X: GUI - Logo update
  plugins/spu2-x/spu2-x-sm.bmp
Labels: Plugin: SPU2-X

#2721 Locales: update ja_JP translations
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#2724 PCSX2: Apply updated ja_jp translation.
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#2726 GSdx-d3d: Update Fast DATE and Alpha Stencil behaviour
  plugins/GSdx/Renderers/DXCommon/GSRendererDX.cpp
Labels: GSdx: Direct3D, Plugin: GSdx
