Repository PCSX2/pcsx2, pull requests merged in 2018-04, with the labels that each got.

#2361 GSdx: Adjust Naruto series crc hacks
  plugins/GSdx/GSHwHack.cpp
Labels: Plugin: GSdx

#2368 GameDB: Revert Crash Tag Team Racing gamefix
  bin/GameIndex.dbf
Labels: GameDB

#2378 PCSX2: Update VU I bit gamefix tooltip
  pcsx2/gui/Panels/GameFixesPanel.cpp
Labels: Changes translatable strings

#2377 Updated Russian translation
  locales/ru_RU/pcsx2_Iconized.po
  locales/ru_RU/pcsx2_Main.po
Labels: Translations

#2387 GameDB: Add vuClampMode hack to Katamari/SkipMPEGHack to Arctic Thunder.
  bin/GameIndex.dbf
Labels: GameDB

#2383 About Box: Add missing contributors, misc. formatting.
  pcsx2/gui/Dialogs/AboutBoxDialog.cpp
Labels: GUI/WX

#2402 GSdx: Add Sly 3 demos crc ids
  plugins/GSdx/GSCrc.cpp
Labels: Plugin: GSdx

#2403 GSdx: Update D3D fbmask emulation on texture shuffle
  plugins/GSdx/GSRendererDX11.cpp
  plugins/GSdx/GSRendererOGL.cpp
Labels: Plugin: GSdx
