Repository PCSX2/pcsx2, pull requests merged in 2018-05, with the labels that each got.

#2419 common: Fix multiple _xgetbv() error on GCC 8
  common/include/x86emitter/x86_intrin.h
Labels: OS: Linux

#2421 gsdx: remove DirectCompute backend
  plugins/GSdx/CMakeLists.txt
  plugins/GSdx/GS.cpp
  plugins/GSdx/GSDevice11.cpp
  plugins/GSdx/GSDevice11.h
  plugins/GSdx/GSRendererCS.cpp
  plugins/GSdx/GSRendererCS.h
  plugins/GSdx/GSdx.rc
  plugins/GSdx/GSdx.vcxproj
  plugins/GSdx/GSdx.vcxproj.filters
  plugins/GSdx/res/cs.fx
  plugins/GSdx/resource.h
Labels: OS: Windows, Plugin: GSdx

#2363 GameDB: add Prafull's alternative patch for Klonoa 2
  bin/GameIndex.dbf
Labels: GameDB

#2428 GSdx: Adjust crc hacks for Heavy Metal Thunder
  plugins/GSdx/GSHwHack.cpp
Labels: Plugin: GSdx

#2429 GSdx: Adjust crc hacks for Big Mutha Truckers
  plugins/GSdx/GSHwHack.cpp
Labels: Plugin: GSdx

#2430 GSDumpGui: Adjust copyright header information
  tools/GSDumpGUI/Core/Program.cs
  tools/GSDumpGUI/Forms/frmMain.cs
  tools/GSDumpGUI/Library/GSDXWrapper.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFPrim.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFReg.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegAD.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegFOG.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegNOP.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegPrim.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegRGBAQ.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegST.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegTEX0.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegUV.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegUnimpl.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GIFRegXYZF.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/GifImage.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFReg/IGifData.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFPacket/GIFTag.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GIFUtil.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GSData.cs
  tools/GSDumpGUI/Library/GSDump/GSData/GSTransfer.cs
  tools/GSDumpGUI/Library/GSDump/GSDump.cs
  tools/GSDumpGUI/Library/NativeMethods.cs
  tools/GSDumpGUI/Library/TCPLibrary/Base/CancelArgs.cs
  tools/GSDumpGUI/Library/TCPLibrary/Base/Client.cs
  tools/GSDumpGUI/Library/TCPLibrary/Base/ClientS.cs
  tools/GSDumpGUI/Library/TCPLibrary/Base/Data.cs
  tools/GSDumpGUI/Library/TCPLibrary/Base/Server.cs
  tools/GSDumpGUI/Properties/AssemblyInfo.cs
Labels: External tools

#2431 Added the ScarfaceIbitHack to the Scarface NTSC-U discs.
  bin/GameIndex.dbf
Labels: GameDB

#2137 GameDB: Vampire Night fixes and code formatting.
  bin/GameIndex.dbf
Labels: GameDB, Needs testing, Reviewed

#2445 GSdx-OSD: Adjust messages/logs
  plugins/GSdx/GSdx.cpp
Labels: Plugin: GSdx

#2447 PS1 mode: Adjustments to processor clock speed and CD read speed.
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CdRom.cpp
  pcsx2/CDVD/CdRom.h
  pcsx2/Common.h
  pcsx2/IopCommon.h
  pcsx2/R3000A.cpp
  pcsx2/R3000AInterpreter.cpp
Labels: Introduces bugs, Needs testing, Needs work, PSX Mode

#2459 GSdx: Port better support of palette from OpenGL to Direct3D
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Direct3D, Plugin: GSdx

#2454 cmake: Fix GSdx EGL build libX11-xcb linkage issue
  cmake/SearchForStuff.cmake
  cmake/SelectPcsx2Plugins.cmake
  plugins/GSdx/CMakeLists.txt
Labels: Build | Project System, OS: Linux
