Repository PCSX2/pcsx2, pull requests merged in 2018-06, with the labels that each got.

#2471 GameDB: Add EERoundMode gamefix to restore missing text in Teen Titans.
  bin/GameIndex.dbf
Labels: GameDB

#2480 GSdx-d3d: Rearange PSSelector(GSDeviceDX.h)
  plugins/GSdx/GSDeviceDX.h
Labels: Plugin: GSdx

#2481 PCSX2: update of Scandinavian translations
  bin/Langs/da_DK/pcsx2_Iconized.mo
  bin/Langs/da_DK/pcsx2_Main.mo
  bin/Langs/nb_NO/pcsx2_Iconized.mo
  bin/Langs/nb_NO/pcsx2_Main.mo
  bin/Langs/sv_SE/pcsx2_Iconized.mo
  bin/Langs/sv_SE/pcsx2_Main.mo
  locales/da_DK/pcsx2_Iconized.po
  locales/da_DK/pcsx2_Main.po
  locales/nb_NO/pcsx2_Iconized.po
  locales/nb_NO/pcsx2_Main.po
  locales/sv_SE/pcsx2_Iconized.po
  locales/sv_SE/pcsx2_Main.po
Labels: Translations

#2487 GameDB: Various patches update.
  bin/GameIndex.dbf
Labels: GameDB
