Repository PCSX2/pcsx2, pull requests merged in 2018-08, with the labels that each got.

#2521 GSdx: Adjust ShinOnimusha crc hack.
  plugins/GSdx/GSHwHack.cpp
Labels: Plugin: GSdx

#2540 spu2-x: GTK GUI changes
  plugins/spu2-x/src/Linux/Config.cpp
Labels: OS: Linux, Plugin: SPU2-X

#2527 Debugger: Display ACC register
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger, Needs review

#2549 GameDB: Add XgKickHack to Warhammer 40K
  bin/GameIndex.dbf
Labels: GameDB, Reviewed

#2546 common: Use GCC's _xgetbv definition from GCC 8.2 onwards
  common/include/x86emitter/x86_intrin.h
Labels: OS: Linux

#2536 GSdx: GTK changes
  plugins/GSdx/GSLinuxDialog.cpp
Labels: OS: Linux, Plugin: GSdx

#2534 GSdx HW: Add Skipdraw Offset option for Skipdraw hack (continued)
  plugins/GSdx/GSHwHack.cpp
  plugins/GSdx/GSLinuxDialog.cpp
  plugins/GSdx/GSRendererHW.cpp
  plugins/GSdx/GSSetting.cpp
  plugins/GSdx/GSSetting.h
  plugins/GSdx/GSSettingsDlg.cpp
  plugins/GSdx/GSSettingsDlg.h
  plugins/GSdx/GSState.cpp
  plugins/GSdx/GSState.h
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.rc
  plugins/GSdx/resource.h
Labels: GSdx: Hardware, Plugin: GSdx

#2560 GSdx-gui: Put TC Offset X Y hacks in one line similar to Skipdraw Offset
  plugins/GSdx/GSdx.rc
Labels: GUI/Windows, Plugin: GSdx

#2561 Translations: pt_BR: fix typo in pcsx2_Iconized.po
  locales/pt_BR/pcsx2_Iconized.po
Labels: Translations

#2486 PCSX2: Change EE cyclerate and VU cycle stealing tool tips
  pcsx2/Config.h
  pcsx2/MTVU.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/gui/AppConfig.cpp
  pcsx2/gui/Panels/ConfigurationPanels.h
  pcsx2/gui/Panels/SpeedhacksPanel.cpp
  pcsx2/x86/microVU_Execute.inl
  pcsx2/x86/sVU_zerorec.cpp
Labels: Changes translatable strings, GUI/WX, Reviewed

#2550 pcsx2:gui: Remove Game Database dialog and panel
  pcsx2/CMakeLists.txt
  pcsx2/gui/App.h
  pcsx2/gui/Dialogs/ConfigurationDialog.h
  pcsx2/gui/Dialogs/GameDatabaseDialog.cpp
  pcsx2/gui/MainFrame.cpp
  pcsx2/gui/MainFrame.h
  pcsx2/gui/MainMenuClicks.cpp
  pcsx2/gui/Panels/ConfigurationPanels.h
  pcsx2/gui/Panels/GameDatabasePanel.cpp
  pcsx2/windows/VCprojects/pcsx2.vcxproj
  pcsx2/windows/VCprojects/pcsx2.vcxproj.filters
Labels: GUI/WX

#2565 debugger: Reset breakpoint skip on boot
  pcsx2/gui/AppMain.cpp
Labels: Debugger

#2570 GameDB: Add 136 games!!!!!
  bin/GameIndex.dbf
Labels: GameDB
