Repository PCSX2/pcsx2, pull requests merged in 2018-02, with the labels that each got.

#2300 PCSX2-Counters: Fix rounding of blank and render
  pcsx2/Counters.cpp
Labels: Counters

#2291 cmake: Improve wxWidgets and SDL linkage check
  cmake/ApiValidation.cmake
Labels: Build | Project System, OS: Linux

#2313 FixedPoint: Subtraction operations fix
  common/include/Utilities/FixedPointTypes.inl
Labels: Core

#2251 GameDB: Final Fantasy X fix
  bin/GameIndex.dbf
Labels: GameDB

#2303 GSdx: Adjust Ikkitousen CRC hacks
  plugins/GSdx/GSHwHack.cpp
Labels: Plugin: GSdx

#2304 GSdx: Remove GT4/Tourist Trophy CRC hacks
  plugins/GSdx/GSCrc.cpp
  plugins/GSdx/GSHwHack.cpp
Labels: GSdx: Hardware, Plugin: GSdx

#2297 [GSdx OGL HW]: Perform a texture shuffle when the address of the framebuffer and the texture are the same
  plugins/GSdx/GSRendererOGL.cpp
Labels: GSdx: Hardware, GSdx: OpenGL, Plugin: GSdx

#2324 Portuguese-BR translation update
  bin/Langs/pt_BR/pcsx2_Iconized.mo
  bin/Langs/pt_BR/pcsx2_Main.mo
  locales/pt_BR/pcsx2_Iconized.po
  locales/pt_BR/pcsx2_Main.po
Labels: Reviewed, Translations

#2302 GameDB: VU rounding fixes for Guitar Hero series and Hitman Contracts.
  bin/GameIndex.dbf
Labels: GameDB

#2326 GameDB: Update Crash Tag Team Racing
  bin/GameIndex.dbf
  pcsx2/gui/Panels/GameFixesPanel.cpp
Labels: Changes translatable strings, GUI/WX, GameDB

#2231 GameDB: Max Payne, Klonoa 2, Evolution Snowboarding, Mana Khemia and Fifa Street 2 fixes
  bin/GameIndex.dbf
Labels: GameDB

#2270 French translation update
  locales/fr_FR/pcsx2_Iconized.po
  locales/fr_FR/pcsx2_Main.po
Labels: Reviewed, Translations

#2309 GameDB: Scarface
  bin/GameIndex.dbf
Labels: GameDB, Reviewed
