Repository PCSX2/pcsx2, pull requests merged in 2019-03, with the labels that each got.

#2867 Locale: Update ja_JP translation
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#1599 PCSX2: Avoid enabling VuClipFlag at some scenarios
  pcsx2/gui/AppCoreThread.cpp
Labels: Core, Postponed

#2870 PCSX2-EE: Improve SetGSCrt logging
  pcsx2/R5900OpcodeImpl.cpp
Labels: Core

#2869 cdvd: Get rid of code that disabled loading psx discs
  pcsx2/CDVD/CDVD.cpp
  pcsx2/Config.h
Labels: CDVD, PSX Mode

#2878 Locale: purging some ja_JP localization and Update.
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#2879 GSdx-gui: Adjust advanced settings and hacks gui
  plugins/GSdx/GSdx.rc
  plugins/GSdx/Window/GSSettingsDlg.cpp
  plugins/GSdx/resource.h
Labels: GUI/Windows, Plugin: GSdx

#2883 dev9ghzdrk: pthread_create returns status, not thread handle
  plugins/dev9ghzdrk/Linux/net.cpp
Labels: Plugin: Other

#2885 Plugins: Remove PADSSSPSX and xpad.
  .gitignore
  cmake/SelectPcsx2Plugins.cmake
  debian-packager/create_built_tarball.sh
  linux_various/check_format.sh
  old_plugins.sln
  plugins/CMakeLists.txt
  plugins/SSSPSXPAD/PadSSSPSX.cpp
  plugins/SSSPSXPAD/PadSSSPSX.def
  plugins/SSSPSXPAD/PadSSSPSX.h
  plugins/SSSPSXPAD/PadSSSPSX.rc
  plugins/SSSPSXPAD/PadSSSPSX.vcxproj
  plugins/SSSPSXPAD/PadSSSPSX.vcxproj.filters
  plugins/SSSPSXPAD/PadSSSPSXres.h
  plugins/SSSPSXPAD/ProjectRootDir.props
  plugins/SSSPSXPAD/licence.txt
  plugins/SSSPSXPAD/readmewip.txt
  plugins/xpad/res/xpad.rc2
  plugins/xpad/resource.h
  plugins/xpad/stdafx.cpp
  plugins/xpad/stdafx.h
  plugins/xpad/vsprops/ProjectRootDir.props
  plugins/xpad/vsprops/common.props
  plugins/xpad/vsprops/debug.props
  plugins/xpad/vsprops/release.props
  plugins/xpad/xpad.cpp
  plugins/xpad/xpad.def
  plugins/xpad/xpad.h
  plugins/xpad/xpad.props
  plugins/xpad/xpad.rc
  plugins/xpad/xpad.vcxproj
  plugins/xpad/xpad.vcxproj.filters
Labels: Build | Project System, Plugin: Other
