Repository PCSX2/pcsx2, pull requests merged in 2019-08, with the labels that each got.

#3020 PCSX2: Set pad plugin and bios defaults automatically.
  pcsx2/gui/Panels/BiosSelectorPanel.cpp
  pcsx2/gui/Panels/PluginSelectorPanel.cpp
Labels: GUI/WX

#3057 GameDB: MTX Mototrax glitchy graphics fixes
  bin/GameIndex.dbf
Labels: GameDB

#3052 PCSX2: Wait some frames between F9 SW render toggles
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/GlobalCommands.cpp
Labels: GUI/WX

#3060 Remove pthread dependency from onepad_legacy.
  common/include/Utilities/mt_queue.h
  plugins/onepad_legacy/keyboard.cpp
  plugins/onepad_legacy/onepad.cpp
  plugins/onepad_legacy/onepad.h
Labels: OS: Linux, Plugin: OnePad

#3071 GameDB: Crazy Frog Racer 2/Alone in the Dark fixes
  bin/GameIndex.dbf
Labels: GameDB

#3066 GSdx-hw: fix sw sprite renderer
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
Labels: GSdx: Hardware

#3018 GSdx-hw TC: improve search/invalidate tex in RT
  plugins/GSdx/GSCrc.cpp
  plugins/GSdx/GSCrc.h
  plugins/GSdx/Renderers/HW/GSTextureCache.cpp
  plugins/GSdx/Renderers/HW/GSTextureCache.h
Labels: GSdx: Hardware, GSdx: Texture Cache, High Priority

#3064 GSdx SW: Fix SSE2 mipmap code generation.
  plugins/GSdx/Renderers/SW/GSDrawScanlineCodeGenerator.x86.cpp
Labels: GSdx: Mipmap, GSdx: Software

#3080 3rdparty/pthreads4w: Revert recent pthreads changes/commits
  3rdparty/pthreads4w/autostatic.c
Labels: High Priority

#3072 PCSX2: Avoid hang when switching renders with hotkey.
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/GlobalCommands.cpp
Labels: GUI/WX

#3076 GSdx-hw OGL: fix PBO pool map size.
  plugins/GSdx/Renderers/OpenGL/GSTextureOGL.cpp
Labels: GSdx: OpenGL, High Priority

#3081 GameDB: Enter the Matrix changes
  bin/GameIndex.dbf
Labels: GameDB

#3051 cdvd: Fix end-of-disc issues
  pcsx2/CDVD/CDVDaccess.cpp
  pcsx2/CDVD/CDVDisoReader.cpp
  pcsx2/CDVD/InputIsoFile.cpp
  pcsx2/CDVD/IsoFileFormats.h
  pcsx2/PluginManager.cpp
  plugins/cdvdGigaherz/src/CDVD.cpp
  plugins/cdvdGigaherz/src/CDVD.h
  plugins/cdvdGigaherz/src/ReadThread.cpp
Labels: CDVD, Core, Needs testing, Plugin: Other
