Repository PCSX2/pcsx2, pull requests merged in 2019-07, with the labels that each got.

#3004 Readme: Drop official support of Vista
  README.md
Labels: Documentation, Maybe?, Waiting feedback

#2953 build.sh and cmake plugin code cleanup
  build.sh
  cmake/SelectPcsx2Plugins.cmake
  pcsx2/CMakeLists.txt
  plugins/CMakeLists.txt
Labels: Build | Project System, Installer | Package, OS: Linux

#3003 GSdx-d3d11: Enable Blend no barrier support on d3d11
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/DX11/GSTextureFX11.cpp
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Direct3D, GSdx: Hardware

#2989 [GSdx] Add temperature setting
  bin/shaders/GSdx.fx
  bin/shaders/GSdx_FX_Settings.ini
Labels: Plugin: GSdx

#3014 GameDB: Bully/Canis Canem Edit unbeatable Chapter 2 level fixes.
  bin/GameIndex.dbf
Labels: GameDB

#3016 Fix microVU debug logging.
  pcsx2/x86/microVU_Log.inl
Labels: Bug

#3015 GameDB: Various updates/cleanup and gamefixes for Ratatouille and Dog's life
  bin/GameIndex.dbf
Labels: GameDB

#3013 pcsx2: Auto select GSdx during plugin selection
  pcsx2/gui/Panels/PluginSelectorPanel.cpp
Labels: GUI/WX

#3001 GSdx-hw: New SW sprite render function, used in Jak games
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.h
Labels: GSdx: Hardware, High Priority

#3017 Travis: Bump Ubuntu version to Xenial
  .travis.yml
Labels: Build | Project System

#3029 Gamedb: Patch for Jak X NTSC Public Beta
  bin/GameIndex.dbf
Labels: GameDB

#3030 Spu2-x: Fix noise generator
  plugins/spu2-x/src/Mixer.cpp
Labels: Plugin: SPU2-X

#3038 [Lilypad] Update Xinput description
  plugins/LilyPad/Tooltips.cpp
Labels: Plugin: LilyPad

#3040 GameDB: Super Monkey Ball Deluxe Monkey Billiards DX minigame fixes
  bin/GameIndex.dbf
Labels: GameDB

#3036 GSdx-hw: Add OI rendering fix for Big Mutha Truckers
  plugins/GSdx/Renderers/HW/GSHwHack.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.h
Labels: GSdx: Hardware, High Priority
