Repository PCSX2/pcsx2, pull requests merged in 2019-11, with the labels that each got.

#3137 Gamedb: Remove FMVinSoftwareHack gamefix for Silent Hill 3
  bin/GameIndex.dbf
Labels: GameDB, High Priority

#3130 GameDB: Update/Remove outdated gamefixes for the following titles:
  bin/GameIndex.dbf
Labels: GameDB

#3161 GameDB: Various updates
  bin/GameIndex.dbf
Labels: GameDB

#3162 GSdx-hw: Disable half screen TS fix for Xenosaga 3
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
Labels: GSdx: Hardware, High Priority
