Repository PCSX2/pcsx2, pull requests merged in 2019-09, with the labels that each got.

#3097 Locales: ja-JP: fix non-desu-masu forms
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#3085 gsdx: Use the same ini code on both Windows and Linux
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.h
Labels: Plugin: GSdx

#2835 PCSX2-Counters: Revert to older VRender/VBlank timings
  pcsx2/Counters.cpp
Labels: Counters, Needs testing

#3092 Update Portuguese Brazilian Translation
  bin/Langs/pt_BR/pcsx2_Iconized.mo
  bin/Langs/pt_BR/pcsx2_Main.mo
  locales/pt_BR/pcsx2_Iconized.po
  locales/pt_BR/pcsx2_Main.po
Labels: Translations

#3099 GSdx-ocl: Enable OpenCL build option on Linux
  build.sh
  cmake/BuildParameters.cmake
  plugins/GSdx/CMakeLists.txt
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/res/tfx.cl
Labels: Plugin: GSdx

#3091 GSdx-d3d11: Some HLSL shader work
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/DX11/GSTextureFX11.cpp
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Direct3D, High Priority

#3112 Corrected Parsing Error in Pnach Type 6 Code Parsing
  pcsx2/Patch_Memory.cpp
Labels: Core

#3119 pcsx2: Partially fix IPU PACK command
  pcsx2/IPU/IPU.cpp
Labels: IPU

#3063 Avoid hang when spamming F4 (Frame Limiter Toggle)
  pcsx2/gui/GlobalCommands.cpp
Labels: GUI/WX

#3126 gsdx_legacy: Silence very verbose clang warnings.
  plugins/GSdx_legacy/CMakeLists.txt
Labels: Plugin: GSdx
