Repository PCSX2/pcsx2, pull requests merged in 2020-10, with the labels that each got.

#3768 Remove obsoleted keyword for Clang
  plugins/dev9ghzdrk/flash.cpp
Labels: Build | Project System, Plugin: Other

#3773 [skip ci] nsis: Update message box for minimum supported os.
  nsis/SharedDefs.nsh
Labels: Installer | Package

#3770 CDVD: fix for loading games in BIOS
  pcsx2/System/SysCoreThread.cpp
Labels: CDVD

#3778 IOP DMA: Always fire interrupts for SIF0/SIF1
  pcsx2/IopHw.cpp
Labels: Core

#3713 gsdx: properly init gsclut function ptrs
  plugins/GSdx/GSClut.cpp
Labels: Plugin: GS

#3783 DEV9: fix crash when closing game window with ethernet disabled
  plugins/dev9ghzdrk/Win32/tap-win32.cpp
  plugins/dev9ghzdrk/Win32/tap.h
Labels: High Priority, Plugin: Other

#3788 CDVD: fix ISO swapping, round 4
  pcsx2/System/SysCoreThread.cpp
  pcsx2/System/SysThreadBase.cpp
  pcsx2/System/SysThreads.h
  pcsx2/gui/MainMenuClicks.cpp
Labels: CDVD, High Priority

#3794 GameDB: VU0 Kickstart to Beyond Good and Evil
  bin/GameIndex.dbf
Labels: GameDB

#3785 Counters: Tighten tolerances on framelimiter
  pcsx2/Counters.cpp
Labels: Counters, High Priority, Needs testing

#3791 Correct PGIF Register bit masks
  pcsx2/ps2/pgif.cpp
Labels: Core

#3806 pcsx2: purge fmv in sw hack
  bin/GameIndex.dbf
  pcsx2/Config.h
  pcsx2/IPU/IPU.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/Panels/GameFixesPanel.cpp
Labels: Core, GameDB

#3813 Cop2: Make sure the status flag gets updated on DIV/SQRT/RSQRT
  bin/GameIndex.dbf
  pcsx2/x86/microVU_Lower.inl
  pcsx2/x86/microVU_Macro.inl
Labels: GameDB, micro VU

#3827 cmake: Fix the build without portaudio (Again).
  pcsx2/CMakeLists.txt
Labels: Build | Project System, OS: Linux

#3752 recording: Don't reload cheats/settings on every frame-advance
  pcsx2/Recording/InputRecordingControls.cpp
  pcsx2/Recording/InputRecordingControls.h
  pcsx2/gui/AppCoreThread.cpp
Labels: TAS Functionality

#3831 GS: Fix handling of PRIM/PRMODE on PRMODECONT switching
  plugins/GSdx/GSState.cpp
Labels: Plugin: GS

#3843 GameDB: Multigamefixes (ChaosLegion, Dragons lair, Astroboy)
  bin/GameIndex.dbf
Labels: GameDB

#3858 gsdx: properly init clut ptrs v2
  plugins/GSdx/GSClut.cpp
  plugins/GSdx/GSClut.h
Labels: Plugin: GS

#3865 microVU: Fix program range wrapping
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_Compile.inl
  pcsx2/x86/microVU_Misc.h
Labels: micro VU

#3854 GameDB: Add patches for Idea Factory games
  bin/GameIndex.dbf
Labels: GameDB

#3841 Update cache emulation for 64 bits
  pcsx2/Cache.cpp
  pcsx2/Cache.h
  pcsx2/SaveState.cpp
Labels: Core, x64

#3840 Added cmake options to bypass setcap execution.
  cmake/BuildParameters.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System, OS: Linux
