Repository PCSX2/pcsx2, pull requests merged in 2020-02, with the labels that each got.

#3230 PCSX2 GUI: Update of German Translation
  bin/Langs/de_DE/pcsx2_Iconized.mo
  bin/Langs/de_DE/pcsx2_Main.mo
  locales/de_DE/pcsx2_Iconized.po
  locales/de_DE/pcsx2_Main.po
Labels: Translations

#3234 PCSX2 GUI: Update of Russian Translation
  bin/Langs/ru_RU/pcsx2_Iconized.mo
  bin/Langs/ru_RU/pcsx2_Main.mo
  locales/ru_RU/pcsx2_Iconized.po
  locales/ru_RU/pcsx2_Main.po
Labels: Translations

#3237 Locales: Fix First time wizard window width on Chinese Simplified language zn_CN.
  bin/Langs/zh_CN/pcsx2_Iconized.mo
  locales/zh_CN/pcsx2_Iconized.po
Labels: Translations

#3198 GameDB: New fixes/patches
  bin/GameIndex.dbf
Labels: GameDB

#3240 Add Japan Crc to crc list. [Jak II eye fix]
  plugins/GSdx/GSCrc.cpp
Labels: GSdx: Hardware

#3139 [skip ci] PCSX2 1.6 Documentation Overhaul
  CMakeLists.txt
  README.md
  bin/docs/Configuration_Guide.pdf
  bin/docs/PCSX2_FAQ.pdf
  bin/docs/PCSX2_Readme.pdf
  pcsx2/Docs/!How_To_Update_Docs.txt
  pcsx2/Docs/Configuration_Guide/Configuration_Guide.md
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration.png
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration_bios.png
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration_plugins.png
  pcsx2/Docs/License.txt
  pcsx2/Docs/PCSX2_FAQ.doc
  pcsx2/Docs/PCSX2_FAQ.md
  pcsx2/Docs/PCSX2_Readme.doc
  pcsx2/Docs/readme-Docs.txt
  pcsx2/gui/Dialogs/FirstTimeWizard.cpp
Labels: Changes translatable strings, Documentation, High Priority

#3246 NSIS: Update VC Redist URL, misc.
  nsis/SharedDefs.nsh
  nsis/pcsx2_full_install.nsi
  nsis/pcsx2_shared_init.nsi
Labels: Installer | Package

#3245 Localisation fixes to Dutch/Polish
  bin/Langs/nl_NL/pcsx2_Iconized.mo
  bin/Langs/nl_NL/pcsx2_Main.mo
  bin/Langs/pl_PL/pcsx2_Iconized.mo
  bin/Langs/pl_PL/pcsx2_Main.mo
  locales/nl_NL/pcsx2_Iconized.po
  locales/nl_NL/pcsx2_Main.po
  locales/pl_PL/pcsx2_Iconized.po
  locales/pl_PL/pcsx2_Main.po
Labels: Needs work, Translations

#3250 Locale: Update ja_jp locale file
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#3251 Localisation fixes Arabic/French/German
  bin/Langs/ar_SA/pcsx2_Main.mo
  bin/Langs/de_DE/pcsx2_Main.mo
  bin/Langs/fr_FR/pcsx2_Iconized.mo
  bin/Langs/fr_FR/pcsx2_Main.mo
  bin/Langs/pl_PL/pcsx2_Main.mo
  locales/ar_SA/pcsx2_Main.po
  locales/de_DE/pcsx2_Main.po
  locales/fr_FR/pcsx2_Iconized.po
  locales/fr_FR/pcsx2_Main.po
Labels: Translations

#3253 Update Russian Translation
  bin/Langs/ru_RU/pcsx2_Iconized.mo
  bin/Langs/ru_RU/pcsx2_Main.mo
  locales/ru_RU/pcsx2_Iconized.po
  locales/ru_RU/pcsx2_Main.po
Labels: Translations

#3255 Added VU patch for Powerdrome PAL
  bin/GameIndex.dbf
Labels: GameDB

#3259 Locales: Update Portuguese Brazilian Translations pt_BR
  bin/Langs/pt_BR/pcsx2_Iconized.mo
  bin/Langs/pt_BR/pcsx2_Main.mo
  locales/pt_BR/pcsx2_Iconized.po
  locales/pt_BR/pcsx2_Main.po
Labels: Translations

#3267 Locales: Update Lithuanian Translations lt_LT
  bin/Langs/lt_LT/pcsx2_Iconized.mo
  bin/Langs/lt_LT/pcsx2_Main.mo
  locales/lt_LT/pcsx2_Iconized.po
  locales/lt_LT/pcsx2_Main.po
Labels: Translations

#3268 gsdx-d3d11: Truncate fog in tfx.fx shader.
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Direct3D, GSdx: Hardware, High Priority
