Repository PCSX2/pcsx2, pull requests merged in 2020-01, with the labels that each got.

#3208 Updated Turkish translations for PCSX2(tr_TR)
  bin/Langs/tr_TR/pcsx2_Iconized.mo
  bin/Langs/tr_TR/pcsx2_Main.mo
  locales/tr_TR/pcsx2_Iconized.po
  locales/tr_TR/pcsx2_Main.po
Labels: Reviewed, Translations

#3217 Updated the Turkish(tr_TR) translation with the missing string.
  bin/Langs/tr_TR/pcsx2_Iconized.mo
  bin/Langs/tr_TR/pcsx2_Main.mo
  locales/tr_TR/pcsx2_Iconized.po
  locales/tr_TR/pcsx2_Main.po
Labels: Translations

#3213 Polish localization
  bin/Langs/pl_PL/pcsx2_Iconized.mo
  bin/Langs/pl_PL/pcsx2_Main.mo
  locales/pl_PL/pcsx2_Iconized.po
  locales/pl_PL/pcsx2_Main.po
Labels: Translations

#3204 Locale: ja_JP: Update locale
  bin/Langs/ja_JP/pcsx2_Iconized.mo
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Iconized.po
  locales/ja_JP/pcsx2_Main.po
Labels: Translations

#3222 Polish localization fix
  bin/Langs/pl_PL/pcsx2_Iconized.mo
  bin/Langs/pl_PL/pcsx2_Main.mo
  locales/pl_PL/pcsx2_Iconized.po
  locales/pl_PL/pcsx2_Main.po
Labels: Translations

#3216 zh_TW Localization
  bin/Langs/zh_TW/pcsx2_Iconized.mo
  bin/Langs/zh_TW/pcsx2_Main.mo
  locales/zh_TW/pcsx2_Iconized.po
  locales/zh_TW/pcsx2_Main.po
Labels: Translations

#3203 Update spanish translation.
  bin/Langs/es_ES/pcsx2_Iconized.mo
  bin/Langs/es_ES/pcsx2_Main.mo
  locales/es_ES/pcsx2_Iconized.po
  locales/es_ES/pcsx2_Main.po
Labels: Translations

#3223 Locales: Polish localization fixes
  bin/Langs/pl_PL/pcsx2_Iconized.mo
  bin/Langs/pl_PL/pcsx2_Main.mo
  locales/pl_PL/pcsx2_Iconized.po
  locales/pl_PL/pcsx2_Main.po
Labels: Translations

#3220 GSdx-d3d11: Adjust anisotropic filtering handle
  plugins/GSdx/Renderers/DX11/GSDevice11.cpp
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/Renderers/DX11/GSTextureFX11.cpp
Labels: GSdx: Direct3D, GSdx: Hardware

#3224 Dutch localisation fixes
  bin/Langs/nl_NL/pcsx2_Iconized.mo
  bin/Langs/nl_NL/pcsx2_Main.mo
  locales/nl_NL/pcsx2_Iconized.po
  locales/nl_NL/pcsx2_Main.po
Labels: Translations
