Repository PCSX2/pcsx2, pull requests merged in 2020-11, with the labels that each got.

#3885 misc: Replace Fall through comments with c++17 attribute.
  pcsx2/COP0.cpp
  pcsx2/IPU/IPU.cpp
  pcsx2/IPU/mpeg2lib/Mpeg.cpp
  pcsx2/Sio.cpp
  pcsx2/System/SysThreadBase.cpp
  pcsx2/Vif1_MFIFO.cpp
  pcsx2/Vif_Codes.cpp
  pcsx2/gui/AppConfig.cpp
  pcsx2/ps2/Iop/PsxBios.cpp
  plugins/GSdx/GSState.cpp
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.cpp
  plugins/onepad/state_management.cpp
  plugins/onepad_legacy/state_management.cpp
Labels: Quality & Assurance

#3886 misc: Remove merged plugins leftover stuff.
  build.sh
  cmake/BuildParameters.cmake
  debian-packager/copyright
  linux_various/pre-commit
  nsis/pcsx2_shared_init.nsi
  pcsx2/CMakeLists.txt
  pcsx2/Docs/PCSX2_FAQ.md
Labels: Build | Project System

#3891 gsdx-hw: Don't always set MaxDepth on ps/fs.
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.cpp
Labels: GS: Hardware

#3838 Support build with system fmt
  CMakeLists.txt
  cmake/SearchForStuff.cmake
Labels: Build | Project System, OS: Linux

#3862 counters: account for vertical frequency differences in non-interlaced anolog modes
  pcsx2/Counters.cpp
  pcsx2/GS.cpp
Labels: Counters

#3930 [USB+] Clean up Warnings
  cmake/BuildParameters.cmake
  pcsx2/DEV9/flash.cpp
  pcsx2/DebugTools/DisassemblyManager.h
  pcsx2/SPU2/spu2replay.cpp
  pcsx2/SPU2/wx/wxConfig.h
  pcsx2/USB/USB.cpp
  pcsx2/USB/configuration.cpp
  pcsx2/USB/linux/config-gtk.cpp
  pcsx2/USB/qemu-usb/USBinternal.h
  pcsx2/USB/qemu-usb/usb-ohci.cpp
  pcsx2/USB/shared/inifile_usb.cpp
  pcsx2/USB/shared/ringbuffer.h
  pcsx2/USB/usb-eyetoy/cam-linux.cpp
  pcsx2/USB/usb-hid/evdev/evdev-gtk.cpp
  pcsx2/USB/usb-hid/evdev/evdev.cpp
  pcsx2/USB/usb-hid/usb-hid.cpp
  pcsx2/USB/usb-mic/audiodev-pulse.cpp
  pcsx2/USB/usb-mic/audiodev-pulse.h
  pcsx2/USB/usb-mic/usb-headset.cpp
  pcsx2/USB/usb-msd/usb-msd.cpp
  pcsx2/USB/usb-pad/evdev/evdev-ff.cpp
  pcsx2/USB/usb-pad/evdev/evdev-gtk.cpp
  pcsx2/USB/usb-pad/evdev/evdev.cpp
  pcsx2/USB/usb-pad/evdev/shared-gtk.cpp
  pcsx2/USB/usb-pad/joydev/joydev.cpp
  pcsx2/USB/usb-pad/usb-seamic.cpp
  pcsx2/gui/AppAccelerators.h
  plugins/onepad/wx_dialog/JoystickConfiguration.h
Labels: USB

#3933 misc: Remove more leftover stuff from plugins merge.
  .gitignore
  debian-packager/copyright
  debian-packager/create_built_tarball.sh
  linux_various/check_format.sh
  old_plugins.sln
Labels: Build | Project System

#3935 Don't reopen everything when we just want to reopen the CDVD
  pcsx2/System/SysThreadBase.cpp
Labels: Core

#3714 GSdx-ogl: Check MinMax for PSConstantBuffer.
  plugins/GSdx/Renderers/OpenGL/GSDeviceOGL.h
Labels: GS: Hardware, GS: OpenGL

#3863 Debugger: Remove delay slot for ERET and SYSCALL opcodes
  pcsx2/R5900.cpp
Labels: Debugger

#3939 USB: Fix a few more warnings.
  pcsx2/USB/shared/inifile_usb.h
  pcsx2/USB/usb-pad/raw/raw-config.cpp
Labels: USB

#3853 GameDB: Add new entries part 1
  bin/GameIndex.dbf
Labels: GameDB

#3604 PNACH: New patch type: apply repeating codes also on load
  pcsx2/Patch.h
  pcsx2/System/SysCoreThread.cpp
Labels: Enhancement / Feature Request

#3743 core: send osd log event when snapshot is taken
  common/include/PS2Edefs.h
  pcsx2/gui/GlobalCommands.cpp
Labels: Core

#3929 CI: Remove Travis-CI and AppVeyor
  .travis.yml
  README.md
  appveyor.yml
  travis.sh
Labels: Build | Project System, Maybe?, Need Rebase

#3958 Fix build without pulseaudio.
  cmake/SearchForStuff.cmake
  pcsx2/CMakeLists.txt
  pcsx2/USB/usb-mic/api_init_linux.cpp
Labels: Build | Project System, SPU2
