Repository PCSX2/pcsx2, pull requests merged in 2020-04, with the labels that each got.

#3302 Update arabic translations
  bin/Langs/ar_SA/pcsx2_Iconized.mo
  bin/Langs/ar_SA/pcsx2_Main.mo
  locales/ar_SA/pcsx2_Iconized.po
  locales/ar_SA/pcsx2_Main.po
Labels: Needs work, Translations

#3326 Locales: Update translations (fr-FR)
  bin/Langs/fr_FR/pcsx2_Iconized.mo
  bin/Langs/fr_FR/pcsx2_Main.mo
  locales/fr_FR/pcsx2_Iconized.po
  locales/fr_FR/pcsx2_Main.po
Labels: Needs work, Translations

#3336 Revert "gsdx-ogl/d3d11: Add a assert when texture is too small or too big."
  plugins/GSdx/Renderers/DX11/GSDevice11.cpp
  plugins/GSdx/Renderers/OpenGL/GSTextureOGL.cpp
Labels: Plugin: GSdx

#3337 Locale:ja_JP:Update Hotkey notation
  bin/Langs/ja_JP/pcsx2_Main.mo
  locales/ja_JP/pcsx2_Main.po
Labels: Translations
