Repository PCSX2/pcsx2, pull requests merged in 2020-07, with the labels that each got.

#3517 GameDB: Add EETimingHack gamefix to Yakuza.
  bin/GameIndex.dbf
Labels: GameDB

#3507 GSdx-d3d11: SetupIA, allow sprite conversion to be done on the cpu when applicable.
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/DX11/GSTextureFX11.cpp
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.cpp
Labels: GSdx: Direct3D, GSdx: Hardware

#3508 gsdx-d3d11: Modernize swapchain and device creation
  plugins/GSdx/Renderers/DX11/GSDevice11.cpp
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/stdafx.h
Labels: GSdx: Direct3D

#3418 GameDB: Add Xenosaga save point crash patch
  bin/GameIndex.dbf
Labels: GameDB

#3516 gsdx-d3d11: Remove legacy d3dcompiler code
  plugins/GSdx/GS.cpp
  plugins/GSdx/GSUtil.cpp
  plugins/GSdx/GSUtil.h
  plugins/GSdx/Renderers/DX11/GSDevice11.cpp
  plugins/GSdx/Renderers/DX11/GSDevice11.h
  plugins/GSdx/vsprops/common.props
Labels: GSdx: Direct3D, Plugin: GSdx

#3446 Modern Dark Console
  pcsx2/gui/ConsoleLogger.cpp
Labels: Changes translatable strings, GUI/WX

#3424 Fix a few crashes in macOS
  common/src/Utilities/Linux/LnxHostSys.cpp
  pcsx2/gui/RecentIsoList.cpp
Labels: OS: Linux, OS: OSX

#3539 VIF MSCAL instructions wait on VU T-Bit stop
  bin/GameIndex.dbf
  pcsx2/Vif0_Dma.cpp
  pcsx2/Vif1_Dma.cpp
Labels: Core

#3534 GSdx-hw: Improve HW dithering
  plugins/GSdx/res/glsl/tfx_fs.glsl
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Hardware

#3519 Allow running on systems without wx stackwalker
  pcsx2/gui/AppAssert.cpp
Labels: GUI/WX

#3510 Fix no portaudio build
  plugins/spu2-x/src/wx/wxConfig.cpp
Labels: Build | Project System, OS: Linux, Plugin: SPU2-X

#3494 GameDB: Patches for multiple games
  bin/GameIndex.dbf
Labels: GameDB, Needs testing

#3555 IPU: Perform an interrupt on IPU_CTRL Reset.
  bin/GameIndex.dbf
  pcsx2/IPU/IPU.cpp
Labels: IPU

#3293 Resolve Recording Issues for Linux / OnePad users
  .gitignore
  common/include/Utilities/mt_queue.h
  pcsx2/Recording/NewRecordingFrame.cpp
  pcsx2/Recording/RecordingControls.cpp
  pcsx2/Recording/RecordingControls.h
  pcsx2/gui/App.h
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/FrameForGS.cpp
  plugins/onepad/keyboard.cpp
  plugins/onepad/keyboard.h
  plugins/onepad/onepad.cpp
  plugins/onepad_legacy/keyboard.h
  plugins/onepad_legacy/onepad.cpp
Labels: Core, High Priority, Needs review

#3564 gsdx glsl/fx: Remove unused Uber_ATST shader code.
  plugins/GSdx/res/glsl/common_header.glsl
  plugins/GSdx/res/glsl/tfx_fs.glsl
  plugins/GSdx/res/tfx.fx
Labels: GSdx: Hardware

#3567 Gamedb: Cleanup/correct formatting and code comments v2.
  bin/GameIndex.dbf
Labels: GameDB

#3535 Update .clang-format to better match upcoming style guide
  .clang-format
Labels: Quality & Assurance
