Repository PCSX2/pcsx2, pull requests merged in 2020-06, with the labels that each got.

#3433 GSdx-sw: Add Z clamping to GSdx SW mode
  plugins/GSdx/Renderers/SW/GSDrawScanline.cpp
  plugins/GSdx/Renderers/SW/GSDrawScanlineCodeGenerator.x86.avx.cpp
  plugins/GSdx/Renderers/SW/GSDrawScanlineCodeGenerator.x86.avx2.cpp
  plugins/GSdx/Renderers/SW/GSDrawScanlineCodeGenerator.x86.cpp
  plugins/GSdx/Renderers/SW/GSRendererSW.cpp
  plugins/GSdx/Renderers/SW/GSScanlineEnvironment.h
Labels: GSdx: Software, High Priority

#3402 GameDB: Fix Multiple Games
  bin/GameIndex.dbf
Labels: GameDB, Reviewed

#3324 Implemented memory mode check in cop0.cpp
  pcsx2/COP0.cpp
Labels: Core, Needs testing

#3456 GameDB: Add manual gamefixes
  bin/GameIndex.dbf
Labels: GameDB

#3462 GSdx-hw: use SSR in DBZBT3.
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.h
Labels: GSdx: Hardware

#3475 gsdx-ogl: Fix MaxDepthPS byte alignment.
  plugins/GSdx/Renderers/OpenGL/GSRendererOGL.cpp
  plugins/GSdx/res/glsl/common_header.glsl
Labels: GSdx: Hardware, GSdx: OpenGL, High Priority

#3131 GSdx-hw, TC: invalidate Source w overlapping draw.
  plugins/GSdx/Renderers/HW/GSTextureCache.cpp
  plugins/GSdx/Renderers/HW/GSTextureCache.h
Labels: GSdx: Hardware, GSdx: Texture Cache, High Priority, Needs review

#3463 GSdx-hw: use CanUseSwSpriteRender in OI_JakGames.
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
Labels: GSdx: Hardware

#3440 GSdx-d3d11: Remove Alpha Stencil hack.
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.rc
  plugins/GSdx/Renderers/DX11/GSRendererDX11.cpp
  plugins/GSdx/Renderers/DX11/GSRendererDX11.h
  plugins/GSdx/Window/GSSetting.cpp
  plugins/GSdx/Window/GSSettingsDlg.cpp
  plugins/GSdx/resource.h
Labels: GSdx: Direct3D, GSdx: Hardware, GUI/Windows

#3490 Cleanup and fixing formatting of GameDB.
  bin/GameIndex.dbf
Labels: GameDB

#3476 Updating Spanish translation
  bin/Langs/es_ES/pcsx2_Iconized.mo
  bin/Langs/es_ES/pcsx2_Main.mo
  locales/es_ES/pcsx2_Iconized.po
  locales/es_ES/pcsx2_Main.po
Labels: Translations

#3416 GSdx-hw: Remove Itadaki Street hw hack.
  plugins/GSdx/GSCrc.cpp
  plugins/GSdx/GSCrc.h
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.h
Labels: GSdx: Hardware

#3493 GameDB: King of Colosseum Green
  bin/GameIndex.dbf
Labels: GameDB

#3497 GSdx-gui: Limit spin buttons input properly.
  plugins/GSdx/Window/GSSettingsDlg.cpp
Labels: GUI/Windows, Plugin: GSdx
