Repository PCSX2/pcsx2, pull requests merged in 2021-12, with the labels that each got.

#5090 Readme : update links
  README.md
Labels: Documentation

#5073 GameDB: Add fixes for 'Shadow Man - 2econd Coming' and 'Ghosthunter' games.
  bin/GameIndex.yaml
Labels: GameDB

#5091 GHActions: Fix Mac build
  .github/workflows/macos-workflow.yml
Labels: Build | Project System

#5093 Gamedb: add 'VIFFIFOHack' to 'Men in Black II: Alien Escape'
  bin/GameIndex.yaml
Labels: GameDB

#5043 GitHub: Update and add new issue template for non-game related bug reports
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#5097 GameDB: add 'VUKickstartHack' to 'Crash Twinsanity'
  bin/GameIndex.yaml
Labels: GameDB

#5059 actions: Only announce `pre-release` releases
  .github/workflows/scripts/releases/announce-release/index.js
Labels: Build | Project System

#4994 actions: increase max linux build times as well until cache-hit rate is reliable
  .github/workflows/linux-workflow.yml
Labels: Build | Project System

#4960 DEV9: Don't shadow return value of GetAdaptersAddresses (Pcap)
  pcsx2/DEV9/pcap_io.cpp
Labels: DEV9

#5074 DEV9: Enable pcap non-blocking
  pcsx2/DEV9/pcap_io.cpp
Labels: DEV9

#5098 GS Debugger: Fix Length of dump.
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/GS/Window/GSwxDialog.h
Labels: GS

#5075 GS: Fix compiler warning
  pcsx2/GS/GSAlignedClass.h
  pcsx2/GS/GSRingHeap.h
Labels: GS

#5106 GameDB: add patches to the 'K-1 World' series games add EE clamping full to 'D1 Professional Drift Grand Prix Series'
  bin/GameIndex.yaml
Labels: GameDB

#5114 GameDB:add EEclamping full to 'Shinobido Takumi'
  bin/GameIndex.yaml
Labels: GameDB

#5116 GameDB: add VU clamping to 'MVP Baseball 2003'
  bin/GameIndex.yaml
Labels: GameDB

#5024 GS SW: Handle flat prims without float conversion
  pcsx2/GS/Renderers/SW/GSDrawScanline.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSNewCodeGenerator.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSScanlineEnvironment.h
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.all.cpp
Labels: GS, GS: Software

#5115 Only pass C++ flags to C++ files.
  cmake/BuildParameters.cmake
Labels: Build | Project System

#5128 GS-ogl: Optimize fragment shader uniform buffer.
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/OpenGL/GSRendererOGL.cpp
  pcsx2/GS/res/glsl/common_header.glsl
Labels: GS, GS: OpenGL

#5118 Gamedb: add EEtiminghack to 'MGS2' and change VU and EE rounding for 'Primal' and add missing entries
  bin/resources/GameIndex.yaml
Labels: GameDB

#5145 GameDB: add patches to the 'Netsu Chu!' series and 'Samurai 7' series
  bin/resources/GameIndex.yaml
Labels: GameDB

#5148 Gamdb:add EE clamping to 'Chou Saisoku! Zokusha King B.U.'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5150 Gamedb: add EEclamping to 'Dark cloud 2'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5152 CMake: Remove gio dependency on macOS
  .github/workflows/macos-workflow.yml
  cmake/SearchForStuff.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#5158 Add "Jikkyou Powerful Pro Yakyuu 2009" to GameDB
  bin/resources/GameIndex.yaml
Labels: GameDB

#5153 Gamedb: add patches to 2k games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5142 CDVD: Fix some read timing logic
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#5161 VS: Fix location of shaders in project
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System

#5166 Gamedb: add more 2k games patches
  bin/resources/GameIndex.yaml
Labels: GameDB

#5172 Gamedb add gamefixes to 'Titeuf Mega-compet' and patch 'Yamiyo ni Sasayaku - Tantei Sagara Kyouichirou' series
  bin/resources/GameIndex.yaml
Labels: GameDB

#5182 CDVD: Check file actually opened before proceeding
  pcsx2/CDVD/InputIsoFile.cpp
Labels: CDVD

#5178 GameDB: Add EE Clamping to 'Digimon Battle Chronicle' and fixes to other games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5032 USB: Gametrak/RealPlay
  pcsx2/USB/device_init.cpp
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-pad/dx/dinput-config.cpp
  pcsx2/USB/usb-pad/dx/dinput.cpp
  pcsx2/USB/usb-pad/dx/dx.h
  pcsx2/USB/usb-pad/dx/usb-pad-dx.cpp
  pcsx2/USB/usb-pad/dx/versionproxy.h
  pcsx2/USB/usb-pad/dx/versionproxy.rc
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#5185 GameDB: change VUclamping on "Sled Storm"
  bin/resources/GameIndex.yaml
Labels: GameDB

#5180 GS: Fix looping over pages of textures with massive strides
  pcsx2/GS/GSLocalMemory.cpp
  pcsx2/GS/GSLocalMemory.h
Labels: GS

#5100 Linux and Windows CMake Builds: Change output executable to lowercase
  .github/workflows/scripts/linux/appimage.sh
  .github/workflows/windows-workflow.yml
  .gitignore
  linux_various/PCSX2-linux.sh
  linux_various/PCSX2.desktop.in
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#4385 GS: Simulate scan mask (fix transparency in MGS2 & MGS3)
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/DX11/GSTextureFX11.cpp
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/SW/GSRasterizer.cpp
  pcsx2/GS/Renderers/SW/GSRasterizer.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: Enhancement / Feature Request, GS, GS: Software, GS: Hardware, GS: Direct3D, GS: OpenGL

#5187 GameDB: add VU clamping to "Ultimate Spider-Man" and fixes to other games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5213 GS-hw: Extend Blend mix to work when alpha is higher than 1.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSTextureFX11.cpp
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: Hardware, GS: Direct3D, GS: OpenGL

#5196 GS: Move afix check to high blend level
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware

#5132 Make native builds default on Linux when using build.sh. Remove unused switch.
  build.sh
Labels: Installer | Package, Build | Project System

#4975 Add "Clear missing files" option to recent ISO list
  pcsx2/gui/App.h
  pcsx2/gui/MainFrame.cpp
  pcsx2/gui/MainFrame.h
  pcsx2/gui/MainMenuClicks.cpp
  pcsx2/gui/RecentIsoList.cpp
  pcsx2/gui/RecentIsoList.h
Labels: GUI/WX, First Time Contribution

#5220 GSDumpDialog: Cache length instead of querying every packet
  pcsx2/gui/Dialogs/GSDumpDialog.cpp
Labels: GUI/WX

#5222 GS: Try to fix -Wreorder warning.
  pcsx2/GS/GSState.cpp
Labels: GS

#5219 GHActions: Fix game controller db updater
  .github/workflows/update-controller-db.yml
Labels: Build | Project System

#5135 GS-hw: Optimize pabe (per pixel alpha blending)
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware

#5234 GameDB: remove patches for 'Neo Contra' and add EE rounding and clamping
  bin/resources/GameIndex.yaml
Labels: GameDB

#5238 Rename ConfigSoundtouch.cpp to ConfigSoundTouch.cpp
  pcsx2/SPU2/Windows/ConfigSoundTouch.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: SPU2, Build | Project System, First Time Contribution
