Repository PCSX2/pcsx2, pull requests merged in 2021-08, with the labels that each got.

#4632 GS-d3d11: Cleanup fxaa and external shader.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
Labels: GS, GS: Direct3D

#4643 GameDB: add 'EEtiming hack' to Way of the Samurai & Sega Soccer Slam
  bin/GameIndex.yaml
Labels: GameDB

#4644 Misc:Debugger: Fix vmulai and vmaddai disassembly
  pcsx2/DebugTools/DisR5900asm.cpp
Labels: Debugger

#4645 CDVD: Fix CdlReadS for PS1 games with CDDA.
  pcsx2/CDVD/CdRom.cpp
Labels: CDVD

#4617 X86Emitter: Use __rdtsc define on non-msvc compilers
  common/src/x86emitter/cpudetect.cpp
Labels: Needs Linux testing

#4646 CDVD: Implement SCMD 0x27
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#4647 Counters: Correct H-Blank for 1080i mode
  pcsx2/Counters.cpp
  pcsx2/Counters.h
Labels: Counters

#4592 Dependencies:GL
  3rdparty/GL/glcorearb.h
  3rdparty/GL/glext.h
  3rdparty/GL/khrplatform.h
  3rdparty/GL/wglext.h
Labels: Dependencies

#4659 Docs: correct GameIndex.md
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#4651 Add StartupWMClass to desktop file
  linux_various/PCSX2.desktop.in
Labels: OS: Linux, First Time Contribution

#4527 KeyboardQueue: Remove a Windows-specific critsec
  pcsx2/PAD/Windows/KeyboardQueue.cpp
Labels: PAD: Windows

#4570 Dependencies: Update GHC 1.5.4 to 1.5.8
  3rdparty/include/ghc/filesystem.h
Labels: Dependencies

#4657 github: Switch to new issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Build | Project System

#4668 microVU: Don't emit add reg, 0 in a few instructions
  pcsx2/x86/microVU_Lower.inl
Labels: Vector Units

#4663 Misc: Fix lastpath updating when using the --elf cmdline arg
  pcsx2/gui/AppInit.cpp
Labels: GUI/WX

#4675 wx: make position validation multi-monitor aware
  common/src/Utilities/wxGuiTools.cpp
Labels: GUI/WX

#4682 GS-GUI: Enable Software Edge-Aliasing by default
  pcsx2/GS/GS.cpp
Labels: GS

#4579 cmake: Fix missing librt include
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#4676 IOPBios: Fix OOB read when IRQ line is invalid.
  pcsx2/IopBios.cpp
Labels: Core

#4680 GameDB:Powerpuff Girls
  bin/GameIndex.yaml
Labels: GameDB

#4629 GameDB: Ratchet and Clank (EEtiming)
  bin/GameIndex.yaml
Labels: GameDB

#4679 GameDB: add 'EE timing hack' to Spartan: Total Warrior
  bin/GameIndex.yaml
Labels: GameDB

#4684 Remove MakeUnique.h, which is unused.
  common/build/Utilities/utilities.vcxproj
  common/build/Utilities/utilities.vcxproj.filters
  common/include/Utilities/Dependencies.h
  common/include/Utilities/MakeUnique.h
  common/src/Utilities/CMakeLists.txt
Labels: Build | Project System

#4686 gs: Cleanup remaining stuff from sse2/3 purge.
  pcsx2/GS/GSBlock.h
  pcsx2/GS/GSCapture.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSVector4i.h
Labels: GS

#4648 SPU2: Remove Waveout backend from Windows
  pcsx2/SPU2/SndOut.cpp
  pcsx2/SPU2/SndOut.h
  pcsx2/SPU2/Windows/Config.cpp
  pcsx2/SPU2/Windows/SPU2.rc
  pcsx2/SPU2/Windows/SndOut_waveOut.cpp
  pcsx2/SPU2/Windows/WinConfig.h
  pcsx2/SPU2/Windows/resource.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: SPU2, Build | Project System

#4640 AppMain: Fix no$ symbol loading for elfs
  pcsx2/gui/AppMain.cpp
Labels: GUI/WX

#4691 gs: purge clut reload before draw hack
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#4692 CMake: Match recently removed files from vcxproj
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#4681 GHActions:Linux: Make ccache config global
  .github/workflows/linux-workflow.yml
  .github/workflows/scripts/linux/compile.sh
Labels: Build | Project System

#4699 SPU2: Adjust DMA timings for IRQ's and small packets
  pcsx2/SPU2/Dma.cpp
  pcsx2/SPU2/spu2sys.cpp
Labels: SPU2

#4700 SPU2: Don't initialise sound buffer if it's not open
  pcsx2/SPU2/spu2.cpp
Labels: SPU2
