Repository PCSX2/pcsx2, pull requests merged in 2021-07, with the labels that each got.

#4505 Translations: Remove unnecessary warning regarding string length
  common/include/Utilities/Dependencies.h
  common/src/Utilities/pxTranslate.cpp
Labels: Translations

#4509 CI: Update pr labelers to match gs merge
  .github/labeler.yml
Labels: Build | Project System

#4430 Misc: Pattern match to find the BIOS thread address
  pcsx2/DebugTools/BiosDebugData.cpp
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/R5900OpcodeTables.h
  pcsx2/ps2/BiosTools.cpp
  pcsx2/ps2/BiosTools.h
Labels: Debugger

#4281 General cleanup of various linux pad code.
  pcsx2/CMakeLists.txt
  pcsx2/PAD/Linux/Config.cpp
  pcsx2/PAD/Linux/Config.h
  pcsx2/PAD/Linux/Device.cpp
  pcsx2/PAD/Linux/Device.h
  pcsx2/PAD/Linux/Global.h
  pcsx2/PAD/Linux/InputManager.cpp
  pcsx2/PAD/Linux/InputManager.h
  pcsx2/PAD/Linux/KeyStatus.cpp
  pcsx2/PAD/Linux/KeyStatus.h
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/PAD.h
  pcsx2/PAD/Linux/SDL/joystick.cpp
  pcsx2/PAD/Linux/SDL/joystick.h
  pcsx2/PAD/Linux/bitwise.h
  pcsx2/PAD/Linux/keyboard.cpp
  pcsx2/PAD/Linux/keyboard.h
  pcsx2/PAD/Linux/linux.cpp
  pcsx2/PAD/Linux/state_management.cpp
  pcsx2/PAD/Linux/state_management.h
  pcsx2/PAD/Linux/wx_dialog/GamepadConfiguration.cpp
  pcsx2/PAD/Linux/wx_dialog/GamepadConfiguration.h
  pcsx2/PAD/Linux/wx_dialog/JoystickConfiguration.cpp
  pcsx2/PAD/Linux/wx_dialog/JoystickConfiguration.h
  pcsx2/PAD/Linux/wx_dialog/dialog.cpp
  pcsx2/PAD/Linux/wx_dialog/dialog.h
  pcsx2/PAD/Linux/wx_dialog/opPanel.h
Labels: Build | Project System, Code Cleanup / Refactoring, OS: Linux, PAD: Linux/Mac

#4483 MTVU: Fix freeze on shutdown
  pcsx2/MTGS.cpp
Labels: Core

#4503 microVU: Enable T-Bit to work with MTVU
  pcsx2/Gif_Unit.cpp
  pcsx2/MTVU.cpp
  pcsx2/MTVU.h
  pcsx2/VU1micro.cpp
  pcsx2/VUmicro.cpp
  pcsx2/Vif1_Dma.cpp
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_Branch.inl
  pcsx2/x86/microVU_Compile.inl
  pcsx2/x86/microVU_Misc.inl
Labels: VIF, Vector Units

#4508 GS-hw: Enable pabe bit only when sw blending is enabled
  pcsx2/GS/Renderers/DX11/GSRendererDX11.cpp
  pcsx2/GS/Renderers/OpenGL/GSRendererOGL.cpp
Labels: GS, GS: Direct3D, GS: Hardware, GS: OpenGL

#4410 UI: Asynchronous BIOS enumeration
  pcsx2/gui/Panels/BiosSelectorPanel.cpp
  pcsx2/gui/Panels/ConfigurationPanels.h
Labels: GUI/WX

#4522 ci: Split avx2 and non-avx2 windows builds
  .github/workflows/lint-gamedb.yml
  .github/workflows/linux-workflow.yml
  .github/workflows/macos-workflow.yml
  .github/workflows/pr-triage.yml
  .github/workflows/windows-workflow.yml
  README.md
Labels: Build | Project System, Documentation

#4526 IPU: Fix SETTH threshold masks
  pcsx2/IPU/IPU.cpp
Labels: IPU

#4404 GSFrame: Pass focus to GSPanel once Frame receives focus
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/GSFrame.h
Labels: GUI/WX

#4370 SPU2: Clean up + add Gaussian value in comment
  pcsx2/SPU2/Linux/Config.cpp
  pcsx2/SPU2/Mixer.cpp
  pcsx2/SPU2/SndOut_Portaudio.cpp
  pcsx2/SPU2/SndOut_SDL.cpp
  pcsx2/SPU2/Windows/Config.cpp
  pcsx2/SPU2/Windows/SPU2.rc
  pcsx2/SPU2/spu2.cpp
  pcsx2/SPU2/wx/wxConfig.cpp
  pcsx2/SPU2/wx/wxConfig.h
Labels: SPU2

#4533 GameDB: add missing serials
  bin/GameIndex.yaml
Labels: GameDB

#4537 GameDB: add missing serials to GameDB
  bin/GameIndex.yaml
Labels: GameDB

#4551 GameDB: Changing some Spanish-exclusive disc content.
  bin/GameIndex.yaml
Labels: GameDB

#4539 VU: Improve sync with VU Kickstart, loosen without kickstart
  pcsx2/VUmicro.cpp
  pcsx2/x86/ix86-32/iR5900LoadStore.cpp
  pcsx2/x86/microVU_Macro.inl
Labels: Vector Units

#4541 GameDB: Add dynamic patching for Ratchet & Clank games
  .github/workflows/scripts/validation/lint-gamedb/lint-gamedb.py
  bin/GameIndex.yaml
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/SPR.cpp
  pcsx2/gui/Panels/GameFixesPanel.cpp
  pcsx2/x86/ix86-32/iR5900-32.cpp
Labels: Build | Project System, GUI/WX, GameDB

#4552 GameDB: Adding a couple of demo discs.
  bin/GameIndex.yaml
Labels: GameDB

#4553 GameDB: Official Playstation Demo serials
  bin/GameIndex.yaml
Labels: GameDB

#4530 SPU: Delete broken/unused alsa backend
  pcsx2/CMakeLists.txt
  pcsx2/SPU2/Linux/Alsa.cpp
  pcsx2/SPU2/Linux/Alsa.h
  pcsx2/SPU2/SndOut.cpp
  pcsx2/SPU2/SndOut.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, OS: Linux, SPU2

#4554 3rdparty: add jpgd project
  3rdparty/jpgd/jpgd.cpp
  3rdparty/jpgd/jpgd.vcxproj
  3rdparty/jpgd/jpge.cpp
  PCSX2_suite.sln
  pcsx2/USB/usb-eyetoy/cam-windows.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, Dependencies, USB

#4560 vs: clean up libsamplerate project
  3rdparty/libsamplerate/libsamplerate.vcxproj
Labels: Build | Project System, Dependencies

#4561 vs: properly disable gm and warnings
  3rdparty/3rdparty.props
  3rdparty/baseclasses/baseclasses.vcxproj
  3rdparty/fmt/fmt.vcxproj
  3rdparty/freetype/builds/windows/freetype.vcxproj
  3rdparty/libchdr/libchdr.vcxproj
  3rdparty/libjpeg/libjpeg.vcxproj
  3rdparty/libpng/projects/vstudio/libpng/libpng.vcxproj
  3rdparty/portaudio/build/msvc/portaudio.vcxproj
  3rdparty/pthreads4w/build/pthreads4w.vcxproj
  3rdparty/soundtouch/SoundTouch.vcxproj
  3rdparty/wxwidgets3.0/build/msw/Common.props
  3rdparty/wxwidgets3.0/build/msw/wx30_adv.vcxproj
  3rdparty/wxwidgets3.0/build/msw/wx30_base.vcxproj
  3rdparty/wxwidgets3.0/build/msw/wx30_core.vcxproj
  3rdparty/xz/liblzma.vcxproj
  3rdparty/yaml-cpp/yaml.vcxproj
  3rdparty/zlib/zlib.vcxproj
  common/build/Utilities/utilities.vcxproj
  common/build/x86emitter/x86emitter.vcxproj
  common/vsprops/IncrementalLinking.props
Labels: Build | Project System, Dependencies

#4427 Workflow improvements
  .github/workflows/lint-gamedb.yml
  .github/workflows/linux-workflow.yml
  .github/workflows/macos-workflow.yml
  .github/workflows/pr-triage.yml
  .github/workflows/scripts/linux/compile.sh
  .github/workflows/scripts/windows/validate-vs-filters.ps1
  .github/workflows/windows-workflow.yml
  .gitmodules
  build.sh
Labels: Build | Project System, Dependencies, First Time Contribution, Installer | Package

#4510 Remove __rdtsc define. Gets rid of 30 million warnings on Linux while compiling.
  pcsx2/GS/GS.h
Labels: Code Cleanup / Refactoring, GS, OS: Linux

#4565 vs: drop asio build configuration for portaudio
  3rdparty/portaudio/build/msvc/portaudio.vcxproj
  PCSX2_suite.sln
Labels: Build | Project System, Dependencies

#4566 Don't update homebrew when not necessary
  .github/workflows/macos-workflow.yml
Labels: Build | Project System

#4517 SaveState: Use enum for freeze mode
  pcsx2/GS.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/MTGS.cpp
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/PAD.h
  pcsx2/PAD/Windows/PAD.cpp
  pcsx2/PAD/Windows/PAD.h
  pcsx2/SPU2/spu2.cpp
  pcsx2/SPU2/spu2.h
  pcsx2/SaveState.h
  pcsx2/USB/USB.cpp
  pcsx2/USB/USB.h
  pcsx2/USB/USBNull.cpp
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.h
  pcsx2/USB/usb-hid/usb-hid.cpp
  pcsx2/USB/usb-hid/usb-hid.h
  pcsx2/USB/usb-mic/usb-headset.cpp
  pcsx2/USB/usb-mic/usb-headset.h
  pcsx2/USB/usb-mic/usb-mic-singstar.cpp
  pcsx2/USB/usb-mic/usb-mic-singstar.h
  pcsx2/USB/usb-msd/usb-msd.cpp
  pcsx2/USB/usb-msd/usb-msd.h
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
  pcsx2/USB/usb-pad/usb-seamic.cpp
  pcsx2/gui/Dialogs/GSDumpDialog.cpp
  pcsx2/gui/GlobalCommands.cpp
  pcsx2/gui/MainMenuClicks.cpp
  pcsx2/gui/SysState.cpp
Labels: GS, GUI/WX, PAD: Linux/Mac, PAD: Windows, SPU2, USB

#4571 USB: Freeze mode enum for keyboardmania
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#4562 Debian: Remove debian specific packaging hooks.
  .github/workflows/macos-workflow.yml
  .github/workflows/windows-workflow.yml
  debian-packager/README.Debian
  debian-packager/changelog
  debian-packager/compat
  debian-packager/control
  debian-packager/copyright
  debian-packager/create_built_tarball.sh
  debian-packager/docs
  debian-packager/install
  debian-packager/lintian-overrides
  debian-packager/manpages
  debian-packager/menu
  debian-packager/patches/series
  debian-packager/postinst
  debian-packager/rules
  debian-packager/source/format
  debian-packager/source/options
  debian-packager/watch
Labels: Build | Project System

#4512 GUI: Re-order config settings
  pcsx2/gui/MainFrame.cpp
Labels: GUI/WX

#4572 vcxproj: Include shaders in vs project.
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System

#4499 System | Windows: Print active power profile on application launch
  pcsx2/System.cpp
  pcsx2/System.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/windows/WinPowerProfile.cpp
Labels: Build | Project System, Enhancement / Feature Request, OS: Windows

#4573 CMake: Fix cmake reconfigure breaking dependencies
  cmake/CheckLib.cmake
Labels: Build | Project System

#4578 CHD: Fix parent search on windows
  pcsx2/CDVD/ChdFileReader.cpp
Labels: CDVD

#4581 SPU: Remove NEVER_SKIP_VOICES
  pcsx2/SPU2/Mixer.cpp
Labels: SPU2

#4582 SPU2: remove unused variable
  pcsx2/SPU2/spu2.cpp
Labels: SPU2

#4613 IPU: Store thresholds for color conversions in u16, bump savestate version.
  pcsx2/IPU/IPU.cpp
  pcsx2/SaveState.h
Labels: IPU

#4529 GHActions: Remove dashes from build names
  .github/workflows/linux-workflow.yml
Labels: Build | Project System

#4626 GameDB: add 'XGKickHack' to Super Monkey Ball Adventure
  bin/GameIndex.yaml
Labels: GameDB

#4621 Counters: Reset Timer Count Regardless of Interrupt Enable
  pcsx2/Counters.cpp
Labels: Counters

#4618 vcxproj: Cleanup file includes, makes the solution a bit more tidy.
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System

#4615 GS: Manage draw rectangle in GS instead of wx
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/GSFrame.h
  pcsx2/gui/GlobalCommands.cpp
Labels: GS, GUI/WX

#4631 microVU: Clean up a few warnings.
  pcsx2/x86/microVU_Compile.inl
  pcsx2/x86/microVU_Misc.inl
Labels: Vector Units

#4556 GameDB: Patches for 18 games (or 15 individual games)
  bin/GameIndex.yaml
Labels: GameDB, Needs work

#4564 PGIF Logging
  pcsx2/DebugTools/Debug.h
  pcsx2/HwWrite.cpp
  pcsx2/SourceLog.cpp
  pcsx2/gui/ConsoleLogger.cpp
  pcsx2/ps2/pgif.cpp
Labels: Debugger, GUI/WX
