Repository PCSX2/pcsx2, pull requests merged in 2021-06, with the labels that each got.

#4464 usb: Fix a few more warnings.
  pcsx2/USB/usb-eyetoy/cam-windows.cpp
  pcsx2/USB/usb-eyetoy/cam-windows.h
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
Labels: USB

#4448 DEV9: Always use binary mode for HDD file
  pcsx2/DEV9/ATA/ATA_State.cpp
Labels: DEV9

#4478 GameDB:adds VU clamping mode extra to 'Enthusia Professional Racing'
  bin/GameIndex.yaml
Labels: GameDB

#4460 Core: Make DMA's instant during the BIOS
  pcsx2/R5900.cpp
Labels: Core

#4392 Input Recording - Add warning when creating a save-state recording
  pcsx2/Recording/NewRecordingFrame.cpp
  pcsx2/Recording/NewRecordingFrame.h
Labels: TAS Functionality

#4488 GameDB- remove 'OPHFLagHack' for "Naruto - Uzumaki Chronicles 2"
  bin/GameIndex.yaml
Labels: GameDB

#4496 [DEV9] pcap, check size of read packet
  pcsx2/DEV9/pcap_io.cpp
Labels: DEV9

#4466 Fix gamepad choice not affecting rumble test on Linux
  pcsx2/PAD/Linux/wx_dialog/GamepadConfiguration.cpp
Labels: First Time Contribution, PAD: Linux/Mac

#4495 Explicitly link setupapi
  pcsx2/windows/VCprojects/vsprops/common.props
Labels: Build | Project System
