Repository PCSX2/pcsx2, pull requests merged in 2021-01, with the labels that each got.

#4082 GS: Remove Unofficial CRCs
  plugins/GSdx/GSCrc.cpp
  plugins/GSdx/GSCrc.h
Labels: Plugin: GS

#3999 Add GHC Filesystem
  3rdparty/include/ghc/filesystem.h
  common/build/Utilities/utilities.vcxproj
  common/src/Utilities/CMakeLists.txt
  common/vsprops/3rdpartyDeps.props
Labels: Build | Project System, High Priority, Upstream | External

#4084 Update mscompile.cmd to build with VC2019
  mscompile.cmd
Labels: Build | Project System, OS: Windows

#4062 DEV9: Support 16bit reads/writes to SPD_R_PIO_DATA & SPD_R_PIO_DIR
  pcsx2/DEV9/DEV9.cpp
Labels: DEV9

#4113 Fix out of bounds array access in folder memcards
  pcsx2/gui/MemoryCardFolder.cpp
Labels: Memory Card

#3973 GSdx-GUI: Conservative buffer allocation, reordering and more
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/GSdx.rc
  plugins/GSdx/Renderers/HW/GSRendererHW.cpp
  plugins/GSdx/Renderers/HW/GSRendererHW.h
  plugins/GSdx/Window/GSLinuxDialog.cpp
  plugins/GSdx/Window/GSSetting.cpp
  plugins/GSdx/Window/GSSetting.h
  plugins/GSdx/Window/GSSettingsDlg.cpp
  plugins/GSdx/resource.h
Labels: Needs work, Plugin: GS

#3011 Implements IOP breakpoints
  pcsx2/DebugTools/Breakpoints.cpp
  pcsx2/DebugTools/Breakpoints.h
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/DebugInterface.h
  pcsx2/Interpreter.cpp
  pcsx2/R3000A.cpp
  pcsx2/R3000A.h
  pcsx2/R5900.cpp
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/Debugger/BreakpointWindow.cpp
  pcsx2/gui/Debugger/CtrlDisassemblyView.cpp
  pcsx2/gui/Debugger/DebuggerLists.cpp
  pcsx2/gui/Debugger/DisassemblyDialog.cpp
  pcsx2/x86/iR3000A.cpp
  pcsx2/x86/ix86-32/iR5900-32.cpp
Labels: Debugger, IOP

#3990 Core: Plugin resume after configure
  pcsx2/gui/AppCorePlugins.cpp
Labels: Core

#4112 ci: Improve windows artifact naming
  .github/workflows/windows-workflow.yml
Labels: Build | Project System

#4115 PAD/Counters: Make VSync Queue adjustable in the UI. Extra Pad update.
  pcsx2/Counters.cpp
  pcsx2/MTGS.cpp
  pcsx2/gui/Panels/ConfigurationPanels.h
  pcsx2/gui/Panels/VideoPanel.cpp
Labels: Core, GUI/WX

#4134 SPU2: Switch to a more accurate noise algorithm
  pcsx2/SPU2/Mixer.cpp
  pcsx2/SPU2/defs.h
  pcsx2/SPU2/spu2sys.cpp
  pcsx2/SaveState.h
Labels: SPU2

#4058 recording: Update the GS Frame's freq. properly on enabling/disabling input recording
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/GSFrame.h
  pcsx2/gui/MainMenuClicks.cpp
Labels: TAS Functionality

#4155 SPR: Wrap transfers which would have read outside of SPR memory
  pcsx2/SPR.cpp
Labels: Core

#4165 GUI:fix capitalisation in GUI
  pcsx2/gui/MainFrame.cpp
Labels: Changes translatable strings, GUI/WX

#4168 pad-linux: Update logs
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/SDL/joystick.cpp
Labels: PAD: Linux/Mac
