Repository PCSX2/pcsx2, pull requests merged in 2021-11, with the labels that each got.

#4768 Gamedb: Typo Cleanup
  bin/GameIndex.yaml
Labels: GameDB

#4969 GS: Don't propagate 24bit textures on download
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#4968 GS-ogl: Remove checks for extensions we don't yet use.
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
  pcsx2/GS/config.h
Labels: GS, GS: OpenGL

#4970 actions: create automatic controller db updating workflow
  .github/workflows/scripts/controller-db/.gitignore
  .github/workflows/scripts/controller-db/update-db.py
  .github/workflows/update-controller-db.yml
Labels: Build | Project System

#4966 GS: Fix up CLUT offset handling in 32bit I8 mode
  pcsx2/GS/GSClut.cpp
  pcsx2/GS/GSClut.h
Labels: GS

#4973 actions: cleanup discord embed links and add release body
  .github/workflows/scripts/releases/announce-release/index.js
Labels: Build | Project System

#4981 GameDB: Add and fix SingStar Entries
  bin/GameIndex.yaml
Labels: GameDB

#4809 GUI(linux): Abort 'set all buttons' & fixed window size
  pcsx2/PAD/Linux/wx_dialog/dialog.cpp
  pcsx2/PAD/Linux/wx_dialog/dialog.h
Labels: PAD: Linux/Mac

#4991 GameDB: add EE clamping to 'Shadow of Zorro' and 'Evil Twin - Cyprien's Chronicles'
  bin/GameIndex.yaml
Labels: GameDB

#4984 GameDB: Add and fix Power Pros series
  bin/GameIndex.yaml
Labels: GameDB

#4945 input-rec: Use a constant RTC for power-on recordings
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#4983 Debugger: Make the register list DPI aware (Windows)
  pcsx2/gui/Debugger/CtrlRegisterList.cpp
  pcsx2/gui/Debugger/CtrlRegisterList.h
Labels: GUI/WX, Debugger

#5000 GS:SW: Fix fog on x64 avx2
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
Labels: GS, GS: Software

#5003 Debugger: Fix breakpoint edit window on linux
  pcsx2/gui/Debugger/BreakpointWindow.cpp
Labels: GUI/WX, Debugger

#4993 GS-ogl: Remove device, driver checks in GLLoader.
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.h
Labels: GS, GS: OpenGL

#5004 GameDB: add nearest rounding to 'Hitman - Contracts' and various fixes
  bin/GameIndex.yaml
Labels: GameDB

#5007 GameDB:add 'GIFFIFOHack' to 'Gunfighter 2 - Legend of Jesse James'
  bin/GameIndex.yaml
Labels: GameDB

#5013 GS: Fix Half Pixel Offset and Half Screen Fix config swap
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/GS/Window/GSwxDialog.h
Labels: GS

#5020 GameDB: add ee-rounding and vu-rounding to various entries
  bin/GameIndex.yaml
Labels: GameDB

#5016 Debugger: Allow access to all of 0xBXXXXXXX
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger

#5026 GS-gui: Change blending option from None to Minimum.
  pcsx2/GS/GS.cpp
  pcsx2/GS/Window/GSSetting.cpp
Labels: GS

#5031 Debugger: Make memory dialog transparent
  pcsx2/gui/Debugger/DisassemblyDialog.cpp
Labels: GUI/WX, Debugger

#5033 Update the FAQ, as well as some general cleanup.
  pcsx2/Docs/PCSX2_FAQ.md
Labels: Documentation

#4989 wx: Fix `pxExplore` on macOS
  pcsx2/gui/Panels/DirPickerPanel.cpp
  pcsx2/gui/wxGuiTools.cpp
  pcsx2/gui/wxGuiTools.h
Labels: GUI/WX

#5039 3rd Party: Update rogue file to correct BSD license
  3rdparty/libsamplerate/config.h
Labels: Dependencies

#5040 Build: Remove old unused cheatscpp.h file
  pcsx2/CMakeLists.txt
  pcsx2/cheatscpp.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System

#4985 Create a shared pad header, get rid of the originals, and do some cleanup.
  pcsx2/CMakeLists.txt
  pcsx2/PAD/Gamepad.h
  pcsx2/PAD/Linux/Global.h
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/keyboard.cpp
  pcsx2/PAD/Linux/linux.cpp
  pcsx2/PAD/Windows/Global.h
  pcsx2/PAD/Windows/PAD.cpp
  pcsx2/PAD/Windows/PAD.h
  pcsx2/PAD/Windows/PADConfig.cpp
  pcsx2/SaveState.cpp
  pcsx2/Sio.cpp
  pcsx2/System/SysCoreThread.cpp
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/FrameForGS.cpp
  pcsx2/gui/MainMenuClicks.cpp
  pcsx2/gui/SysState.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, GUI/WX, PAD: Windows, PAD: Linux/Mac, Code Cleanup / Refactoring

#5023 Gamedb : add various fixes for various games and remove not needed patches
  bin/GameIndex.yaml
Labels: GameDB

#4971 GS: Redo the Texture min/max opt
  pcsx2/GS/GSState.cpp
Labels: GS

#5048 microVU: Preserve XGKIck cycles in delay slot
  pcsx2/x86/microVU_Compile.inl
Labels: Vector Units

#5030 GUI: Bring back F6 string (Aspect Ratio)
  pcsx2/gui/Panels/GSWindowPanel.cpp
Labels: GUI/WX

#5050 Debugger: Format search hits with proper specifier
  pcsx2/gui/Debugger/CtrlMemSearch.cpp
Labels: GUI/WX, Debugger

#5052 3rdparty: Upgrade xbyak to 6.00
  3rdparty/xbyak/xbyak/COPYRIGHT
  3rdparty/xbyak/xbyak/xbyak.h
  3rdparty/xbyak/xbyak/xbyak_mnemonic.h
  3rdparty/xbyak/xbyak/xbyak_util.h
Labels: Dependencies

#5051 3rdparty: Upgrade soundtouch lib to 2.3.1
  3rdparty/soundtouch/COPYING.TXT
  3rdparty/soundtouch/README.html
  3rdparty/soundtouch/soundtouch/FIFOSampleBuffer.h
  3rdparty/soundtouch/soundtouch/STTypes.h
  3rdparty/soundtouch/soundtouch/SoundTouch.h
  3rdparty/soundtouch/source/SoundTouch/BPMDetect.cpp
  3rdparty/soundtouch/source/SoundTouch/FIFOSampleBuffer.cpp
  3rdparty/soundtouch/source/SoundTouch/FIRFilter.cpp
  3rdparty/soundtouch/source/SoundTouch/FIRFilter.h
  3rdparty/soundtouch/source/SoundTouch/InterpolateCubic.h
  3rdparty/soundtouch/source/SoundTouch/InterpolateLinear.cpp
  3rdparty/soundtouch/source/SoundTouch/InterpolateLinear.h
  3rdparty/soundtouch/source/SoundTouch/InterpolateShannon.h
  3rdparty/soundtouch/source/SoundTouch/PeakFinder.cpp
  3rdparty/soundtouch/source/SoundTouch/RateTransposer.cpp
  3rdparty/soundtouch/source/SoundTouch/RateTransposer.h
  3rdparty/soundtouch/source/SoundTouch/TDStretch.cpp
  3rdparty/soundtouch/source/SoundTouch/sse_optimized.cpp
Labels: Upstream | External, Dependencies

#5049 Gamedb : ADD fixes for various games
  bin/GameIndex.yaml
Labels: GameDB

#5057 Gamedb: remove the patch for Virtua Fighter 4
  bin/GameIndex.yaml
Labels: GameDB

#5058 GameDB: purge patches for 'Knockout Kings 2002'
  bin/GameIndex.yaml
Labels: GameDB

#5035 GS: Improve FixedTEX0 accuracy
  pcsx2/GS/GSDrawingContext.cpp
Labels: GS

#5056 CDVD: Adjust DMA timing based on PS1 timings.
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CdRom.cpp
Labels: CDVD

#5060 GameDB : fix Fuuraiki 2 patch
  bin/GameIndex.yaml
Labels: GameDB

#5065 GS: Partial revert of #5061
  pcsx2/GS/Renderers/DX11/GSRendererDX11.cpp
  pcsx2/GS/Renderers/OpenGL/GSRendererOGL.cpp
Labels: GS, GS: Direct3D, GS: OpenGL

#4982 GHActions: Don't shallow clone submodules
  .gitmodules
Labels: Dependencies

#5067 GS/OpenGL: Use CreateRenderTarget() for temp HDR target
  pcsx2/GS/Renderers/OpenGL/GSRendererOGL.cpp
Labels: GS, GS: OpenGL

#5072 GS-wx: Fix some gui interaction.
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/GS/Window/GSwxDialog.h
Labels: GS, GUI/WX

#4999 CMake: Always default `CMAKE_BUILD_PO` off
  cmake/BuildParameters.cmake
Labels: Build | Project System

#5064 GS-d3d11: Properly set afix in EmulateBlending.
  pcsx2/GS/Renderers/DX11/GSRendererDX11.cpp
  pcsx2/GS/Renderers/DX11/GSRendererDX11.h
Labels: GS, OS: Windows, GS: Direct3D

#4938 Fix compilation with LTO on GCC
  common/CMakeLists.txt
Labels: Build | Project System

#4451 Allow relative elf file paths on command line
  pcsx2/gui/AppInit.cpp
Labels: GUI/WX
