Repository PCSX2/pcsx2, pull requests merged in 2021-05, with the labels that each got.

#4382 Input Recording: Resolve crash when closing emulator involving GUI elements
  pcsx2/Recording/InputRecordingControls.cpp
  pcsx2/Recording/InputRecordingControls.h
  pcsx2/gui/MainMenuClicks.cpp
Labels: GUI/WX, TAS Functionality

#4405 GameDB: add Nearest EErounding to SSX and SSX tricky
  bin/GameIndex.yaml
Labels: GameDB

#4417 GameDB:fix yaml error
  bin/GameIndex.yaml
Labels: GameDB

#4416 CDVD-GUI: Swap buttons `Browse...` and `Ask when booting` and default to unchecked state.
  pcsx2/gui/AppRes.cpp
Labels: GUI/WX

#4422 Update ghc::filesystem to 1.5.4
  3rdparty/include/ghc/filesystem.h
Labels: Dependencies

#4403 DEV9: consistently prefix all console output with `DEV9: `
  pcsx2/DEV9/ATA/ATA_Info.cpp
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/ATA/ATA_Transfer.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdDMA.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdNoData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdPIOData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdSMART.cpp
  pcsx2/DEV9/ATA/Commands/ATA_Command.cpp
  pcsx2/DEV9/ATA/Commands/ATA_SCE.cpp
  pcsx2/DEV9/DEV9.cpp
  pcsx2/DEV9/Linux/Config.cpp
  pcsx2/DEV9/Win32/pcap_io_win32.cpp
  pcsx2/DEV9/flash.cpp
  pcsx2/DEV9/net.cpp
  pcsx2/DEV9/pcap_io.cpp
  pcsx2/DEV9/smap.cpp
Labels: DEV9

#4428 CONTRIBUTING.md: Typo fixes, https
  .github/CONTRIBUTING.md
Labels: Build | Project System

#4415 Eyetoy: Apply first improvement for #4239
  pcsx2/USB/usb-eyetoy/cam-linux.cpp
  pcsx2/USB/usb-eyetoy/cam-windows.cpp
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
Labels: USB

#4433 DEV9: Correctly populate DNS2 field with DNS2 IP
  pcsx2/DEV9/Win32/Win32.cpp
Labels: DEV9

#4438 GUI: change 'Console to Stdio' to 'Program Log to Stdio' in UI
  pcsx2/gui/MainFrame.cpp
Labels: GUI/WX

#4442 DEV9: Increase min HDD size to 40GiB
  pcsx2/DEV9/DEV9.h
  pcsx2/DEV9/Win32/DEV9ghzdrk.rc
  pcsx2/DEV9/Win32/Win32.cpp
Labels: DEV9

#4444 Misc: Save ELF last path when auto-running an elf
  pcsx2/gui/AppInit.cpp
Labels: GUI/WX

#4437 SPU: Make SPU use the DMA registers from iopHw
  pcsx2/IopHw.h
  pcsx2/SPU2/Dma.h
  pcsx2/SPU2/ReadInput.cpp
  pcsx2/SPU2/defs.h
  pcsx2/SPU2/spu2.cpp
  pcsx2/SPU2/spu2.h
  pcsx2/SPU2/spu2sys.cpp
  pcsx2/SaveState.h
  pcsx2/ps2/Iop/IopHwRead.cpp
  pcsx2/ps2/Iop/IopHwWrite.cpp
Labels: SPU2

#4425 Fix Emulated PSX GPU Version
  pcsx2/ps2/pgif.cpp
Labels: Needs testing, PSX Mode

#4456 GameDB: add missing GameDB entries
  bin/GameIndex.yaml
Labels: GameDB

#4454 Remove PSX references to distinguish between PS1 and DVR
  pcsx2/gui/Dialogs/CreateMemoryCardDialog.cpp
  pcsx2/gui/Panels/MemoryCardListView.cpp
Labels: Changes translatable strings, GUI/WX, Memory Card

#4393 Input Recording - Allow configuration of the frame advance amount
  pcsx2/Recording/InputRecordingControls.cpp
  pcsx2/Recording/InputRecordingControls.h
  pcsx2/gui/App.h
  pcsx2/gui/AppConfig.cpp
  pcsx2/gui/AppConfig.h
  pcsx2/gui/MainFrame.cpp
  pcsx2/gui/MainFrame.h
  pcsx2/gui/MainMenuClicks.cpp
Labels: GUI/WX, TAS Functionality

#4449 DEV9: Fix potential out of bounds access when manual DNS1 & automatic DNS2 are used together.
  pcsx2/DEV9/InternalServers/DHCP_Server.cpp
Labels: DEV9
