Repository PCSX2/pcsx2, pull requests merged in 2021-04, with the labels that each got.

#4338 Misc:Debugger: Support write-only GS priv reads
  pcsx2/DebugTools/Debug.h
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/DebugInterface.h
  pcsx2/DebugTools/DisR5900asm.cpp
  pcsx2/GS.cpp
  pcsx2/GS.h
Labels: Debugger

#4278 GUI-Speedhacks: Grayout Instant VU1 when MTVU is enabled
  pcsx2/gui/Panels/ConfigurationPanels.h
  pcsx2/gui/Panels/SpeedhacksPanel.cpp
Labels: GUI/WX

#3825 SPU2: Change default of latency slider
  pcsx2/SPU2/Linux/Config.cpp
  pcsx2/SPU2/Windows/Config.cpp
Labels: SPU2

#4343 Misc: Enable GS debugger on CI artifacts
  pcsx2/gui/MainFrame.cpp
  pcsx2/windows/VCprojects/pcsx2.vcxproj
Labels: Build | Project System, GUI/WX

#4350 gsdx-gui: Remove partial and full crc hack levels on release builds.
  plugins/GSdx/GSdx.cpp
  plugins/GSdx/Window/GSSetting.cpp
Labels: GS: Hardware, Plugin: GS

#4359 GUI > SpeedhacksPanel: textstringcorrections
  pcsx2/gui/Panels/SpeedhacksPanel.cpp
Labels: Changes translatable strings

#4331 PAD: Just enable pressure on CMD 0x4F
  pcsx2/PAD/Linux/state_management.cpp
  pcsx2/PAD/Windows/PAD.cpp
Labels: PAD: Linux/Mac, PAD: Windows

#4332 ci: Automatically label pull requests
  .github/labeler.yml
  .github/workflows/pr-triage.yml
Labels: Quality & Assurance

#4367 gsvector: fix forgotten elif during purge
  plugins/GSdx/GSVector4.h
Labels: Plugin: GS

#4366 gsdx: Clean up a few warnings.
  plugins/GSdx/GSBlock.h
  plugins/GSdx/GSState.cpp
Labels: Plugin: GS

#4369 clang-format: change alignment settings
  .clang-format
Labels: Build | Project System

#4378 GUI: change window to debug in the menu and move blockdump to the debug menu
  pcsx2/gui/MainFrame.cpp
Labels: GUI/WX

#4388 GameDB:adds gamefixes for various games
  bin/GameIndex.yaml
Labels: GameDB

#4389 GameDB:fix errors in GameDB
  bin/GameIndex.yaml
Labels: GameDB

#4390 pad-linux: Update to latest controller database.
  pcsx2/PAD/Linux/res/game_controller_db.txt
Labels: PAD: Linux/Mac

#4381 DEV9: Do not apply byteswapping to TX/RX FIFO writes/reads
  pcsx2/DEV9/smap.cpp
Labels: DEV9

#4364 DEV9: add ATA Idle Immediate (E1) stub
  pcsx2/DEV9/ATA/ATA.h
  pcsx2/DEV9/ATA/Commands/ATA_CmdNoData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_Command.cpp
Labels: DEV9

#4362 Rename main menu back to System
  pcsx2/gui/MainFrame.cpp
Labels: GUI/WX

#4391 gsdx-vsprops: Fix build configuration.
  plugins/GSdx/GSdx.vcxproj
  plugins/GSdx/vsprops/sse2.props
Labels: Build | Project System, OS: Windows, Plugin: GS

#4384 Core: Purge OS specific CPU usage providers
  pcsx2/CMakeLists.txt
  pcsx2/gui/CpuUsageProvider.cpp
  pcsx2/gui/CpuUsageProvider.h
  pcsx2/gui/CpuUsageProviderLnx.cpp
  pcsx2/gui/CpuUsageProviderMSW.cpp
  pcsx2/windows/VCprojects/pcsx2.vcxproj
  pcsx2/windows/VCprojects/pcsx2.vcxproj.filters
Labels: Build | Project System, GUI/WX

#3941 Folder memcards: Add an index file to track order of files
  pcsx2/gui/MemoryCardFolder.cpp
  pcsx2/gui/MemoryCardFolder.h
Labels: GUI/WX, Memory Card, Needs testing

#4413 readme: Add discord shield + remove coverity
  README.md
Labels: Documentation
