Repository PCSX2/pcsx2, pull requests merged in 2022-09, with the labels that each got.

#6977 GS-hw: Remove remaining 24bit destination checks for Ad.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Hardware, GS: Blending, GS: Metal

#6986 microVU: Fix program dumping
  pcsx2/x86/microVU_Log.inl
Labels: Vector Units

#6989 GameDB: Corvette game fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6990 GS:OGL: Support disabling texture barrier
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#7001 CMake:MacOS: Don't strip qt binaries
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#6973 GameDB: fixes letter B
  bin/resources/GameIndex.yaml
Labels: GameDB

#6999 GameDB: Kikou Souhei Armodyne graphics fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7010 Gamedb: Fix 'Muppets Party Cruise'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7018 GameDB: Death by Degrees FMV line fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7020 GameDB: Deus Ex various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7023 Gamedb: upscaling fixes for 'Urbz, The - Sims in the City'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7026 GameDB: Add missing games
  bin/resources/GameIndex.yaml
Labels: GameDB

#7019 Qt: Search all the things!
  pcsx2-qt/GameList/GameListWidget.cpp
Labels: GUI/Qt

#7029 Qt: Fix crash when autobinding controller
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
Labels: GUI/Qt

#7030 Qt: Fix load input profile/reset controller defaults
  pcsx2-qt/Settings/ControllerSettingsDialog.cpp
Labels: GUI/Qt

#7032 GameDB: MGS2 Document of text fixes for more versions
  bin/resources/GameIndex.yaml
Labels: GameDB

#7031 iR5900: Skip reloading COP2 flags register when it's not used
  pcsx2/x86/iR5900Analysis.cpp
  pcsx2/x86/microVU_Macro.inl
Labels: Vector Units

#7033 WX: Add Disable Hardware Readbacks option
  pcsx2/GS/Window/GSwxDialog.cpp
Labels: GS

#5513 CMake: fix Xrandr detection
  cmake/SearchForStuff.cmake
Labels: Build | Project System

#7046 GameDB: Fix Kaidou Battle upscaling and add missing games
  bin/resources/GameIndex.yaml
Labels: GameDB

#6971 Qt: Scroll GameList by pixels using the scrollwheel
  pcsx2-qt/GameList/GameListWidget.cpp
Labels: First Time Contribution, GUI/Qt

#7052 Qt: Fix fullscreen/window size being enabled in game list
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
Labels: GUI/Qt

#7049 Qt: Deduplicate interface code and reduce core coupling
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2-qt/Settings/ControllerSettingsDialog.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/SettingsDialog.cpp
  pcsx2/CMakeLists.txt
  pcsx2/Frontend/CommonHost.cpp
  pcsx2/Frontend/CommonHost.h
  pcsx2/Frontend/CommonHotkeys.cpp
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Frontend/GameList.cpp
  pcsx2/Frontend/GameList.h
  pcsx2/Frontend/InputManager.cpp
  pcsx2/Frontend/InputManager.h
  pcsx2/Frontend/LogSink.cpp
  pcsx2/Frontend/LogSink.h
  pcsx2/INISettingsInterface.cpp
  pcsx2/INISettingsInterface.h
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System, GUI/Qt

#7051 GameDB: Fix DOA 2 naming. Fix Yamasa Digi World games naming & add missing
  bin/resources/GameIndex.yaml
Labels: GameDB

#7050 GameDatabase: Add gpuPaletteConversion = 2 value
  .github/workflows/scripts/lint/gamedb/lint.py
  bin/resources/GameIndex.yaml
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
Labels: Build | Project System, GameDB

#7053 Qt: Fix crash on clearing controller bindings
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
Labels: GUI/Qt

#7055 GameDB: More fixes, less missing
  bin/resources/GameIndex.yaml
Labels: GameDB

#7024 GameDB: fixes letter C + some missing A/B fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7059 Revert "BiosTools: Allow BIOS region patching"
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/ps2/BiosTools.cpp
  pcsx2/ps2/BiosTools.h
Labels: Core, GUI/Qt

#7061 QtHost: Fix Unicode command line arguments
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#7045 Qt: Make FastCDVD per game only
  pcsx2-qt/Settings/SystemSettingsWidget.cpp
Labels: GUI/Qt

#7066 GameDB: Add missing TC NYC entry
  bin/resources/GameIndex.yaml
Labels: GameDB

#7068 GS-wx: Rearrange debug checkboxes in advanced tab graphics settings.
  pcsx2/GS/Window/GSwxDialog.cpp
Labels: GS, GUI/WX

#6960 GameDB: Spyro NTSC-U bloom fix and add missing PAL demo disc
  bin/resources/GameIndex.yaml
Labels: Waiting feedback, GameDB

#7074 GameDB: Correct incorrect GTA SA fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6772 MemoryCardFolder: Add write osd notification.
  pcsx2/MemoryCardFolder.cpp
  pcsx2/MemoryCardFolder.h
Labels: Memory Card

#7081 GameDB:add HWFixes to Steel Dragon EX
  bin/resources/GameIndex.yaml
Labels: GameDB

#7087 GameDB: Disable InstantVU1 for SoTC
  bin/resources/GameIndex.yaml
Labels: GameDB

#7084 GS/Vulkan: Fix redundant constant buffer reuploads
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan, GS: Direct3D 12

#7090 GameDB: Add a bunch of Korean games.
  bin/resources/GameIndex.yaml
Labels: GameDB

#7080 Fix build on FreeBSD
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#7091 GameDB: Jackass
  bin/resources/GameIndex.yaml
Labels: GameDB

#7101 GameDB: Add Trilinear (PS2) to Burnout games
  bin/resources/GameIndex.yaml
Labels: GameDB

#7103 GS/Vulkan: Actually store the readback buffer size
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan, GS: Direct3D 12

#7107 Gamedb: fixes for 'Guitar Hero - World Tour'
  bin/resources/GameIndex.yaml
Labels: GameDB
