Repository PCSX2/pcsx2, pull requests merged in 2022-05, with the labels that each got.

#5993 Counters: Fix software renderer FMV fix with auto renderer
  pcsx2/Counters.cpp
Labels: Counters

#5955 GS/HW: Implement moves in texture cache
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#5949 Remove iMisc.cpp, and move the code to System.cpp/h.
  pcsx2/CMakeLists.txt
  pcsx2/Common.h
  pcsx2/System.cpp
  pcsx2/System.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
  pcsx2/x86/iMisc.cpp
Labels: Build | Project System

#5995 GS: Account for frame offset in output circuit
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware

#5987 GameDB: HW fixes for KOF Orochi/Nests
  bin/resources/GameIndex.yaml
Labels: GameDB

#5999 GS: Fix up SW FMV switch behaviour
  pcsx2/Counters.cpp
  pcsx2/Pcsx2Config.cpp
Labels: Counters

#6001 GS: Limit scissor optimisation, fix repeat condition
  pcsx2/GS/GSState.cpp
Labels: GS

#5997 GameDB: Sniper Elite + Naruto Shippuuden Ninja 3-5 + GT4
  bin/resources/GameIndex.yaml
Labels: GameDB

#5903 Merge SSE4 and AVX2 C Rasterizer
  pcsx2/GS/Renderers/SW/GSDrawScanline.cpp
Labels: GS, GS: Software

#6009 GameDB: add 'VIF1StallHack' to 'Ikusa Gami'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6007 GS: Cleanup variable declarations/initalizations.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: Hardware, GS: Direct3D, GS: OpenGL

#5986 GS:SW: Fix lod in C rasterizer
  pcsx2/GS/Renderers/SW/GSDrawScanline.cpp
Labels: GS, GS: Software

#5777 Allow commandline params to be passed through to the patched apprun file
  .github/workflows/scripts/linux/AppRun
Labels: Build | Project System, First Time Contribution

#5979 Wayland fixes
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/keyboard.cpp
  pcsx2/USB/USB.cpp
  pcsx2/USB/usb-hid/evdev/evdev.cpp
Labels: PAD: Linux/Mac, USB, First Time Contribution

#6003 GameDB: Add patches for remaining KOF series
  bin/resources/GameIndex.yaml
Labels: GameDB

#6018 microVU : correct logging and remove not needed comments
  pcsx2/x86/microVU.cpp
Labels: Vector Units

#6017 GSWindow: Resume previous state (window/fullscreen) on resume/boot.
  pcsx2/gui/GlobalCommands.cpp
Labels: GUI/WX

#6012 GL/Context: Load wayland-egl dynamically
  cmake/SearchForStuff.cmake
  common/CMakeLists.txt
  common/GL/ContextEGLWayland.cpp
  common/GL/ContextEGLWayland.h
Labels: Build | Project System

#6020 GS/DX11: Fix a possible texture leak with sw blend and tex-is-ds
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D

#6028 GameDB: Star Ocean 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#6029 GameDB: Monster Hunter 1
  bin/resources/GameIndex.yaml
Labels: GameDB

#6027 GS: Improve read heights with screen offset disabled
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware

#6032 GameDB: Add HPO for Dog's Life
  bin/resources/GameIndex.yaml
Labels: GameDB

#5996 ThreadedFileReader: Fix possible race with synchronous reads
  pcsx2/CDVD/ThreadedFileReader.cpp
Labels: CDVD

#6036 GS: Scissor opt - handle reverse read sprites
  pcsx2/GS/GSState.cpp
Labels: GS

#6044 CI: Update SDL
  .github/workflows/linux-workflow.yml
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#6049 GameDB: add VUclamping to 'Monster Hunter 2' and 'Monster Hunter G'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6047 GS:SW: Clamp Z with unsigned clamp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
Labels: GS, GS: Software

#6058 Qt: Fix nightly builds not showing version in title bar
  pcsx2-qt/AboutDialog.cpp
  pcsx2-qt/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
Labels: GUI/Qt

#6051 DEV9: Fix double calling freeifaddrs()
  pcsx2/DEV9/sockets.cpp
Labels: DEV9

#6061 GUI: update hyperlink in WX
  pcsx2/Docs/PCSX2_FAQ.md
  pcsx2/gui/MainMenuClicks.cpp
Labels: GUI/WX, Documentation

#6069 GameDB: add some missing serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#6070 Qt: Hook up screenshot button.
  pcsx2-qt/EmuThread.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
Labels: GUI/Qt

#6071 GS/TextureCache: Force hash caching for replaced textures
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6080 GS/TextureCache: Handle edge cases of replacements with paltex enabled
  pcsx2/GS/GSExtra.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.h
Labels: GS, GS: Hardware, GS: Texture Cache

#6078 GS: Redo a bunch of the ignore offset code
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#6087 GameDB: update EyeToy - Play 2 compat
  bin/resources/GameIndex.yaml
Labels: GameDB

#6086 GameDB: Modify .hack // games to use 'dot hack' and '-'
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6083 GameDB: Add new serials, GS (HW) Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6100 GamDB: fix 'Racing Evolution' serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#6102 gs-ogl: fix depth copy shader in stretch rect.
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#6107 Gamedb: fix 'Hajime no Ippo - Victorious Boxers' serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#6094 Optionally use system libs
  .github/workflows/macos-workflow.yml
  .github/workflows/scripts/linux/generate-cmake.sh
  3rdparty/libzip/CMakeLists.txt
  3rdparty/sdl2/CMakeLists.txt
  cmake/BuildParameters.cmake
  cmake/Pcsx2Utils.cmake
  cmake/SearchForStuff.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System, Dependencies

#6112 GzippedFileReader: Fix index creation
  common/StringUtil.cpp
  common/StringUtil.h
  pcsx2/CDVD/GzippedFileReader.cpp
Labels: CDVD

#6118 ci: add SSE4 support for tagged Qt builds
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#6121 ci: fix windows release asset structure
  .github/workflows/release_pipeline.yml
Labels: Build | Project System

#6125 GameList: Mark search directory cells as read-only
  pcsx2-qt/Settings/GameListSettingsWidget.cpp
  pcsx2-qt/Settings/GameListSettingsWidget.h
Labels: GUI/Qt

#6129 Cmake: Link InputRecording
  pcsx2-qt/Tools/InputRecording/NewInputRecordingDlg.cpp
  pcsx2-qt/Tools/InputRecording/NewInputRecordingDlg.h
  pcsx2-qt/Tools/InputRecording/NewInputRecordingDlg.ui
  pcsx2/CMakeLists.txt
Labels: Build | Project System, GUI/Qt

#6132 input-rec: ensure controller logging is disabled by default
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#6137 ci: differentiate cmake windows build from the other build configs
  .github/workflows/scripts/common/name-artifacts.sh
  .github/workflows/windows_build_matrix.yml
  .github/workflows/windows_build_qt.yml
  .github/workflows/windows_build_wx.yml
Labels: Build | Project System

#6149 GameDB: upscaling fixes for 'KimiKiss'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6130 Qt: Disable/remove unused buttons.
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#6166 Qt: Apply patches on entry point compile
  pcsx2-qt/QtHost.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
  pcsx2/x86/ix86-32/iR5900-32.cpp
Labels: GUI/Qt

#6157 GameDB: Revise serial names + GSHWFixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6176 GameDB: add 'disablePartialInvalidation' to 'Shadow Hearts 2'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6142 GSTextureCache: Expand target to fit readout height
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#6184 Gamedb: remove software FMV fixes from games
  bin/resources/GameIndex.yaml
Labels: GameDB

#6187 GameDB: more removal of software FMV fixes from games
  bin/resources/GameIndex.yaml
Labels: GameDB

#6188 GameDB: Removes missed french Tak fmv fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6163 GS: Add Skip Presenting Duplicate Frames option
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GSExtra.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#6104 Improved FreeBSD compatibility
  common/Linux/LnxHostSys.cpp
Labels: First Time Contribution

#6091 CMake: Set fp-contract=fast
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#6196 GHActions: Improve macOS artifact name for tagged builds
  .github/workflows/macos_build.yml
Labels: Build | Project System

#6199 Qt: Implement drag/drop to main window
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2/Frontend/GameList.cpp
  pcsx2/Frontend/GameList.h
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: GUI/Qt

#6213 Qt: Add hardware check for SSE4 and AVX2
  common/emitter/cpudetect.cpp
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/EarlyHardwareCheck.cpp
  pcsx2-qt/Main.cpp
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: Build | Project System, GUI/Qt

#6208 Some Qt for Mac fixes
  common/Darwin/DarwinMisc.cpp
  pcsx2/DEV9/Sessions/TCP_Session/TCP_Session_In.cpp
  pcsx2/Darwin/DarwinFlatFileReader.cpp
Labels: OS: Mac, DEV9

#6229 GS: Better swapped draw direction detection on scissor opt
  pcsx2/GS/GSState.cpp
Labels: GS

#6206 GameDB: Tales of Legendia + Batman Begin + ...
  bin/resources/GameIndex.yaml
Labels: GameDB

#6234 GameDB: fix up game names
  bin/resources/GameIndex.yaml
Labels: GameDB

#6238 GS: Bug fix Scissor Optimization
  pcsx2/GS/GSState.cpp
Labels: GS

#6242 Gamedb: fix up some game titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#6246 GameDB: update 'Growlanser Generations' name
  bin/resources/GameIndex.yaml
Labels: GameDB

#6249 GameDB: add missing serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#6251 GS-TC: Preserve scale when resizing target for display.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6240 Config: remove unused variable from superVU
  pcsx2/Config.h
Labels: Code Cleanup / Refactoring

#6263 GameDB: remove gameFixes from'NFL Street 2'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6262 GameDB: Add Auto Flush for 24 - The Game
  bin/resources/GameIndex.yaml
Labels: GameDB

#6211 GS: Read local memory without sync when readbacks are disabled
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/Gif_Unit.cpp
  pcsx2/MTGS.cpp
  pcsx2/Vif_Dma.h
Labels: GS, VIF, GUI/Qt

#6264 GameDB: remove gameFixes for 'nfl street 3'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6232 Build: Don't rewrite svnrev.h unconditionally
  common/vsprops/preBuild.cmd
Labels: Build | Project System

#6275 Gamedb: add upscaling fixes for ' The Sims 2 pets'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6278 Gamedb: upscaling fixes for 'Need for Speed: Hot Pursuit 2'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6283 wx: Fix assert on settings panel
  pcsx2/gui/Panels/VideoPanel.cpp
Labels: GUI/WX

#6231 Common: Implement display sleep prevention on macOS
  common/Darwin/DarwinMisc.cpp
Labels: OS: Mac

#6287 Gamedb: Fix up some game names and add upscaling fixes for 'Xenosaga'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6292 GS: Clamp tex-in-rt source rectangle to rt bounds
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6284 pad: Expose Analog Mode button.
  pcsx2-qt/Settings/ControllerBindingWidget_DualShock2.ui
  pcsx2/PAD/Host/Global.h
  pcsx2/PAD/Host/KeyStatus.cpp
  pcsx2/PAD/Host/KeyStatus.h
  pcsx2/PAD/Host/PAD.cpp
  pcsx2/PAD/Host/StateManagement.cpp
Labels: First Time Contribution, GUI/Qt

#6294 GameDB: Add missing serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#6295 Qt: wire in tv shaders
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#6297 Gamedb: remove patch from 'Boku to Mao'
  bin/resources/GameIndex.yaml
Labels: GameDB
