Repository PCSX2/pcsx2, pull requests merged in 2022-12, with the labels that each got.

#7516 GameDB: fix naming of Castlevania LoI games
  bin/resources/GameIndex.yaml
Labels: GameDB

#7517 GameDB: Add fixes for Busin 0: Wizardry Alternative games. Fixes titles.
  bin/resources/GameIndex.yaml
Labels: GameDB

#7531 Qt: Remove dead code from ControllerBindingWidget_Base
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
Labels: GUI/Qt

#7527 Qt: Remove hardware download mode from global settings
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#7536 GameDB : add AdaptiveBFF to 'K-1 World Grand Prix 2006' and 'Elemental Gerad
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
Labels: GameDB, Documentation

#7535 VU: Correct XGKick timing when using XGKickSync
  pcsx2/VUops.cpp
  pcsx2/x86/microVU_Compile.inl
Labels: Vector Units

#7533 CMake: Drop SPU2X_PULSEAUDIO define
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#7540 GameDB: Add comment for Mipmapping on P3 FES
  bin/resources/GameIndex.yaml
Labels: GameDB

#7542 Qt: Add tooltips to memcard checkbox options.
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
Labels: GUI/Qt

#7545 GameDB: A few game fixes and tweaks
  bin/resources/GameIndex.yaml
Labels: GameDB

#7546 GS/HW: Don't consider custom textures in hash cache overflow
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#7548 Achievements: Add option to disable notifications
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Frontend/Achievements.cpp
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Frontend/ImGuiManager.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GUI/Qt

#7551 CMake: Fix issues with linkers failing on Linux
  CMakeLists.txt
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#7550 Qt: Resizes + better tooltips + Savestate warning
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/Settings/ControllerBindingWidget.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/CDVD/InputIsoFile.cpp
  pcsx2/SaveState.cpp
Labels: CDVD, GUI/Qt

#7560 GameDB : add fixes to 'Conspiracy - Weapons of Mass Destruction'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7566 GameDB: add VUclamping to 'NHL 2004'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7567 GS-SW: Don't anti-blur frame rect when same source and not anti-bluring
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#7569 Qt: Fix being able to access hidden tabs in Graphics menu
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#7565 GS: Preserve deinterlacing render target
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS

#7571 GameDB: Game and name fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7574 GS: Always allocate wrapped local memory
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSClut.cpp
  pcsx2/GS/GSCodeBuffer.cpp
  pcsx2/GS/GSExtra.h
  pcsx2/GS/GSLocalMemory.cpp
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/GSRingHeap.cpp
  pcsx2/GS/Renderers/SW/GSRasterizer.cpp
Labels: GS, GS: Software

#7530 Qt: Add disc path option for ELF game list entries
  pcsx2-qt/GameList/GameListWidget.cpp
  pcsx2-qt/GameList/GameListWidget.h
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2-qt/Settings/GameSummaryWidget.h
  pcsx2-qt/Settings/GameSummaryWidget.ui
  pcsx2-qt/Settings/SettingsDialog.cpp
  pcsx2-qt/Settings/SettingsDialog.h
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/Frontend/CommonHost.cpp
  pcsx2/Frontend/CommonHost.h
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Frontend/GameList.cpp
  pcsx2/Frontend/GameList.h
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: CDVD, GUI/Qt

#7501 CDVD: set default region data for PStwo nvram
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD_internal.h
Labels: CDVD

#7577 Qt: Fix crash opening ELF game properties
  pcsx2-qt/Settings/GameSummaryWidget.cpp
Labels: GUI/Qt

#7580 GameDB: Add mipmapping fixes for Monster Attack/Chikyuu Boueigun
  bin/resources/GameIndex.yaml
Labels: GameDB

#7581 GS: Fix crash if FXAA/Shadeboost enabled with Bilinear Sharp
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS

#7583 GameDB : add EE Nearest Rounding to Blood Omen 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#7589 GameDB: Add upscaling fix for Violet no Atelier
  bin/resources/GameIndex.yaml
Labels: GameDB

#7590 microVU: Fix mVUcustomSearch
  pcsx2/x86/microVU_Misc.inl
Labels: Vector Units

#7593 wx: Fix console warnings for no longer used hotkeys.
  bin/PCSX2_keys.ini.default
  pcsx2/gui/FrameForGS.cpp
Labels: GUI/WX

#7595 GS/OpenGL: Cleanups and GLES support
  bin/resources/shaders/common/ffx_cas.h
  bin/resources/shaders/common/fxaa.fx
  bin/resources/shaders/opengl/common_header.glsl
  bin/resources/shaders/opengl/convert.glsl
  bin/resources/shaders/opengl/interlace.glsl
  bin/resources/shaders/opengl/present.glsl
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/opengl/tfx_vgs.glsl
  common/GL/StreamBuffer.cpp
  common/GL/StreamBuffer.h
  pcsx2/CMakeLists.txt
  pcsx2/GS/GSGL.h
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.h
  pcsx2/GS/Renderers/OpenGL/GLState.cpp
  pcsx2/GS/Renderers/OpenGL/GLState.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.h
  pcsx2/GS/Renderers/OpenGL/GSUniformBufferOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: GS, Build | Project System, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan

#7597 VMManager: Better separate shutdown and close for SPU2 and GS
  pcsx2/CMakeLists.txt
  pcsx2/GS/GS.cpp
  pcsx2/SPU2/Global.h
  pcsx2/SPU2/Host/Dialogs.cpp
  pcsx2/SPU2/SndOut.h
  pcsx2/SPU2/Wavedump_wav.cpp
  pcsx2/SPU2/spu2.cpp
  pcsx2/SPU2/spu2.h
  pcsx2/VMManager.cpp
  pcsx2/gui/SysCoreThread.cpp
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: GS, SPU2, Build | Project System, GUI/WX

#7614 GameDB: Add missing Energy Airforce entrys
  bin/resources/GameIndex.yaml
Labels: GameDB

#7612 USB: Add missing extra controller bindings for Buzz
  pcsx2/USB/usb-pad/usb-pad.cpp
Labels: USB

#7615 GameDB: Add autoFlush to Syphon Filter - The Omega Strain
  bin/resources/GameIndex.yaml
Labels: GameDB

#7616 USB: Buzz Button reorder
  pcsx2/USB/usb-pad/usb-pad.cpp
Labels: USB, First Time Contribution

#7617 USB: Add deadzone for USB wheel steering axis
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#7630 GS/DX12: Fix incorrect sampler being used in utility draws
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#7625 GameDB: Wild ARMs 3,4,5,F + maintenance
  bin/resources/GameIndex.yaml
Labels: GameDB

#7627 GunCon2: Add screen parameters for more games
  pcsx2/USB/usb-lightgun/guncon2.cpp
Labels: USB, First Time Contribution

#7635 GunCon2: Add screen parameters for more games
  pcsx2/USB/usb-lightgun/guncon2.cpp
Labels: USB

#7637 Qt: Fix global string list setting not showing in input profiles
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
Labels: GUI/Qt

#7638 Qt: Ensure game list refresh is cancelled before destroying
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#7636 Adding PAL values for Guncon2.
  pcsx2/USB/usb-lightgun/guncon2.cpp
Labels: USB

#7632 GameDB: Add CPU CLUT to Lego Batman The Videogame
  bin/resources/GameIndex.yaml
Labels: GameDB

#7639 usb: GT Force paddles Fix
  pcsx2/USB/usb-pad/usb-pad.cpp
Labels: USB

#7641 build: remove flag for skipping portaudio, as we no longer use portau…
  build.sh
Labels: Installer | Package, Build | Project System

#7649 README: Use the new API from our badge provider
  README.md
Labels: Documentation

#7648 CDVD: Warn the user when a selected game image is on a removable drive.
  pcsx2/CDVD/CDVDcommon.cpp
Labels: OS: Windows, CDVD

#7651 GS-d3d12: Fix macro redefinition error in fxaa shader.
  bin/resources/shaders/common/fxaa.fx
Labels: GS

#7652 GameDB: Fix empty could not find serial and searching for serial logs.
  pcsx2/GameDatabase.cpp
Labels: GameDB

#7633 USB: Power curve option for wheel steering axis.
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#7654 GS/HW: Reuse texture for RT copy in DX12/GL/Vulkan
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#7659 USB :fix some keyboard issues
  pcsx2/USB/usb-hid/usb-hid.cpp
Labels: USB

#7661 GameDB: Add Instant DMA to Reveal Fantasia
  bin/resources/GameIndex.yaml
Labels: GameDB

#7662 USB: fix more keyboard issues
  pcsx2/USB/usb-hid/usb-hid.cpp
Labels: USB

#7663 GameDB: Nascar Thunder 2003
  bin/resources/GameIndex.yaml
Labels: GameDB

#7664 GameDB: upscaling fixes for Captain Tsubasa and update docs
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#7670 Translation: Add translation notation for all translatable strings in debugger
  pcsx2-qt/Debugger/BreakpointDialog.cpp
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/DebuggerWindow.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2-qt/Debugger/MemoryViewWidget.cpp
  pcsx2-qt/Debugger/RegisterWidget.cpp
Labels: GUI/Qt

#7675 README:update Technical Notes
  README.md
  pcsx2/Docs/README.md
Labels: Documentation

#7676 actions: remove WX in auto labeler
  .github/labeler.yml
Labels: Build | Project System

#7677 GameDB: Add Mipmapping to Eragon
  bin/resources/GameIndex.yaml
Labels: GameDB

#7679 NTFS: Disable the NTFS checkbox on Linux, not Windows.
  pcsx2-qt/Settings/CreateMemoryCardDialog.cpp
Labels: GUI/Qt

#7685 Misc: update svn readme
  3rdparty/svn_readme.txt
Labels: Dependencies

#7686 Qt: enable editing cheats directory
  pcsx2-qt/Settings/FolderSettingsWidget.cpp
  pcsx2-qt/Settings/FolderSettingsWidget.ui
Labels: First Time Contribution, GUI/Qt

#7691 GS-HW: Adjust Yakuza CRC hack to remove weird shadow
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#7692 SaveState: Partial migration to StateWrapper for USB
  pcsx2/SaveState.cpp
  pcsx2/StateWrapper.h
  pcsx2/USB/USB.cpp
  pcsx2/USB/USB.h
Labels: USB

#7684 USB: Only update when devices plugged
  pcsx2/USB/USB.cpp
Labels: USB

#7700 UI: Fix GT Force wheel image
  pcsx2-qt/resources/images/GTForce.png
Labels: GUI/Qt

#7699 GameDB: Update Utility Disc names
  bin/resources/GameIndex.yaml
Labels: GameDB

#7693 USB: Fix loading old states without USB.bin
  pcsx2/USB/USB.cpp
Labels: USB

#7701 UI: Fix selected tab from hotkeys menu shortcut
  pcsx2-qt/Settings/ControllerSettingsDialog.cpp
Labels: GUI/Qt

#7703 Github: Update issue templates
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
  README.md
Labels: Build | Project System, Documentation

#7713 GameDB: Add fixes for Robin Hood 2 - The Siege
  bin/resources/GameIndex.yaml
Labels: GameDB

#7715 VIF: Make sure VU's are updated when waiting
  pcsx2/Vif0_Dma.cpp
  pcsx2/Vif1_Dma.cpp
Labels: VIF

#7719 GameDB: Add VU1 Rounding to Hitman Contracts
  bin/resources/GameIndex.yaml
Labels: GameDB

#7722 GameDB: Add HW mode fixes for Princess Maker 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#7725 USB: Limit microphone lower latency to 1ms
  pcsx2/USB/usb-mic/usb-headset.cpp
  pcsx2/USB/usb-mic/usb-mic-singstar.cpp
  pcsx2/USB/usb-pad/usb-seamic.cpp
Labels: USB

#7724 VIF: use outer cast in VU cycle checks
  pcsx2/Vif0_Dma.cpp
  pcsx2/Vif1_Dma.cpp
Labels: VIF

#7704 CI : remove mention to wxWidgets in MAC build-dependencies
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#7727 GameDB: Add VU0 Clamping to Sly 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#7726 Readme: Update specifications requirements
  README.md
Labels: Documentation

#7728 GameDB: Disable texture preloading for Time Crisis 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#7732 mVU: Align x86ptr based on AVX2 caps
  pcsx2/PCSX2Base.h
  pcsx2/x86/microVU_Compile.inl
Labels: Vector Units

#7733 DEV9: Fix out_of_range exception with automatic gateway
  pcsx2/DEV9/AdapterUtils.cpp
Labels: DEV9

#7741 microVU: Fix VU1->VU0 register access in MTVU mode
  pcsx2/x86/microVU_Execute.inl
  pcsx2/x86/microVU_Misc.inl
Labels: Vector Units

#7744 GameDB: Add SW CLUT to The Incredibles
  bin/resources/GameIndex.yaml
Labels: GameDB

#7745 Misc: Remove GS/config.h include from PCSX2Base.h
  pcsx2/GS/Renderers/SW/GSDrawScanline.h
  pcsx2/GS/Renderers/SW/GSRasterizer.h
  pcsx2/GS/config.h
  pcsx2/PCSX2Base.h
Labels: GS, GS: Software

#7753 GameDB: add missing serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#7748 UI/AudioSettings: Correct recommended value for overlap
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#7739 Qt: Fix Host::GetTopLevelWindowInfo() in nogui mode
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtUtils.cpp
Labels: GUI/Qt

#7747 GameDB: Iris 2 + Iris 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#7749 GameDB: Set preloading to Partial for Tekken 4
  bin/resources/GameIndex.yaml
Labels: GameDB

#7714 Qt: Fix out of focus colors + 2 new dark themes
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt
