Repository PCSX2/pcsx2, pull requests merged in 2022-04, with the labels that each got.

#5791 releases: simplify discord announcements, and link to the right page
  .github/workflows/scripts/releases/announce-release/index.js
Labels: Build | Project System

#5755 GS: Improve interlace handling and odd frames
  pcsx2/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/MTGS.cpp
  pcsx2/gui/Dialogs/GSDumpDialog.cpp
Labels: GS, GUI/WX

#5761 GS: Only flush on PRIM if a new draw is requested
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#5802 GS-hw: Purge custom resolution entirely.
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSTextureFX11.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D

#5809 Gamedb: update changes to pdf
  bin/docs/GameIndex.pdf
Labels: GameDB, Documentation

#5811 Qt: Add performance metrics to status bar
  pcsx2-qt/EmuThread.cpp
  pcsx2-qt/EmuThread.h
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/MainWindow.ui
  pcsx2/GS/GS.cpp
  pcsx2/PerformanceMetrics.cpp
  pcsx2/VMManager.h
Labels: GS, GUI/Qt

#5798 GS: Improve autoflush rect checks
  pcsx2/GS/GSState.cpp
Labels: GS

#5819 GameDB: Metal Gear Solid 3 PAL - Fix blurry characters
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#5826 Fix MemoryCard (Folders) crash
  pcsx2/MemoryCardFolder.cpp
Labels: First Time Contribution

#5823 GameDB: Update Simple Series entries
  bin/resources/GameIndex.yaml
Labels: GameDB

#5827 GSDump: Drop last packet of truncated dumps
  pcsx2/GS/GSLzma.cpp
Labels: GS

#5828 Gamedb: fix missing serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#5832 GameDB: God Of War 1 / 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#5813 PCSX2: Interlacing to Deinterlacing
  .github/workflows/scripts/validation/lint-gamedb/lint-gamedb.py
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2/Docs/GameIndex.md
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, Build | Project System, GameDB, Documentation

#5836 Gamedb: add 'VUSyncHack' to 'Next Generation Tennis 2003'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5834 GameDB: Fix name + add comment
  bin/resources/GameIndex.yaml
Labels: GameDB

#5841 GSState: Remove transfer direction warning
  pcsx2/GS/GSState.cpp
Labels: GS

#5844 wxWidgets 3.1.6 Compatibility
  pcsx2/gui/i18n.cpp
Labels: GUI/WX

#5867 GS: Remove unused default configs.
  pcsx2/GS/GS.cpp
Labels: GS

#5817 Remove wx code from build.sh and a bit of cleanup.
  build.sh
Labels: Installer | Package, Build | Project System

#5859 GameDB: add missing serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#5863 GameDB: Fixes for Wrestle Kingdom 1 + 2
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#5676 Common: Removed array-index manipulation logic for more standardised abstractions
  common/GL/ContextEGL.cpp
Labels: First Time Contribution

#5860 Documentation: Update recommended OpenGL version
  README.md
Labels: Documentation

#5792 PAD: Process keycodes the same way on Linux and macOS
  pcsx2/CMakeLists.txt
  pcsx2/Darwin/DarwinKeyCodes.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/Host.h
  pcsx2/PAD/Gamepad.h
  pcsx2/PAD/Linux/PAD.cpp
  pcsx2/PAD/Linux/keyboard.cpp
  pcsx2/PAD/Linux/wx_dialog/dialog.cpp
  pcsx2/gui/AppMain.cpp
  pcsx2/gui/FrameForGS.cpp
Labels: GS, Build | Project System, GUI/WX, PAD: Linux/Mac

#5778 BiosTools: (Experimental) BIOS region patching
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
  pcsx2/ps2/BiosTools.cpp
  pcsx2/ps2/BiosTools.h
Labels: Core, GUI/Qt

#5875 GS/HW: Clear blend bits for color dest blend
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware

#5868 GameDB: Japanese entries Batch 1
  bin/resources/GameIndex.yaml
Labels: GameDB

#5873 Wx: Fix widescreen patch loading
  pcsx2/Patch.cpp
  pcsx2/gui/AppCoreThread.cpp
Labels: GUI/WX

#5879 PCSX2: Fix Interlacing Ini
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#5880 GS: Fix undefined behaviour on interlacing
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#5872 GameDB: Several game fixes and a gamelist entry correction
  bin/resources/GameIndex.yaml
Labels: GameDB

#5887 GS/DX12: Fix DATE not being set in shader macros
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS

#5881 GS: Get display width for frame when offsets off
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#5892 GameDB: upscaling fixes and documentation updates
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#5894 GameDB: Game fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5896 Dmac: Fix the naming of the Dmac from LegacyDmac.cpp to Dmac.cpp
  pcsx2/CMakeLists.txt
  pcsx2/Dmac.cpp
  pcsx2/R5900.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System

#5901 Qt: Fix fullscreening in Wayland
  pcsx2-qt/DisplayWidget.cpp
  pcsx2-qt/EmuThread.cpp
  pcsx2-qt/EmuThread.h
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#5902 GS: fix display width calculation for frame when offsets off
  pcsx2/GS/GSState.cpp
Labels: GS, First Time Contribution

#5906 GS/DX11: Fix MMOD=1 merge background color
  bin/resources/shaders/dx11/convert.fx
  bin/resources/shaders/dx11/merge.fx
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D

#5911 GameDB:add 'EETimingHack' to'Harry Potter and the Chamber of Secrets'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5907 CDVD: Rename cdrom files to Ps1CD for clarity of function
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/Ps1CD.cpp
  pcsx2/CDVD/Ps1CD.h
  pcsx2/CMakeLists.txt
  pcsx2/HwWrite.cpp
  pcsx2/IopHw.cpp
  pcsx2/R3000A.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
  pcsx2/ps2/Iop/IopHwRead.cpp
  pcsx2/ps2/Iop/IopHwWrite.cpp
Labels: Build | Project System, CDVD

#5910 GS-d3d11: Purge the NVIDIA hack.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Window/GSSetting.cpp
Labels: GS, GS: Direct3D

#5917 GS-qt: Gray out texture barriers and geometry shaders on d3d or sw renderers.
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#5918 vcxproj.filters: Adjust d3d shader and source file group naming to accommodate d3d12 addition.
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System

#5923 GameDB: Mosquito + RE Dead Aim + Ice Age
  bin/resources/GameIndex.yaml
Labels: GameDB

#5927 ReadMe.md: Clarify only Windows 8.0 dropped.
  README.md
Labels: Documentation

#5908 build: on linux use system wayland libs falling back to appimage ones
  .github/workflows/scripts/linux/app-variables.sh
  .github/workflows/scripts/linux/appimage.sh
Labels: Build | Project System

#5932 GS/SW: Fix use-after-free on worker thread shutdown
  pcsx2/GS/Renderers/SW/GSRasterizer.cpp
  pcsx2/GS/Renderers/SW/GSRasterizer.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software

#5935 BUILD: exclude libgmodule-2.0
  .github/workflows/scripts/linux/appimage.sh
Labels: Build | Project System

#5939 build: Include CrashHandler.cpp in cmake. Fixes #5938.
  common/CMakeLists.txt
Labels: Bug, Build | Project System

#5943 Qt: Implement proper data directory selection
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#5951 GS/DX11: Fix possible use-after-free on cached RT/DS
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
Labels: GS, GS: Direct3D

#5948 UI: Rename Ultra Blending to Maximum Blending
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
  pcsx2/GS/Window/GSSetting.cpp
Labels: GS, GS: Hardware, GUI/Qt

#5952 MTGS: Combine init/read FIFO and remove several MTGS waits
  pcsx2/FiFo.cpp
  pcsx2/GS.cpp
  pcsx2/GS.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GSDumpReplayer.cpp
  pcsx2/MTGS.cpp
  pcsx2/Vif1_Dma.cpp
  pcsx2/gui/Dialogs/GSDumpDialog.cpp
Labels: GS, VIF, GUI/WX

#5962 GameDB: game fixes for 'DMC', 'Fatal Frame' and 'MX vs. ATV - Untamed'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5956 GS: Correct display offsets for Interlaced (FFMD) Framebuffers
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#5964 GameDB: SOCOM Combined Assault NTSC Patch
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#5544 PAD: Fix race on shutdown
  pcsx2/PAD/Linux/PAD.cpp
Labels: PAD: Linux/Mac

#5968 GS: Make renderer a global
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Renderers/SW/GSRasterizer.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.h
  pcsx2/GS/Renderers/SW/GSTextureCacheSW.cpp
  pcsx2/GS/Renderers/SW/GSTextureCacheSW.h
Labels: GS, GS: Software, GS: Hardware, GS: Texture Cache

#5972 GS: Ignore fractional parts when reducing tex ranges
  pcsx2/GS/GSState.cpp
Labels: GS

#5974 GameDB: Add preload frame data for Ninja Assault.
  bin/resources/GameIndex.yaml
Labels: GameDB

#5969 GS: Merge GSRendererNew and GSRendererHW
  pcsx2/CMakeLists.txt
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
  pcsx2/GS/Renderers/HW/GSRendererNew.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: GS, Build | Project System, GS: Hardware

#5973 GameDB: Japanese entries Batch 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#5981 GS: limit merge circuit memory read height
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware

#5984 GameDB: Japanese entries Batch 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#5897 build: Remove i386_flag, as it is no longer used.
  build.sh
Labels: Installer | Package, Build | Project System

#5975 GS-hw: Cleanup Half pixel offset Normal.
  pcsx2/GS/Renderers/Common/GSTexture.cpp
  pcsx2/GS/Renderers/Common/GSTexture.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#5989 Gamedb:add 'XGKickHack' to 'WRC II Extreme'
  bin/resources/GameIndex.yaml
Labels: GameDB
