Repository PCSX2/pcsx2, pull requests merged in 2022-08, with the labels that each got.

#6759 GameDB: Add missing gsHWFixes to Growlanser V & Growlanser VI
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6750 GameDB: Misc fixes and additions
  bin/resources/GameIndex.yaml
Labels: GameDB

#6761 GameDB: Maximo vs Army of Zin Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6764 GameDB: Add round sprite full for DMC3, reduces blur.
  bin/resources/GameIndex.yaml
Labels: GameDB

#6766 GameDB: Fixes Dual Hearts FMV's not being deinterlaced
  bin/resources/GameIndex.yaml
Labels: GameDB

#6752 GS: Don't double res on No-Interlace patch when interlaced
  pcsx2/GS/GSState.cpp
Labels: GS

#6767 UI-Qt: Add Bilinear dropdown to SW options
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#6771 GameDB: add Panzer Elite Action upscaling fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6770 GameDB: Misc compat level fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6721 GameDB: Replace Evolution Snowboarding patches.
  bin/resources/GameIndex.yaml
Labels: GameDB

#6774 GameDB: Fix to the name of Asterix & Obelix XXL
  bin/resources/GameIndex.yaml
Labels: GameDB

#6725 DEV9: Sockets: Set Arp Hardware Type
  pcsx2/DEV9/sockets.cpp
Labels: DEV9

#6779 Gamedb: remove not needed upscaling fixes for God of war
  bin/resources/GameIndex.yaml
Labels: GameDB

#6781 Gamedb: add basic mipmap to Blood Omen 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#6788 GS/HW: Clamp draw rect to unscaled, not scaled coordinates
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6789 GameDB: Correct The Incredible Hulks name
  bin/resources/GameIndex.yaml
Labels: GameDB

#6787 GS-HW: Correct FBMask masks for texture shuffles
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, GS: Blending

#6783 GS-metal: Move PABE shader bit to the top of sw blending.
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Metal

#6792 GS-hw: Purge MidnightClub3 crc hacks.
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#6793 GS-hw: Purge SkyGunner crc hacks.
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#6784 GS-hw: Adjust how we handle specific blend mix cases.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Hardware, GS: Metal

#6794 GameDB: Add 007 NightFire fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6790 GameDB: Add missing Japanese games
  bin/resources/GameIndex.yaml
Labels: GameDB

#6776 GS-hw: Purge tri ace crc hacks.
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#6796 GameDB: Add Disaster Report fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6799 GameDB: Fixes for Devil Kings
  bin/resources/GameIndex.yaml
Labels: GameDB

#6801 GameDB: Add missing Korean serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#6803 Gamedb: upscaling fixes for Poison Pink/ Eternal Poison
  bin/resources/GameIndex.yaml
Labels: GameDB

#6800 GS-d3d11: Disable blending when color isn't written.
  pcsx2/GS/Renderers/DX11/GSTextureFX11.cpp
Labels: GS, GS: Direct3D 11

#6804 GS-hw: Don't disable second output on blend mix when using constant factor.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#6808 GameDB: Add DBZ Budokai Tenkaichi 2 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6807 Qt: Force helpText size to avoid overflow at default window size
  pcsx2-qt/Settings/SettingsDialog.ui
Labels: GUI/Qt

#6814 Gamedb: upscaling fixes for Shadow of Rome
  bin/resources/GameIndex.yaml
Labels: GameDB

#6815 GameDB: Ace Combat 5 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6818 GHActions:MacOS: Don't fail on failed brew unlink
  .github/workflows/macos_build.yml
Labels: Build | Project System

#6812 GS: Add slow path for odd width 4bpp host->local transfers
  pcsx2/GS/GSLocalMemory.cpp
Labels: GS

#6820 Gamedb: add missing Alpine Racer 3 entries
  bin/resources/GameIndex.yaml
Labels: GameDB

#6824 Gamedb: add missing 'Ace Combat 04' entry
  bin/resources/GameIndex.yaml
Labels: GameDB

#6823 Config: Default dump compression to LZMA (xy)
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/Config.h
Labels: GUI/Qt

#6809 GS:HW: More accurate blend equation for blend mix
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Metal

#6831 WX: Change default sound module to Cubeb
  pcsx2/SPU2/Windows/Config.cpp
Labels: SPU2

#6832 Gamedb: add fixes for 'World Rally Championship' NTSC-J versions
  bin/resources/GameIndex.yaml
Labels: GameDB

#6834 GameDB: Remove half-pixel offset from Mercenaries
  bin/resources/GameIndex.yaml
Labels: GameDB

#6829 GameDB: Fix typos in game names
  bin/resources/GameIndex.yaml
Labels: GameDB

#6835 GameDB: Add various Burnout fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6777 Workflows: Fetch cheats from a separate pcsx2_patches repository
  .github/workflows/linux_build_qt.yml
  .github/workflows/linux_build_wx.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build_qt.yml
  .github/workflows/windows_build_wx.yml
  bin/resources/cheats_ni.zip
  bin/resources/cheats_ws.zip
Labels: Build | Project System

#6838 GS/TextureCache: Fix texture resize in DX11
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6842 gameDB: Kessen 2 NTSC-J refraction patch fix
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6846 Gamedb: add upscaling fixes to 'Charlie's Angels'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6844 GameDB: DBZ Budokai Tenkaichi fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6825 GS: Improve autoflush detection.
  pcsx2/GS/GSState.cpp
Labels: GS

#6849 GameDB: Upscaling fix for Naruto Ultimate Ninja 5/Narutimate Accel 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#6850 Qt: Add missing description texts
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#6856 QT: Fixing a minor typo in Emulation Settings
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
Labels: GUI/Qt

#6855 Qt: Change name of Adjust to Host Refresh Rate
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.ui
Labels: GUI/Qt

#6836 Qt: Allow for weird sounds to come out of more speakers
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.h
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/SPU2/Host/Config.cpp
Labels: SPU2, GUI/Qt

#6861 GameDB: Interlace and upscale fixes for Cocoto Fishing Master
  bin/resources/GameIndex.yaml
Labels: GameDB

#6866 GameDB: Shellshock Nam 67 Upscaling fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6870 GS: fix out of bounds access to index buffer.
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#6867 GS: Cleanup GSState.cpp.
  pcsx2/GS/GSState.cpp
Labels: GS

#6857 GS: Fix wx replayer readbacks
  pcsx2/gui/Dialogs/GSDumpDialog.cpp
Labels: GUI/WX

#6875 GameDB: Driving Emotion Type-S fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6868 GS: improve Haunting Ground hw tc hack.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6882 GameDB: Tomb Raider Angle of Darkness effect fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6863 Interpolate depth properly when converting from RGBA
  bin/resources/shaders/dx11/convert.fx
  bin/resources/shaders/opengl/convert.glsl
  bin/resources/shaders/vulkan/convert.glsl
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/convert.metal
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#6885 GameDB: Various game fixes and missing entrys
  bin/resources/GameIndex.yaml
Labels: GameDB

#6889 GameDB: Add some missing demos
  bin/resources/GameIndex.yaml
Labels: GameDB

#6878 GS-hw: Cleanup GSRendererHW.cpp.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#6900 GameDB: General clean up
  bin/resources/GameIndex.yaml
Labels: GameDB

#6906 GameDB: Major League Baseball 2K5 Hang fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6904 CDVD: Fix integer division on floats and fix logging
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#6907 GameDB: Added memcardFilters to Armored Core - Last Raven
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6913 Revert PR #6792
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#6643 GS:Metal: Expand lines and sprites in vertex shader
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMTLSharedHeader.h
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Hardware, GS: Metal

#6895 GameDB: Re-ordering gshwfix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6924 Misc: fix some codacy warnings
  .github/CONTRIBUTING.md
  pcsx2/Docs/README.md
Labels: Build | Project System, Documentation

#6940 CMake: Throw error when building Qt with PACKAGE_MODE
  pcsx2-qt/CMakeLists.txt
Labels: Build | Project System, GUI/Qt

#6945 GameDB: add missing serial for 'Hyper Sports 2002 Winter'
  bin/resources/GameIndex.yaml
Labels: GameDB

#6949 GameDB: Fix "Curious George" region
  bin/resources/GameIndex.yaml
Labels: GameDB

#6955 Gamedb: fix incorrect korean serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#6967 GameDB: Various title fixes and game fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6919 GameDB: some title fixes letter A + SCAJ-30004 + SLPM-62346
  bin/resources/GameIndex.yaml
Labels: GameDB

#6931 GS: Use accumulation blend when alpha is known to be 1
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#6923 GS-hw: Improve how we handle blending on 24bit with Ad factor in renderer.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Hardware, GS: Blending, GS: Metal
