Repository PCSX2/pcsx2, pull requests merged in 2022-03, with the labels that each got.

#5519 Disable warnings on several third party libraries.
  cmake/SearchForStuff.cmake
Labels: Upstream | External, Build | Project System

#5582 GS/TextureCache: Don't let hash cache memusage go negative
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#5585 GameDB: add 'VUSyncHack' to 'Tiger Woods PGA Tour 2002' and update documentation
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#5587 WX: Make texture dump location configurable
  pcsx2/gui/AppConfig.cpp
  pcsx2/gui/Panels/PathsPanel.cpp
Labels: GUI/WX

#5551 GS:OGL: Don't memset C++ objects
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
Labels: GS, GS: OpenGL

#5590 Gamedb: add patch for Cars
  bin/resources/GameIndex.yaml
Labels: GameDB

#5580 GS: Handle Auto Flush across pages + improve performance
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSVertexTrace.cpp
Labels: GS, GS: Blending

#5600 GS-hw: Optimize blending when ALPHA.A is equal to ALPHA.B.
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware, GS: Blending

#5610 GS-hw: Improve how we handle blending when output is Cd.
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware, GS: Blending

#5621 GameDB: Katamari games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5616 Gamedb: add VU clamping to 'DT Racer' and update MGS2 hack
  bin/resources/GameIndex.yaml
Labels: GameDB

#5623 GS/WX: Fix default adapter causing unnecessary GS restarts
  pcsx2/GS/Window/GSwxDialog.cpp
Labels: GS, GUI/WX

#5613 GS-hw: Move the Ad to As equation swap when alpha is masked to Basic blend level and higher on gl/vk.
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware, GS: Blending

#5608 GS/Vulkan: Elide render pass restarts on depth buffer toggle
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#5601 GS: Support local to local transfers that overwrite themselves
  pcsx2/GS/GSState.cpp
Labels: GS

#5628 GS-hw: Attempt to improve half screen detection
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#5635 GameDB: Added a whole host of auto GS HW renderer fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5636 GameDB: Transformers Armada: Prelude to Energon
  bin/resources/GameIndex.yaml
Labels: GameDB

#5612 GS: Improvements to MTBA Mip Mapping
  pcsx2/GS/GSState.cpp
Labels: GS

#5638 GS-Build: Fix Dump Verticles for linux
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#5642 Docs : Add GS hardware fixes and MTVUSpeedHack
  bin/docs/GameIndex.pdf
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#5646 GS/VertexTrace: Fix min/max when last provoking vertex unsupported
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/Common/GSVertexTrace.cpp
  pcsx2/GS/Renderers/Common/GSVertexTrace.h
Labels: GS

#5643 GameDB: Auto GS HW renderer fixes for some NAMCO games
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#5653 GS: Loosen requirement for half bottom
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#5650 GameDB: Documentation
  bin/docs/GameIndex.pdf
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#5655 GameDB: correct and update serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#5657 GameDB: Upscaling GS Batch 1
  .github/workflows/scripts/validation/lint-gamedb/lint-gamedb.py
  bin/resources/GameIndex.yaml
Labels: Build | Project System, GameDB

#5658 GameDB: Rogue Galaxy
  bin/resources/GameIndex.yaml
Labels: GameDB

#5659 GameDB: Add gsHWFixes for Shutokou Battle 01.
  bin/resources/GameIndex.yaml
Labels: GameDB

#5652 GameDB: GS HW renderer fixes for Tales of the Abyss
  bin/resources/GameIndex.yaml
Labels: GameDB

#5654 GS: Adjust Auto Flush to catch edge cases
  pcsx2/GS/GSLocalMemory.cpp
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/GSState.cpp
Labels: GS

#5667 GameDB: Add Software FMV to Grandia 2 and Xtreme
  bin/resources/GameIndex.yaml
Labels: GameDB

#5665 GameDB: Add Upscaling Fixes to Onimusha 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#5664 GameDB: Upscaling GS Batch 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#5662 GameDB: Add gsHWFixes for GTA LCS/VCS
  bin/resources/GameIndex.yaml
Labels: GameDB

#5671 GameDB: Dog Island and COD Final Fronts
  bin/resources/GameIndex.yaml
Labels: GameDB

#5554 GS-hw: Optimize blending equations based on alpha value.
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware, GS: Blending

#5673 GameDB: Ace Combat + Soul Calibur + Metal Gear Solid Series
  bin/resources/GameIndex.yaml
Labels: GameDB

#5678 GameDB: Add a bunch of hw fixes and upscaling fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5679 GS: Fix Wunused-variable warnings.
  pcsx2/GS/GSLzma.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#5680 GameDB: More GS HW Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5681 GameDB: Add gsHWFixes for Tales of Symphonia
  bin/resources/GameIndex.yaml
Labels: GameDB

#5683 GameDB: Add DMABusy fix to Shining Wind
  bin/resources/GameIndex.yaml
Labels: GameDB

#5684 GUI: Rename Fast Texture Invalidation
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/GS/Window/GSwxDialog.cpp
Labels: GS, GUI/Qt

#5685 GameDB: Haunting Ground + 50 Cent and Level 5
  bin/resources/GameIndex.yaml
Labels: GameDB

#5687 GS:SW: Fix LOD on x64
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
Labels: GS, GS: Software

#5689 GameDB: HW fixes for Rockman X8
  bin/resources/GameIndex.yaml
Labels: GameDB

#5691 GameDB: Rename fastTextureInvalidation
  .github/workflows/scripts/validation/lint-gamedb/lint-gamedb.py
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2/Docs/GameIndex.md
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
Labels: Build | Project System, GameDB, Documentation

#5694 GameDB: HW fixes for Mega Man/Rockman X7 + Clamping mode fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#5696 Qt: Partial Invalidation
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#5700 GS/DX11: Fix incorrect format check for compressed textures
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D

#5701 Gamedb: remove no longer needed comments
  bin/resources/GameIndex.yaml
Labels: GameDB

#5697 PCSX2-GUI: Rename skipdraw and IDC for Partial Invalidation
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/Window/GSSetting.cpp
  pcsx2/GS/Window/GSSetting.h
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/WX, GUI/Qt

#5705 GameDB: Add fixes for Tak Games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5711 Misc: Fix incorrect printf of std::string_view
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
  pcsx2/Frontend/InputManager.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/MemoryCardFile.cpp
Labels: GS, GS: Hardware, GUI/Qt

#5706 Core: Remove unused code
  pcsx2/Hw.h
  pcsx2/VUops.h
  pcsx2/x86/iR5900.h
  pcsx2/x86/ix86-32/iR5900-32.cpp
  pcsx2/x86/microVU_Macro.inl
Labels: Core, Vector Units, Code Cleanup / Refactoring

#5702 GameDB: Add GS HW fixes for Wild Arms Alter Code F
  bin/resources/GameIndex.yaml
Labels: GameDB

#5692 Qt: Fix bugs relating to per-game settings
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/SettingsDialog.cpp
Labels: GUI/Qt

#5704 CI: Update labeler to expand WX
  .github/labeler.yml
Labels: Build | Project System

#5712 GameDB: Even more GS HW Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5625 GS: Properly detect 16bit format on Texture Shuffle + Convert
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#5714 Core: Remove memcmp_mmx.
  common/CMakeLists.txt
  common/MemcpyFast.h
  common/common.vcxproj
  common/common.vcxproj.filters
  common/x86/MemcpyFast.cpp
  pcsx2/Vif_Codes.cpp
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_Compile.inl
Labels: Build | Project System, VIF, Vector Units

#5719 Gamedb: Remove VU rounding form 'Hitman - Contracts'
  bin/resources/GameIndex.yaml
Labels: GameDB

#5720 GameDB: adds 'VUSyncHack' to Panzer Elite Action - Fields of Glory
  bin/resources/GameIndex.yaml
Labels: GameDB

#5718 GS: Use pixel format mask for FBMSK checks
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware

#5722 Gamedb: add missing serials
  bin/resources/GameIndex.yaml
Labels: GameDB

#5724 GameDB: GS HW Batch X
  bin/resources/GameIndex.yaml
Labels: GameDB

#5732 GameDB: Fixes to TeamICO games.
  bin/resources/GameIndex.yaml
Labels: GameDB

#5731 GameDB: Fix Midnightclub 3 + Add Evangelion Jo
  bin/resources/GameIndex.yaml
Labels: GameDB

#5727 GS: Fix some edge cases with fbfetch
  bin/resources/shaders/opengl/tfx_fs.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererNew.cpp
Labels: GS, GS: Hardware

#5737 Gamedb: Fix 'SLES-54453' title
  bin/resources/GameIndex.yaml
Labels: GameDB

#5742 GameDB: Remove outdated comments
  bin/resources/GameIndex.yaml
Labels: GameDB

#5744 GameDB: Megaman + Nicktoons
  bin/resources/GameIndex.yaml
Labels: GameDB

#5735 GUI/Docs : update compatibility URLs
  README.md
  pcsx2/Docs/PCSX2_FAQ.md
  pcsx2/gui/MainMenuClicks.cpp
Labels: GUI/WX, Documentation

#5752 Qt: GS Settings Fixes
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#5745 GameDB: GS HW Fix XI
  bin/resources/GameIndex.yaml
Labels: GameDB

#5747 GameDB : various game improvements
  bin/resources/GameIndex.yaml
Labels: GameDB

#5762 Qt: Add missing null terminator in audio settings
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#5713 Build: Remove cross compiling from build.sh.
  build.sh
Labels: Installer | Package, Build | Project System

#5768 Qt: Reduce max SPU - Change Speed Preset
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
Labels: SPU2, GUI/Qt

#5785 GameDB: ':' to '-' + GS and other fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#5787 GameDB: Corrected GSHW Fixes for Radiata Stories
  bin/resources/GameIndex.yaml
Labels: GameDB

#5784 GameDB : Atelier Marie + Elie: Salburg no Renkinjutsushi 1&2
  bin/resources/GameIndex.yaml
Labels: GameDB

#5790 GameDB: Silent Hill Origins
  bin/resources/GameIndex.yaml
Labels: GameDB

#5794 GameDB: Add Zwei AutoFix
  bin/resources/GameIndex.yaml
Labels: GameDB

#5793 GameDB: Fixes for Tomb Raider Games
  bin/resources/GameIndex.yaml
Labels: GameDB

#5795 GameDB: Caspian
  bin/resources/GameIndex.yaml
Labels: GameDB
