Repository PCSX2/pcsx2, pull requests merged in 2022-07, with the labels that each got.

#6552 GS: Adjust CLUT dirty checks to reduce false positives
  pcsx2/GS/GSClut.cpp
Labels: GS

#6556 Gamedb: fixup wrong titles and add game fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6560 Gamedb: upscaling fixes for Kingdom Hearts - Final Mix
  bin/resources/GameIndex.yaml
Labels: GameDB

#6561 QT: settings descriptions
  pcsx2-qt/Settings/SettingsDialog.cpp
Labels: GUI/Qt

#6557 ThreadedFileReader: Fix a low-chance race when closing file
  pcsx2/CDVD/ThreadedFileReader.cpp
Labels: CDVD

#6562 Qt: Make status bar less confusing
  pcsx2-qt/EmuThread.cpp
  pcsx2-qt/EmuThread.h
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
Labels: GUI/Qt

#6573 QT: more missing descriptions
  pcsx2-qt/Settings/AdvancedSystemSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
Labels: GUI/Qt

#6575 GameDB: EA Sports BIO FolderMC Support
  bin/resources/GameIndex.yaml
Labels: GameDB

#6571 QT: Adds descriptions to OSD/Post Processing Settings
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#6576 QT: more settings descriptions part 3
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#6578 QT: more missing descriptions
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#6584 QT: set Texture Offsets & Skipdraw Range per game only
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#6587 GS: Improve CLUT testing, add test for local->local transfers.
  pcsx2/GS/GSState.cpp
Labels: GS

#6588 Gamedb: fix up game names and add HWfixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6598 Gamedb: fix game titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#6596 UI: Minor typo fixes
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#6601 GameDB: fix memcard filters
  bin/resources/GameIndex.yaml
Labels: GameDB

#6609 GS: Fix scanmask interlace offsetting on even numbers
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#6613 Gamedb: add EEclamping for "Cowboy Bebop" and autoflush for burnout 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#6616 Gamedb: add missing MGS3 HWfixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6618 Gamedb: autoflush for Burnout Dominator/ Revenge
  bin/resources/GameIndex.yaml
Labels: GameDB

#6612 GameDB: remove texture inside RT from Xenosaga Episode III
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6627 Gamedb: additions & fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6639 GameDB: fixes for Taiko no Tatsujin series
  bin/resources/GameIndex.yaml
Labels: GameDB

#6640 GameDB: various GSHWFixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6638 GameDB: add The Sims 2 missing fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6622 IPU: Adjust timing on IDEC/BDEC after IPU0 transfer
  pcsx2/IPU/mpeg2lib/Mpeg.cpp
Labels: IPU

#6649 Gamedb: missing serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#6648 Github: clean-up issue templates
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#6652 GameDB: MGS 2 texture preload to partial
  bin/resources/GameIndex.yaml
Labels: GameDB

#6657 Qt: Add crop options
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#6660 GS/TextureCache: Remove redundant CLUT read
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#6661 GameDB: additions & fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6658 GS/OpenGL: Fix incorrect detection of DXT/BPTC texture support
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#6670 QT: Change MTVU recommendation
  pcsx2-qt/Settings/SystemSettingsWidget.cpp
Labels: GUI/Qt

#6669 Change CDVDaccess to CDVDcommon
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/CDVD/CDVDcommon.cpp
  pcsx2/CDVD/CDVDcommon.h
  pcsx2/CDVD/IsoFS/IsoFSCDVD.cpp
  pcsx2/CDVD/Ps1CD.h
  pcsx2/CMakeLists.txt
  pcsx2/Pcsx2Config.cpp
  pcsx2/gui/AppConfig.h
  pcsx2/gui/SysThreadBase.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System, CDVD, GUI/WX, GUI/Qt

#6674 GameDB: Fix and add Japanese game names, apply upscaling fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6676 Gamedb: GShw fixes for Spider-Man 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#6677 QT: Add missing gamefix dialog
  pcsx2-qt/Settings/SettingsDialog.cpp
Labels: GUI/Qt

#6600 GameDB: game title and Ace Combat updates
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6678 GameDB: addition of missing serials (from H to J) & fixes of titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#6681 GameDB: check & fix of titles + add of missing serial (numbers)
  bin/resources/GameIndex.yaml
Labels: GameDB

#6597 GameDB: Fix glows in Ratatouille
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6685 GameDB: God Of War 2 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6686 GameDB: Urban Reign fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6688 GameDB: R&C 3 and R&C 4 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6689 GameDB: Add COP2 patch for Mobile Suit Gundam Seed Destiny Rengou vs. Z.A.F.T. II Plus
  bin/resources/GameIndex.yaml
Labels: GameDB

#6691 GameDB: Missed R&C3 and R&C4 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#6690 GameDB: Urban Chaos fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6697 GS: CLUT Invalidation on transfer accounts for offset.
  pcsx2/GS/GSState.cpp
Labels: GS

#6695 GameDB: Arean Football fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6700 GameDB: GoW Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6702 Qt: Allow changing theme without recreating window
  pcsx2-qt/GameList/GameListModel.cpp
  pcsx2-qt/GameList/GameListModel.h
  pcsx2-qt/GameList/GameListWidget.cpp
  pcsx2-qt/GameList/GameListWidget.h
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#6680 GameDB: Add mipmap fixes to Toshi engine games
  bin/resources/GameIndex.yaml
Labels: GameDB

#6707 GameDB: add gamefixes to cod 2 and fix titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#6709 GS/Vulkan: Fix incorrect render pass for stencil DATE
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#6712 GameDB: add 'VUSyncHack' to Air Ranger - Rescue Helicopter
  bin/resources/GameIndex.yaml
Labels: GameDB

#6716 GameDB: Correct title for Mushihimesama
  bin/resources/GameIndex.yaml
Labels: GameDB

#6714 GameDB: Energy Airforce fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6730 GameDB: Change halfPixelOffset normal to special for shadow hearts series.
  bin/resources/GameIndex.yaml
Labels: GameDB

#6729 Qt- Gui Controller Images
  pcsx2-qt/resources/images/dualshock-2.png
Labels: GUI/Qt

#6732 Qt: Change cycle skipping text
  pcsx2-qt/Settings/SystemSettingsWidget.ui
Labels: GUI/Qt

#6734 GameDB: Ridge Racer V upscaling fixes.
  bin/resources/GameIndex.yaml
Labels: GameDB

#6671 GHActions: Properly label Linux AVX2/SSE4 releases
  .github/workflows/scripts/releases/rename-release-assets.py
Labels: Build | Project System

#6735 Qt: Recommended text fixes
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/SystemSettingsWidget.cpp
Labels: GUI/Qt

#6743 GameDB: Various texture preloading fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6739 GS: Rearrange GS Dump names to be less annoying to navigate
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#6659 GS: Improve target size calcs and remove conservative framebuffer
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSExtra.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Window/GSSetting.cpp
  pcsx2/GS/Window/GSSetting.h
  pcsx2/GS/Window/GSwxDialog.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GUI/Qt

#6745 GameDB: WRC 4 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#6747 GS/TextureCache: Expand perfect-matched targets for display when needed
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#6731 GS: Purge sparse texture
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/Common/GSTexture.cpp
  pcsx2/GS/Renderers/Common/GSTexture.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Window/GSSetting.cpp
  pcsx2/GS/Window/GSSetting.h
  pcsx2/GS/Window/GSwxDialog.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#6748 Gamedb: add partial preload to "Hitman Contracts"
  bin/resources/GameIndex.yaml
Labels: GameDB

#6753 Gamedb:upscaling fixes for "dot hack Infection Part 1"
  bin/resources/GameIndex.yaml
Labels: GameDB
