Repository PCSX2/pcsx2, pull requests merged in 2023-06, with the labels that each got.

#8923 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8921 GS/Vulkan: Remove render area heuristics
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Vulkan

#8929 GameDB: Fix up some names
  bin/resources/GameIndex.yaml
Labels: GameDB

#8928 GS:MTL: Fix ICE on macOS 10.15
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Metal

#8940 CMake: Don't use system rapidyaml in default builds
  cmake/BuildParameters.cmake
  cmake/Pcsx2Utils.cmake
Labels: Build | Project System

#8944 Qt: Add missing bigpicture parameter to help text
  pcsx2-qt/QtHost.cpp
Labels: First Time Contribution, GUI/Qt

#8891 IsoFS: Create 'hard-links' for non-conforming version suffixes
  pcsx2/CDVD/IsoFS/IsoFS.cpp
Labels: CDVD

#8951 GameDB: add missing entry for Nuga-Cel
  bin/resources/GameIndex.yaml
Labels: GameDB

#8950 VMManager: Fix patches OSD not getting shown in some cases
  pcsx2-qt/QtHost.cpp
  pcsx2/Patch.cpp
  pcsx2/Patch.h
  pcsx2/VMManager.cpp
Labels: GUI/Qt

#8956 DEV9: swap unlocks to avoid potential deadlock
  pcsx2/DEV9/smap.cpp
Labels: DEV9

#8964 GameDB: Added fixes for Crash Bandicoot 5
  bin/resources/GameIndex.yaml
Labels: GameDB

#8962 GameDB: correct Frogger Rescue serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#8966 GS/Capture: Fix audio encoding without format conversion
  pcsx2/GS/GSCapture.cpp
Labels: GS

#8954 GameDB: minor correction
  bin/resources/GameIndex.yaml
Labels: GameDB

#8972 docs: update build guide URLs
  pcsx2/Docs/PCSX2_FAQ.md
Labels: Documentation, First Time Contribution

#8970 GS: Skip autoflush optimisation when pending texflush
  pcsx2/GS/GSState.cpp
Labels: GS

#8931 Debugger/MemoryView: Support pasting hex/text from clipboard
  pcsx2-qt/Debugger/MemoryViewWidget.cpp
  pcsx2-qt/Debugger/MemoryViewWidget.h
Labels: Debugger, GUI/Qt

#8967 GS/Capture: Support hardware video encoding
  pcsx2/GS/GSCapture.cpp
Labels: GS

#8978 GS/HW: Make Haunting Ground render fix invalidate depth as well
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/GSUtil.h
  pcsx2/GS/Renderers/Common/GSDirtyRect.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8993 GameDB: Xenosaga Ep 1 - Attempt to use quality level 100 as a base
  bin/resources/GameIndex.yaml
Labels: GameDB

#8975 VMManager: Refactor and improve boot process
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.h
  pcsx2-qt/Settings/BIOSSettingsWidget.ui
  pcsx2/Achievements.cpp
  pcsx2/Achievements.h
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/CDVD/CDVDcommon.cpp
  pcsx2/CDVD/CDVDcommon.h
  pcsx2/Config.h
  pcsx2/Elfheader.cpp
  pcsx2/Elfheader.h
  pcsx2/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
  pcsx2/GSDumpReplayer.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/GameList.cpp
  pcsx2/Hotkeys.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/FullscreenUI.h
  pcsx2/Interpreter.cpp
  pcsx2/IopBios.cpp
  pcsx2/MTGS.cpp
  pcsx2/Memory.cpp
  pcsx2/PINE.cpp
  pcsx2/Patch.cpp
  pcsx2/Patch.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/R5900.cpp
  pcsx2/R5900.h
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/Recording/InputRecording.cpp
  pcsx2/Recording/InputRecording.h
  pcsx2/SaveState.cpp
  pcsx2/SaveState.h
  pcsx2/System.cpp
  pcsx2/System.h
  pcsx2/USB/usb-lightgun/guncon2.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
  pcsx2/ps2/BiosTools.cpp
  pcsx2/ps2/BiosTools.h
  pcsx2/x86/ix86-32/iR5900-32.cpp
  tests/ctest/core/StubHost.cpp
Labels: GS, GS: Hardware, CDVD, TAS Functionality, USB, GUI/Qt, RetroAchievements

#8996 GS: Fix up overscan offsets. Stop using 3:2 for overscan.
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/VMManager.cpp
Labels: GS

#8998 Qt: Icon Refine (Part 2)
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/Settings/SettingsDialog.cpp
  pcsx2-qt/resources/icons/black/svg/chip-line.svg
  pcsx2-qt/resources/icons/black/svg/disc-2-line.svg
  pcsx2-qt/resources/icons/black/svg/emulation-line.svg
  pcsx2-qt/resources/icons/black/svg/heart-monitor-line.svg
  pcsx2-qt/resources/icons/black/svg/interface-line.svg
  pcsx2-qt/resources/icons/black/svg/memcard-line.svg
  pcsx2-qt/resources/icons/black/svg/network-line.svg
  pcsx2-qt/resources/icons/black/svg/pause-line.svg
  pcsx2-qt/resources/icons/black/svg/warning-line.svg
  pcsx2-qt/resources/icons/white/svg/chip-line.svg
  pcsx2-qt/resources/icons/white/svg/disc-2-line.svg
  pcsx2-qt/resources/icons/white/svg/emulation-line.svg
  pcsx2-qt/resources/icons/white/svg/heart-monitor-line.svg
  pcsx2-qt/resources/icons/white/svg/interface-line.svg
  pcsx2-qt/resources/icons/white/svg/memcard-line.svg
  pcsx2-qt/resources/icons/white/svg/network-line.svg
  pcsx2-qt/resources/icons/white/svg/pause-line.svg
  pcsx2-qt/resources/icons/white/svg/warning-line.svg
  pcsx2-qt/resources/resources.qrc
  pcsx2/ps2/BiosTools.cpp
Labels: GUI/Qt

#8991 GS/HW: Add render fix for MGS3 DoF effect
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
Labels: GS, GS: Hardware, GameDB

#8989 GS/HW: Implement FBW-based moves
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#9017 GS/CRC: Fix Ar Tonelico 2 CRC hack to check DS exists
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9016 Translations: Fix missing context marker on Manual Hardware Fixes string
  pcsx2-qt/Translations/pcsx2-qt_en.ts
  pcsx2/GameDatabase.cpp
  pcsx2/Patch.cpp
Labels: Translations, GUI/Qt

#9022 GS/HW: Fix up FFX, Sonic Unleashed and Burnout CRC hacks
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9024 Flatpak: Add screenshots
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/scripts/linux/flatpak/screenshots/screenshot1.png
  .github/workflows/scripts/linux/flatpak/screenshots/screenshot2.png
  .github/workflows/scripts/linux/pcsx2-qt.metainfo.xml.in
Labels: Build | Project System

#8986 Common: Replace MemsetFast routines with C memset
  common/CMakeLists.txt
  common/General.h
  common/MemsetFast.inl
  common/common.vcxproj
  common/emitter/cpudetect.cpp
  common/emitter/tools.h
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/Ps1CD.cpp
  pcsx2/Cache.cpp
  pcsx2/Counters.cpp
  pcsx2/GS.cpp
  pcsx2/Gif.cpp
  pcsx2/Gif_Unit.h
  pcsx2/Hw.cpp
  pcsx2/IPU/IPU.cpp
  pcsx2/IPU/IPU_Fifo.cpp
  pcsx2/IPU/IPU_MultiISA.cpp
  pcsx2/IopCounters.cpp
  pcsx2/MTVU.cpp
  pcsx2/MemoryCardFile.cpp
  pcsx2/R3000A.cpp
  pcsx2/R5900.cpp
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/SaveState.cpp
  pcsx2/SaveState.h
  pcsx2/Sif.cpp
  pcsx2/Sif.h
  pcsx2/System.cpp
  pcsx2/VUmicroMem.cpp
  pcsx2/Vif.cpp
  pcsx2/vtlb.cpp
  pcsx2/x86/R5900_Profiler.h
  pcsx2/x86/iCore.cpp
  pcsx2/x86/ix86-32/iCore-32.cpp
  pcsx2/x86/ix86-32/iR5900-32.cpp
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_Branch.inl
  pcsx2/x86/microVU_Compile.inl
  pcsx2/x86/microVU_Profiler.h
  pcsx2/x86/newVif_Unpack.cpp
Labels: Build | Project System, CDVD, VIF, Vector Units, Counters, IPU

#9028 GameDB: Matrix Path Of Neo Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9029 UI: Fix some typo's in UI comments
  pcsx2-qt/Settings/CreateMemoryCardDialog.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2-qt/Translations/pcsx2-qt_en.ts
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/MemoryCardFile.cpp
  pcsx2/MemoryCardFolder.cpp
  pcsx2/Sio.cpp
  pcsx2/VMManager.cpp
Labels: Translations, GUI/Qt

#9031 ci: don't build the localization branch on push
  .github/workflows/lint_gamedb.yml
  .github/workflows/linux_build_matrix.yml
  .github/workflows/macos_build_matrix.yml
  .github/workflows/windows_build_matrix.yml
  crowdin.yml
Labels: Build | Project System

#9000 GS: Use 32-bit vertex positions for culling
  pcsx2/GS/GSDrawingContext.cpp
  pcsx2/GS/GSDrawingContext.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/GSVector4i.h
Labels: GS

#9036 Qt: Fix crash when right clicking volume slider
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#9040 GameDB: Fix CLUT colors for Kazuku Keikaku (SLPM-65889)
  bin/resources/GameIndex.yaml
Labels: GameDB

#9038 CI: Prevent double builds on pushes to pcsx2 repo
  .github/workflows/linux_build_matrix.yml
  .github/workflows/macos_build_matrix.yml
  .github/workflows/windows_build_matrix.yml
Labels: Build | Project System

#9044 GameDB: Add minimum blending level for Snow (SLPS 25342 & 25332)
  bin/resources/GameIndex.yaml
Labels: GameDB

#9041 DEV9: Deduplicate sparse file assert code
  pcsx2/DEV9/ATA/ATA.h
  pcsx2/DEV9/ATA/ATA_Transfer.cpp
Labels: DEV9

#9030 New Crowdin updates
  crowdin.yml
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
Labels: Translations, GUI/Qt

#9050 GameDB: Spartan Total Warrior Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9052 GameDB/Config: Don't apply GS upscaling fixes in native resolution
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
Labels: GS: Upscaling

#9048 GS/HW: Update drawn area and full valid bits on hardware move
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9046 Qt: Add Setup Wizard
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.h
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.h
  pcsx2-qt/SetupWizardDialog.cpp
  pcsx2-qt/SetupWizardDialog.h
  pcsx2-qt/SetupWizardDialog.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
Labels: Build | Project System, GUI/Qt

#9055 Qt: Removes hyperlink color override from Rcheevos
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
Labels: GUI/Qt

#9058 IPU: Redo FIFO transfers, plus small IPU_TO DMA tweak
  pcsx2/IPU/IPU_Fifo.cpp
  pcsx2/IPU/IPU_Fifo.h
  pcsx2/IPU/IPUdma.cpp
Labels: IPU

#9053 GS: Double buffer the EE transfer queue
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.h
Labels: GS, GS: Software, GS: Hardware

#9063 UI: Expand Achievement login box height slightly
  pcsx2-qt/Settings/AchievementLoginDialog.ui
Labels: GUI/Qt

#9023 Updater:Mac: Delay launch of new application until the old one exits
  common/CocoaTools.h
  common/CocoaTools.mm
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#9051 IPU: Slow down BDEC and IDEC so they don't outstrip DMA data writes
  pcsx2/IPU/IPU.cpp
  pcsx2/IPU/IPU.h
  pcsx2/IPU/IPU_Fifo.cpp
  pcsx2/IPU/IPU_MultiISA.cpp
  pcsx2/IPU/IPUdma.cpp
Labels: IPU

#9067 GameDB: Add missing WRC II Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9054 Qt: Hook up current translations
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Translations.cpp
  pcsx2-qt/Translations/generate_update_glyph_ranges.py
  pcsx2-qt/Translations/update_glyph_ranges.py
  pcsx2/Host.cpp
  pcsx2/Host.h
Labels: Build | Project System, Translations, GUI/Qt

#9074 Qt: Updating language names
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#9069 GameDB: Add missing WRC 3 serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#9081 GameDB: Add blending for Clannad and Clover Heart's VNs
  bin/resources/GameIndex.yaml
Labels: GameDB

#9083 Qt: Adjust cache folder help text
  pcsx2-qt/Settings/FolderSettingsWidget.ui
Labels: GUI/Qt

#9089 CI/Linux: Push to Flathub beta
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/scripts/linux/install-packages-flatpak.sh
Labels: Build | Project System

#9088 GameDB: add missing demos
  bin/resources/GameIndex.yaml
Labels: GameDB

#9085 GameDB: fixes for WRC4 demos & update patches
  bin/resources/GameIndex.yaml
Labels: GameDB

#9076 GS/HW: When page aligned, dirty page rects instead of SO
  pcsx2/GS/GSLocalMemory.cpp
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9094 GHActions:Mac: Update to macOS 13 / Xcode 14.3
  .github/workflows/macos_build.yml
Labels: Build | Project System

#9099 UI: Remove outdated info from descritption
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Translations/pcsx2-qt_en.ts
Labels: Translations, GUI/Qt

#9109 GameDB: general clean up
  bin/resources/GameIndex.yaml
Labels: GameDB

#9115 GS/Vulkan: Make line width dynamic
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Vulkan

#9125 GS/Vulkan: Set line width unconditionally on line draw
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Vulkan

#9126 GS/OpenGL: Fix potentially-incorrect line width
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: OpenGL, GS: Vulkan

#9113 GS-hw: Change some blend operations in hw blend table.
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS
