Repository PCSX2/pcsx2, pull requests merged in 2023-12, with the labels that each got.

#10341 QT: add the ability to load .backup save states in UI
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#10328 Achievements: Fix the percentage counter when only unofficial achievements exist
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#10342 GameDB: Misc fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10344 deps: Bump to Qt 6.6.1 and SDL2 2.28.5
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#10353 Qt: Fix links in first page of Setup Wizard
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10361 Big Picture: Fix macro settings not applying correctly
  pcsx2/ImGui/FullscreenUI.cpp
Labels: Changes translatable strings, GUI/Qt

#10373 GameDB: PJ King Kong fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10365 3rdparty: Update D3D12 memory allocator
  3rdparty/d3d12memalloc/CHANGELOG.md
  3rdparty/d3d12memalloc/README.md
  3rdparty/d3d12memalloc/include/D3D12MemAlloc.h
  3rdparty/d3d12memalloc/src/D3D12MemAlloc.cpp
Labels: Documentation, Dependencies

#10364 3rdparty: Update VK memory allocator
  3rdparty/include/vk_mem_alloc.h
  pcsx2/GS/Renderers/Vulkan/VKEntryPoints.inl
Labels: GS, Dependencies, GS: Vulkan

#10371 Qt: Adds right click menu option 'Go To Disassembly' to Memory Search results
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
Labels: Debugger, GUI/Qt

#10377 Qt: (Debugger) Add ability to remove result from Memory Search results
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
Labels: Debugger, GUI/Qt

#10346 GS/HW: Add 'Align To Native' HPO mode
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, GUI/Qt

#10363 UI: Minor additions for translations and English text changes (2nd attempt)
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/AdvancedSettingsWidget.ui
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GS, GUI/Qt

#10381 Input-rec: Set git tagged emu version instead of static version.
  pcsx2/Recording/InputRecordingFile.cpp
  pcsx2/Recording/InputRecordingFile.h
Labels: TAS Functionality

#10384 FullscreenUI: Use PromptFont for keyboard/controller icons
  3rdparty/include/IconsPromptFont.h
  bin/resources/fonts/promptfont-license
  bin/resources/fonts/promptfont.otf
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/QtKeyCodes.cpp
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiFullscreen.cpp
  pcsx2/ImGui/ImGuiFullscreen.h
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Input/DInputSource.cpp
  pcsx2/Input/DInputSource.h
  pcsx2/Input/InputManager.cpp
  pcsx2/Input/InputManager.h
  pcsx2/Input/InputSource.h
  pcsx2/Input/SDLInputSource.cpp
  pcsx2/Input/SDLInputSource.h
  pcsx2/Input/XInputSource.cpp
  pcsx2/Input/XInputSource.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadTypes.h
  pcsx2/USB/usb-hid/usb-hid.cpp
  pcsx2/USB/usb-lightgun/guncon2.cpp
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-seamic.cpp
  pcsx2/USB/usb-pad/usb-turntable.cpp
  tests/ctest/core/StubHost.cpp
  tools/generate_fullscreen_ui_translation_strings.py
  tools/generate_update_fa_glyph_ranges.py
Labels: GS, PAD, USB, Dependencies, GUI/Qt

#10391 GameDB : Upscaling fixes for X-Men 2 - Wolverine's Revenge
  bin/resources/GameIndex.yaml
Labels: GameDB

#10368 GameDB: RPM Tuning bloom misalignment fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#10400 GameDB: Darkwatch Upscaling Fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#10401 CI/AppImage: Bump libc6 downgrade version
  .github/workflows/linux_build_qt.yml
Labels: Build | Project System

#10402 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10403 GameDB: memcardFilters for Ratchet&Clank series
  bin/resources/GameIndex.yaml
Labels: GameDB

#10407 GameDB: Add monster hunter memcard filters
  bin/resources/GameIndex.yaml
Labels: GameDB

#10408 GameDB: Remove Merge sprite from God Hand.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10410 GS/D3D: Fix X3206 CAS shader warning.
  bin/resources/shaders/dx11/cas.hlsl
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: Direct3D 12

#10411 GS: Fix more lambda capture warnings
  pcsx2/GS/Renderers/Common/GSVertexTraceFMM.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/OpenGL/GLContextEGL.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSTextureCacheSW.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/VKLoader.cpp
  pcsx2/GS/Renderers/Vulkan/VKShaderCache.cpp
Labels: GS, GS: Software, GS: Hardware, GS: Texture Cache, GS: OpenGL, GS: Vulkan

#10412 CDVD: Adjust abort behaviour on action.
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#10406 Debugger: Don't modify disassembly focus on CPU state change
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.h
  pcsx2-qt/Debugger/MemoryViewWidget.h
  pcsx2-qt/Debugger/RegisterWidget.h
Labels: Debugger, GUI/Qt

#10416 GameDB: Add VU1 clamping to Dino Stalker/Gun Survivor 3 - Dino Crisis
  bin/resources/GameIndex.yaml
Labels: GameDB

#10418 GS/DX12: Fix a warning during PrimID DATE pipeline creation
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#10419 GS: Autodetect Vulkan for Intel Xe GPUs
  pcsx2/GS/Renderers/DX11/D3D.cpp
Labels: GS, GS: Direct3D 11

#10429 GameDB: Sims 2 Castaway fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10428 GameDB: Fixes for Boku no Natsuyasumi 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#10430 Qt: Fix game properties dialogs keeping app open
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/SettingsWindow.cpp
  pcsx2-qt/Settings/SettingsWindow.h
Labels: GUI/Qt

#10434 GS/HW: Don't crash on texture allocation failure
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10404 Memcard: Remove option to disable auto eject
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/SIO/Sio.cpp
  pcsx2/VMManager.cpp
Labels: Memory Card, GUI/Qt

#10417 OSD/FSUI: Adjust PromptFont for more readability
  3rdparty/include/IconsPromptFont.h
  bin/resources/fonts/fa-solid-900.ttf
  bin/resources/fonts/promptfont.otf
  bin/resources/fullscreenui/no-save.png
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/SIO/Pad/PadGuitar.cpp
  tools/generate_update_fa_glyph_ranges.py
Labels: PAD, Dependencies

#10440 Memcard: Fix terminator not properly flagging ejections
  pcsx2/SIO/Memcard/MemoryCardProtocol.cpp
  pcsx2/SIO/Sio.cpp
  pcsx2/SIO/Sio2.cpp
  pcsx2/SIO/SioTypes.h
Labels: Memory Card

#10427 DEV9: fix incorrect max hdd size
  pcsx2/DEV9/ATA/ATA_Info.cpp
Labels: DEV9

#10447 GS/HW: Fix 16bit depth conversion in shuffles + fix NFSU CRC
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10452 GS/HW: Fix source partial preload alpha tracking behaviour
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10397 DiscordRPC: Show session time in Discord Rich Presence
  pcsx2/Achievements.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: RetroAchievements

#10454 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10441 Debugger: Add memory search types: GreaterThan(OrEqual), LesserThan(OrEqual), and Not Equal
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
  pcsx2-qt/Debugger/CpuWidget.ui
Labels: Debugger, GUI/Qt

#10462 GS/HW: Further improve GT4 render fix
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#10468 Qt: Patch macdeployqt to always deploy Qt SVG imageformat plugin
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#10469 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10477 GameDB - Fix dothack titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#10474 GS/HW: Only copy valid channels for copied channels in hw move
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10476 GameDB: Recommended blending for Silent Hill: Origins.
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#10479 GS/Vulkan: Disable threaded presentation when spin is enabled
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#10483 GameDB: Add a couple more dothack title adjustments
  bin/resources/GameIndex.yaml
Labels: GameDB

#10492 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10495 Qt: Fix game properties dialog not activating
  pcsx2-qt/Settings/SettingsWindow.cpp
Labels: GUI/Qt

#10420 DEV9: Add support for external HDD ID
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/ATA/Commands/ATA_SCE.cpp
Labels: DEV9

#10470 GS/TC: Remove old targets when changing width and outside a page
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10478 GS/HW: Fix some target resize/clear handling
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10502 GameDB: Ace Combat 4/5/0 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10488 GameDB: Add NTSC-C game's official Simplified Chinese name
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#10503 DEV9: fix some missing includes and nonportable u_long type use
  pcsx2/DEV9/Sessions/TCP_Session/TCP_Session_In.cpp
  pcsx2/DEV9/Sessions/UDP_Session/UDP_FixedPort.cpp
  pcsx2/DEV9/Sessions/UDP_Session/UDP_Session.cpp
Labels: DEV9, First Time Contribution

#10486 Debugger: Fix Importing Breakpoints CSV functionality
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2-qt/QtUtils.cpp
  pcsx2-qt/QtUtils.h
Labels: Debugger, GUI/Qt

#10505 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10445 GS:MTL: Give labels to textures
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSTextureMTL.mm
Labels: GS, GS: Metal

#10511 GamePatchSettingsWidget: Enable word wrap for long patch names/descriptions
  pcsx2-qt/Settings/GamePatchDetailsWidget.ui
  pcsx2-qt/Settings/GamePatchSettingsWidget.ui
Labels: GUI/Qt

#10523 GS: Refactor renderer switching
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2/Counters.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/MTGS.cpp
  pcsx2/MTGS.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, Counters, GUI/Qt

#10525 PCAP: Fix a regression from #10448
  pcsx2/DEV9/pcap_io.cpp
Labels: DEV9
