Repository PCSX2/pcsx2, pull requests merged in 2023-08, with the labels that each got.

#9668 GS: Remove GSCrc
  pcsx2/CMakeLists.txt
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/MTGS.cpp
  pcsx2/MTGS.h
  pcsx2/VMManager.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: GS, Build | Project System, GS: Hardware

#9696 GS/HW: Don't discard target when SCANMSK is set
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9697 Build: remove -32 notation from core filenames
  pcsx2/CMakeLists.txt
  pcsx2/Interpreter.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/x86/ix86-32/iCore.cpp
  pcsx2/x86/ix86-32/iR5900.cpp
Labels: Build | Project System, Code Cleanup / Refactoring

#9700 GameDB: Remove accidental addition Growlanser 5+6
  bin/resources/GameIndex.yaml
Labels: GameDB

#9701 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9706 GameDB: Missing Korean entries + maintenance
  bin/resources/GameIndex.yaml
Labels: GameDB

#9704 MemoryCardFolder: Initialize hostFilePath
  pcsx2/SIO/Memcard/MemoryCardFolder.cpp
Labels: Memory Card

#9707 ci: restore release announcements after they are published
  .github/workflows/release_announce.yml
  .github/workflows/release_cut_new.yml
Labels: Build | Project System

#9710 GameDB: Remove CCLUT from Raw Danger
  bin/resources/GameIndex.yaml
Labels: GameDB

#9709 ci: properly fetch release info to make announcement
  .github/workflows/release_cut_new.yml
  .github/workflows/scripts/releases/announce-release/index.js
  .github/workflows/scripts/releases/announce-release/package-lock.json
  .github/workflows/scripts/releases/announce-release/package.json
Labels: Build | Project System

#9711 Readme: Update requirements.
  README.md
Labels: Documentation

#9729 GS/Metal: Don't end up with two encoders on readback
  pcsx2/GS/Renderers/Metal/GSTextureMTL.mm
Labels: GS, GS: Metal

#9737 UI: Only allow relative memcard files in memcard interface
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#9730 GameList: Add an option to exclude entire directories
  pcsx2-qt/Settings/GameListSettingsWidget.cpp
  pcsx2-qt/Settings/GameListSettingsWidget.h
  pcsx2-qt/Settings/GameListSettingsWidget.ui
  pcsx2-qt/SetupWizardDialog.ui
  pcsx2/GameList.cpp
Labels: GUI/Qt

#9722 RetroAchievements/Qt: Add configurable achievement notification duration
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.h
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
  pcsx2/Achievements.cpp
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
Labels: First Time Contribution, GUI/Qt, RetroAchievements

#9740 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9741 GS/Metal: Fix crash when Z write is on second pass
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#9751 GS/Vulkan: Make VK_EXT_provoking_vertex optional again
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Vulkan

#9743 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9761 Dis5900: Mask and extend the pmfhl & pmthl LUT
  pcsx2/DebugTools/DisR5900asm.cpp
Labels: Debugger

#9757 GS: Fix autoflush behaviour when using Z + C formats + improve performance
  pcsx2/GS/GSState.cpp
Labels: GS

#9763 GS/HW: Allow double clear when base is lowest bitsize denominator
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9766 Qt: Even further icon refinement
  pcsx2-qt/resources/icons/black/svg/emulation-line.svg
  pcsx2-qt/resources/icons/black/svg/floppy-in-line.svg
  pcsx2-qt/resources/icons/black/svg/floppy-out-line.svg
  pcsx2-qt/resources/icons/black/svg/guitar-line.svg
  pcsx2-qt/resources/icons/white/svg/emulation-line.svg
  pcsx2-qt/resources/icons/white/svg/floppy-in-line.svg
  pcsx2-qt/resources/icons/white/svg/floppy-out-line.svg
  pcsx2-qt/resources/icons/white/svg/guitar-line.svg
Labels: GUI/Qt

#9768 GameDB: Add full mipmap plus triliear ps2 to The Godfather.
  bin/resources/GameIndex.yaml
Labels: GameDB

#9767 GameDB: Fixes for Ghost Recon - Advanced Warfighter & Battlefield 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#9777 GS/HW: Restrict double buffer detection to widths greater than 256
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9779 Qt: Fix arrow key handling on macOS
  pcsx2-qt/QtKeyCodes.cpp
Labels: GUI/Qt

#9780 USB-Turntable: Default multiplier to 1
  pcsx2/USB/usb-pad/usb-turntable.cpp
Labels: USB

#9781 GS/HW: Correctly remove offset when detecting shuffle coords
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9784 UI: remove mention of Half Screen Fix
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#9795 GameDB: Various Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9782 [SAVEVERSION+] Remove old trigger deadzone references, replace with button deadzone
  pcsx2/SIO/Pad/Pad.cpp
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SIO/Pad/PadTypes.h
  pcsx2/SaveState.h
Labels: PAD

#9788 GS/DX11: Commit clear before clearing stencil
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D 11

#9800 GS/HW: Only preserve valid channels on target overlap
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9801 GS/TC: Don't allow tex is rt for PSMT8 on 16bit targets
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9803 GameDB: Add VU0 clamping to Naruto Ultimate Ninja 5 (Accel 2)
  bin/resources/GameIndex.yaml
Labels: GameDB

#9770 GameDB: Hardware Fixes for Burnout 2
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution, Hold Merge

#9806 GameDB: Naruto Ultimate Ninja 5 + same for 4th
  bin/resources/GameIndex.yaml
Labels: GameDB

#9807 GameDB: Add COP2 patch for Initial D - Special Stage (SLPM-65268)
  bin/resources/GameIndex.yaml
Labels: GameDB

#9805 GS/HW: Skip DATE/draw if not required
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9802 GS/HW: Further adjust how we handle RT alpha in blending.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9811 GameDB: SoulCalibur III
  bin/resources/GameIndex.yaml
Labels: GameDB

#9810 GS/Vulkan: Avoid incorrect-layout RT descriptor
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#9812 GS/HW: Cleanup draw when pixels fail on alpha test/date.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#9814 Pad: Only consider LSB for small motor vibration
  pcsx2/SIO/Pad/PadDualshock2.cpp
Labels: PAD, Hardware Tested

#9826 GameDB: Add missing patch for Myst III
  bin/resources/GameIndex.yaml
Labels: GameDB

#9829 GameDB: Change VU1 clamping mode for Naruto 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#9828 GS/HW: Fix CRC hack for Growlanser V not checking for null
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9823 GameDB: Remove EE Round Mode from Armored Core 3 games
  bin/resources/GameIndex.yaml
Labels: GameDB

#9840 GameDB: Add EE timing fix to Gunfighter II
  bin/resources/GameIndex.yaml
Labels: GameDB

#9849 GameDB: Add Hitman Blood Money HW fix to the US versions
  bin/resources/GameIndex.yaml
Labels: GameDB

#9851 GS/HW: Don't use TEXA on 16/24 bit when TCC is set to Vertex alpha
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9847 GS/TC: Don't expand block offsets to page size when small
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9855 GS: Fix depth texture dumping for HW
  pcsx2/GS/Renderers/Common/GSTexture.cpp
  pcsx2/GS/Renderers/DX11/GSTexture11.cpp
  pcsx2/GS/Renderers/DX11/GSTexture11.h
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.h
Labels: GS, GS: Direct3D 11, GS: OpenGL

#9846 GS/HW: Don't rely on transfer rect size if target width changes
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9863 Pad: Don't serialize buttons or config
  pcsx2/SIO/Pad/Pad.cpp
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SaveState.h
Labels: PAD

#9860 Hotkeys: Add "Toggle On-Screen Display"
  pcsx2/GS/GS.cpp
Labels: GS

#9864 Qt: Fix global volume slider overriding per-game
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#9865 GS/HW: Fix depth getting discarded with DATE on
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#9856 GS/Vulkan: Prevent transition back to Undefined layout
  pcsx2/GS/Renderers/Vulkan/GSTextureVK.cpp
Labels: GS, GS: Vulkan

#9868 GS/HW: Always calculate valid area + end block on new targets (WWE Smackdown HCTP Crash)
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9870 GS/HW: Fix up and restore some old valid channel behaviour
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9872 GS/HW: Kill old opposite type targets on clears
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#9880 GameDB: Add VU0 clamping Extra + Sign to Sky Odyssey
  bin/resources/GameIndex.yaml
Labels: GameDB

#9874 IPU: Move decode delay to after the decode
  pcsx2/IPU/IPU_MultiISA.cpp
Labels: IPU

#9875 GS/HW: Round up when checking odd width double half clears
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9887 GS/TC: Only look up alternate depth sources if inside the target
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9886 GS/TC: Avoid no size targets being made
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache
