Repository PCSX2/pcsx2, pull requests merged in 2023-03, with the labels that each got.

#8301 GS/Vulkan: Fix RT being left bound as texture
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8290 GS-TC: On invalidate of the alpha of 32bit, drop back to 24bit
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8302 GS/HW: Fix off by one in estimate texture region
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, GameDB

#8297 Make Game Properties accessible from the toolbar
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/MainWindow.ui
Labels: GUI/Qt

#8304 GameDB: add textureInsideRT to NBA '07 featuring The Life Vol.2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8307 GameDB: Destroy All Humans 1&2 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8308 Qt: Fix skipdraw not being hidden globally again
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GUI/Qt

#8305 GameDB: upscaling fixes for Springdale
  bin/resources/GameIndex.yaml
Labels: GameDB

#8309 GameDB: add fixes to Knight Rider - The Game
  bin/resources/GameIndex.yaml
Labels: GameDB

#8310 Qt: Clear all keyboard bind states when focus is lost
  pcsx2-qt/QtHost.cpp
  pcsx2/Frontend/InputManager.cpp
  pcsx2/Frontend/InputManager.h
Labels: GUI/Qt

#8312 GS/Vulkan: Fix a bunch of validation warnings
  bin/resources/shaders/vulkan/convert.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8314 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8315 GS/Vulkan: Don't skip barrier with colclip+readwrite date
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8318 GameDB: Gun fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8324 GS/HW: Require FBW=1 for Jak OI fix
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#8327 GS/HW: Avoid copying an empty rectangle
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8317 GameDB: Steambot Chronicles + typo fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#8323 GS: Get rid of GetOutputSize()
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#8329 GameDB: Various recommendations and fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8335 GS-TC: Allow TBW expansion
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8342 GS/HW: Fix incorrect condition in DX11/OGL
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL

#8347 GameDB: Add missing Ponkotsu Roman Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8356 Qt: Disable framebuffer fetch option on d3d.
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#8360 Qt: Restore main menu settings button
  pcsx2-qt/MainWindow.ui
Labels: GUI/Qt

#8340 GS:MTL: Don't start render passes with no targets
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#8361 GS/Metal: Align texture upload pitch to 32 bytes
  pcsx2/GS/Renderers/Metal/GSTextureMTL.h
  pcsx2/GS/Renderers/Metal/GSTextureMTL.mm
Labels: GS, GS: Metal

#8365 Qt: Fix description for Trigger & Button Deadzone
  pcsx2/PAD/Host/PAD.cpp
Labels: PAD

#8351 GameDB: Add autoflush to Dirge of Cerberus: Final Fantasy VII
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#8366 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8372 GameDB: Add Mipmap and Trilinear to Tony Hawk's Underground 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8373 GameDB: add fixes to Crouching Tiger, Hidden Dragon
  bin/resources/GameIndex.yaml
Labels: GameDB

#8374 GameDB: Add blending level 3 to Tony Hawk's Underground 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8375 GameDB: Add missing Tony Hawk's Underground 2 fixes.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8376 GS:MTL: Fix wrong function constant type
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#8380 GS-Hw: Correct page aligned end blocks
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8382 GS/HW: Move old-target invalidation to after draw
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8381 Qt: Hide manual hardware fixes from global settings
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#8383 Qt: Fix crash when changing renderer
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#8213 GUI/Qt: Minor text corrections, nitpicks
  pcsx2-qt/AutoUpdaterDialog.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2-qt/Settings/CreateMemoryCardDialog.cpp
  pcsx2-qt/Settings/CreateMemoryCardDialog.ui
  pcsx2-qt/Settings/DEV9DnsHostDialog.ui
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardConvertDialog.cpp
  pcsx2-qt/Settings/MemoryCardConvertDialog.ui
  pcsx2-qt/Settings/MemoryCardConvertWorker.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.ui
  pcsx2-qt/Settings/SettingsDialog.cpp
Labels: GUI/Qt

#8389 GS-OGL: Remove available_vram
  pcsx2/GS/Renderers/OpenGL/GLState.cpp
  pcsx2/GS/Renderers/OpenGL/GLState.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
Labels: GS, GS: OpenGL

#8392 Documentation: Remove unused files
  bin/docs/PCSX2.1
  bin/docs/PCSX2_FAQ.pdf
Labels: Documentation

#8396 GS: Fix integer scaling when using Bilinear (Sharp)
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#8397 UI: Fix masking of Target Partial Invalidation with Tex in RT
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#8395 GS: Detect double width texture shuffles
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8399 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8402 GameDB: fixes for Biker Mice from Mars
  bin/resources/GameIndex.yaml
Labels: GameDB

#8404 GameDB: add fixes for Lupin III - Columbus no Isan wa Akenisomaru and fix game names
  bin/resources/GameIndex.yaml
Labels: GameDB

#8409 COP2: Mask R register on CFC2 reads
  pcsx2/VU0.cpp
  pcsx2/x86/microVU_Macro.inl
Labels: Vector Units

#8400 GameDB: Add Mipmap and Trilinear to Spyro: Enter the Dragonfly
  bin/resources/GameIndex.yaml
Labels: GameDB

#8411 GameDB: SMT DS Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8388 CI:macOS: Use xz for distribution
  .github/workflows/macos_build.yml
  .github/workflows/scripts/releases/rename-release-assets.py
Labels: Build | Project System

#8414 GS-hw: Clean up Wunused-variable warnings in hw renderer.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8423 GameDB: various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8424 GS-HW: Correct region size when source is in render target
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8048 [QT, I18N] Adding I18N comments for translators, minor typo fixes
  pcsx2-qt/AboutDialog.ui
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.ui
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2-qt/Debugger/Models/StackModel.cpp
  pcsx2-qt/Debugger/Models/ThreadModel.cpp
  pcsx2-qt/Debugger/Models/ThreadModel.h
  pcsx2-qt/Debugger/RegisterWidget.cpp
  pcsx2-qt/GameList/EmptyGameListWidget.ui
  pcsx2-qt/GameList/GameListWidget.ui
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/AdvancedSettingsWidget.ui
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2-qt/Settings/BIOSSettingsWidget.ui
  pcsx2-qt/Settings/ControllerBindingWidget.ui
  pcsx2-qt/Settings/ControllerBindingWidget_DualShock2.ui
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2-qt/Settings/ControllerMacroEditWidget.ui
  pcsx2-qt/Settings/ControllerSettingsDialog.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.ui
  pcsx2-qt/Settings/DebugSettingsWidget.ui
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.ui
  pcsx2-qt/Settings/FolderSettingsWidget.ui
  pcsx2-qt/Settings/GameFixSettingsWidget.ui
  pcsx2-qt/Settings/GameListSettingsWidget.ui
  pcsx2-qt/Settings/GameSummaryWidget.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.ui
  pcsx2-qt/Settings/MemoryCardConvertDialog.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.ui
  pcsx2-qt/Settings/USBBindingWidget_DrivingForce.ui
  pcsx2-qt/Settings/USBBindingWidget_GTForce.ui
  pcsx2-qt/Settings/USBDeviceWidget.ui
  pcsx2-qt/Tools/InputRecording/NewInputRecordingDlg.ui
Labels: GUI/Qt

#8431 GameDB: remove SoftwareRendererFMVHack from Siren 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8435 GameDB: fixes for True Crime - Streets of L.A.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8438 Qt: Fix graphics settings opening to other pages
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#8421 Debugger: use ulonglong for memory search + fix crash
  pcsx2-qt/Debugger/CpuWidget.cpp
Labels: GUI/Qt

#8442 GS-TC: mask target rect with drawn area before download.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8444 GS: Remove ExpandTarget on EE Write
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.h
Labels: GS, GS: Software, GS: Hardware, GS: Texture Cache

#8449 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8451 GameDB: From Soft game fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8445 GS: Compensate for misaligned partial 24bit local->host transfers
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/GSLocalMemoryMultiISA.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#8456 GameDB: fixes for Metal Gear Solid 3 Snake Eater
  bin/resources/GameIndex.yaml
Labels: GameDB

#8460 CMake: Swap -g for -g1 in Linux Release builds
  cmake/BuildParameters.cmake
Labels: Build | Project System

#8462 Qt: Remove backup AppImage on next launch
  pcsx2-qt/AutoUpdaterDialog.cpp
  pcsx2-qt/AutoUpdaterDialog.h
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#8463 GS/HW: Fix texture replacement precaching option
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware

#8465 UI: Correct Recommended Values for a few items
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#8469 CDVD: Correct state when swapping disc
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/CDVD/CDVD_internal.h
  pcsx2/VMManager.cpp
Labels: CDVD

#8475 GS/DX11: Fix incorrect UBO for P8 conversion
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D 11

#8471 Qt: Add a New Light Theme and Cobalt Theme Fix
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#8479 GameDB: Ratchet & Clank 1&2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8476 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8484 GS-TC: Only stop checking for RT's if whole read is inside that RT.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8486 GS-TC: Give option to match target on exact memory addresses
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8492 GameDB: Add Mipmap and Trilinear to The Incredibles
  bin/resources/GameIndex.yaml
Labels: GameDB

#8494 GameDB: Fix WRC 4 car discolouration
  bin/resources/GameIndex.yaml
Labels: GameDB

#8498 GameDB: fixes for various games
  bin/resources/GameIndex.yaml
Labels: GameDB

#8495 GS: Provide HPO Normal offsets when there is no RT.
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8496 CI: Remove separate Windows builds
  .github/workflows/release_pipeline.yml
Labels: Build | Project System

#8506 CI: Switch Windows Qt builds to Clang
  .github/workflows/release_pipeline.yml
Labels: Build | Project System

#8497 GameDB: Add Mipmap/Trilinear to SpongeBob Movie & Incredibles
  bin/resources/GameIndex.yaml
Labels: GameDB

#8505 GS-HW: Check what channel is being read during a possible split shuffle
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8502 GameDB: More WWE text fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8513 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8518 MSBuild: Enable DirectX in cmake SDL build
  3rdparty/sdl2/CMakeLists.txt
Labels: Build | Project System, Dependencies

#8520 GS/HW: Fix GT4/T5 CRC hacks in DirectX renderers
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8499 GameDB: Add roundsprite to Samurai Warriors 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8523 CMake: Enable RAIntegration on Windows builds
  3rdparty/rainterface/CMakeLists.txt
  cmake/SearchForStuff.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System, Dependencies

#8528 Qt: Theme Polishes for Pizza and Cobalt
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#8525 GameDB: Fix blurriness in Sitting Ducks and Fog Line in Over the Hedge
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#8530 GameDB: fixes for Super Trucks Racing
  bin/resources/GameIndex.yaml
Labels: GameDB
