Repository PCSX2/pcsx2, pull requests merged in 2023-01, with the labels that each got.

#7754 x86/microVU: Fix incorrect VI being backed up when uncached
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#7760 x86/microVU: Only update MXCSR when it's different
  pcsx2/x86/microVU_Execute.inl
Labels: Vector Units

#7764 Qt: Fix per-game settings with sliders
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.h
Labels: GUI/Qt

#7767 GameDB: remove SoftwareRendererFMVHack from Onimusha - Dawn of Dreams
  bin/resources/GameIndex.yaml
Labels: GameDB

#7759 gh-workflows-macos: Remove leftover wx dependencies.
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#7773 GS/DX12: Remove undefined functions from header
  pcsx2/GS/Renderers/DX12/GSDevice12.h
Labels: GS, GS: Direct3D 12

#7768 GameDB: Comment all EE/VU fixes, add some missing ones
  bin/resources/GameIndex.yaml
Labels: GameDB

#7783 GameDB: Remove disable Instant VU1 from SoTC
  bin/resources/GameIndex.yaml
Labels: GameDB

#7762 USB: Support stereo input for Singstar Mic
  pcsx2/USB/usb-mic/audiodev-cubeb.cpp
  pcsx2/USB/usb-mic/audiodev-cubeb.h
  pcsx2/USB/usb-mic/audiodev-noop.h
  pcsx2/USB/usb-mic/audiodev.h
  pcsx2/USB/usb-mic/usb-mic-singstar.cpp
Labels: USB

#7786 GameDB: Various fixes for FIFA games and Conan
  bin/resources/GameIndex.yaml
Labels: GameDB

#7790 GameDB: add fixes to Syphon Filter - The Omega Strain
  bin/resources/GameIndex.yaml
Labels: GameDB

#7793 USB: Fix incorrect serialization of HIDKbdDevice.
  pcsx2/USB/usb-hid/usb-hid.cpp
Labels: USB

#7789 SPU2: Allow loop rewrite of LOOPSTART if block header already passed
  bin/resources/GameIndex.yaml
  pcsx2/SPU2/spu2sys.cpp
Labels: SPU2, GameDB

#7796 GzippedFileReader : remove commented out WX code
  pcsx2/CDVD/GzippedFileReader.cpp
Labels: CDVD

#7776 build: Add cmake presets to pcsx2.
  CMakePresets.json
Labels: Build | Project System

#7802 Misc : remove missed wx vs filters
  pcsx2-qt/pcsx2-qt.vcxproj.filters
Labels: Build | Project System, GUI/Qt

#7799 Qt: Fix light themes
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#7808 GameDB: More BF2 MC Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#7811 GameDB: Add Disable Instant VU to Batman - Rise of Sin Tzu
  bin/resources/GameIndex.yaml
Labels: GameDB

#7812 GameDB:: fixes for 'Obscure II - The Aftermath'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7813 GameDB: Fix Terminator 3 Spain region, add Buzz Brain of Spain
  bin/resources/GameIndex.yaml
Labels: GameDB

#7769 x86regs: iCore.h cleanup.
  pcsx2/x86/iCore.h
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#7819 VU: Fix out of bounds check for Q clamp
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#7821 x86/microVU: Don't assert clearing macro mode temps
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#7820 GS: Separate Cd output from Cs blend cases
  pcsx2/GS/GSRegs.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#7822 GameDB: Correct Blood Omen 2 name
  bin/resources/GameIndex.yaml
Labels: GameDB

#7818 SPU2: Purge interpolation options
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/SPU2/Mixer.cpp
Labels: SPU2, GUI/Qt

#7853 GameDB: fixes for Hawk Kawasaki Racing
  bin/resources/GameIndex.yaml
Labels: GameDB

#7856 Qt: Lower audio ms + Tooltip (affinity+Cycle skip)
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2/Config.h
Labels: GUI/Qt

#7848 GS/HW: Adjust Barnyard fix for Jurassic Park and Nicktoons Unite
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
Labels: GS, GS: Hardware, GameDB

#7860 GameDB: fixes for Battle for Volcano Island
  bin/resources/GameIndex.yaml
Labels: GameDB

#7859 GS: Purge leftover wx tooltips.
  pcsx2/GS/Window/GSSetting.cpp
  pcsx2/GS/Window/GSSetting.h
Labels: GS

#7863 Misc: Latest round of warning cleanups
  common/emitter/cpudetect.cpp
  pcsx2-qt/Debugger/BreakpointDialog.cpp
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2-qt/Debugger/Models/BreakpointModel.h
  pcsx2-qt/Debugger/Models/ThreadModel.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#7868 GameDB: fixes for Made Man
  bin/resources/GameIndex.yaml
Labels: GameDB

#7867 GS:MTL: Implement clut update shaders
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMTLSharedHeader.h
  pcsx2/GS/Renderers/Metal/convert.metal
Labels: GS, GS: Metal

#7869 cmake: Turn back on some warnings that no longer need to be turned off.
  cmake/BuildParameters.cmake
Labels: Build | Project System

#7873 CI: Retry downloading commands on Linux
  .github/workflows/scripts/linux/appimage-qt.sh
  .github/workflows/scripts/linux/functions.sh
  .github/workflows/scripts/linux/install-packages-qt.sh
Labels: Build | Project System

#7864 USB: Correct Keyboardmania binding list
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#7875 GameDB: Add Half-Pixel Offset for Sega Superstars Tennis
  bin/resources/GameIndex.yaml
Labels: GameDB

#7878 GameDB: add missing serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#7870 Debugger Expressions: Add 'target', 'load', and 'store' references
  pcsx2-qt/Debugger/BreakpointDialog.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger, GUI/Qt

#7882 Debugger: Fix step out
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
Labels: Debugger, GUI/Qt

#7892 SPU2: Cleanup SndOut
  pcsx2/SPU2/SndOut.cpp
Labels: SPU2

#7896 SPU2: Fix sound output
  pcsx2/SPU2/SndOut.cpp
Labels: SPU2

#7886 UI: More text descriptions for options
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#7893 Debugger: Implement boot and debug
  pcsx2-qt/Debugger/DebuggerWindow.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2/DebugTools/Breakpoints.cpp
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/DebugInterface.h
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/R5900OpcodeTables.h
Labels: Debugger, GUI/Qt

#7901 GameDB: Add HPO Normal to WWE 2008 and 2009
  bin/resources/GameIndex.yaml
Labels: GameDB

#7899 IPU: Combine source files to work around an LTO bug in clang 15
  pcsx2/CMakeLists.txt
  pcsx2/IPU/IPU.cpp
  pcsx2/IPU/IPU.h
  pcsx2/IPU/IPU_Fifo.cpp
  pcsx2/IPU/IPU_MultiISA.cpp
  pcsx2/IPU/IPU_MultiISA.h
  pcsx2/IPU/IPUdither.cpp
  pcsx2/IPU/IPUdma.cpp
  pcsx2/IPU/mpeg2_vlc.h
  pcsx2/IPU/mpeg2lib/Idct.cpp
  pcsx2/IPU/mpeg2lib/Mpeg.cpp
  pcsx2/IPU/mpeg2lib/Mpeg.h
  pcsx2/IPU/mpeg2lib/Vlc.h
  pcsx2/IPU/yuv2rgb.cpp
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System, IPU

#7900 GS-hw: Cleanup GSRendererHW.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#7906 GameDB: fixes for 'Dreamworks Madagascar'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7908 GameDB: upscale fixes for 'Lord of the Rings, The - The Two Towers'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7806 GameDB: Syphon Filter: The Omega Strain PAL speed fix patch
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#7911 USB: Remove readerwriterqueue
  pcsx2/CMakeLists.txt
  pcsx2/USB/readerwriterqueue/LICENSE.md
  pcsx2/USB/readerwriterqueue/README.md
  pcsx2/USB/readerwriterqueue/atomicops.h
  pcsx2/USB/readerwriterqueue/readerwriterqueue.h
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: Build | Project System, Documentation, USB

#7916 GameDB: Add SoftwareRendererFMVHack to Onimusha: Warlords
  bin/resources/GameIndex.yaml
Labels: GameDB

#7865 GS: Add video folder and support additional arguments for video dumping
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Frontend/HostSettings.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSCapture.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#7909 DEV9: AdapterUtils use unique_ptr to manage lifetime of ifaddrs array + formatting
  pcsx2/DEV9/AdapterUtils.cpp
  pcsx2/DEV9/AdapterUtils.h
  pcsx2/DEV9/pcap_io.cpp
  pcsx2/DEV9/sockets.cpp
Labels: DEV9

#7921 GameDB: upscaling fixes for 'TOCA Race Driver'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7920 GS-vk: Fix sample_4_index shader.
  bin/resources/shaders/vulkan/tfx.glsl
Labels: GS: Vulkan

#7924 GameDB: Add Mipmapping and Trilinear to Parappa the Rapper 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#7928 GameDB: Add missing Bratz The Movie fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#7926 GameDB: Syphon Filter: The Omega Strain Beta Speed Fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#7925 labeler: Add labels to shader files changes based on renderer.
  .github/labeler.yml
Labels: Build | Project System

#7931 GameDB: Correct Colin McRae Rally 3 sun rendering
  bin/resources/GameIndex.yaml
Labels: GameDB

#7932 GameDB: Add AutoFlush to Battle For Volcano Island
  bin/resources/GameIndex.yaml
Labels: GameDB

#7930 GS-hw: Cleanup GS memory clear.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#7934 GameDB: fixes for 'Snowboard Heaven'
  bin/resources/GameIndex.yaml
Labels: GameDB

#7937 GameDB: Add Autoflush to Dynasty Warriors 5 Xtreme
  bin/resources/GameIndex.yaml
Labels: GameDB

#7936 GameDB: Fixes for SpongeBob - The Movie
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#7935 GameDB: Disable Instant VU in Kim Possible WTS
  bin/resources/GameIndex.yaml
Labels: GameDB

#7805 GameDB: Remove Preload Frame Data for AC Last Raven
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#7941 GS-HW: Don't optimise clamp on shuffle
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#7939 GS/Debug: Fix bitfield reading in fprintf for cross compatibility.
  pcsx2/GS/GSDrawingContext.h
Labels: GS

#7943 GameDB: Fixes for TC SC Pandora Tomorrow
  bin/resources/GameIndex.yaml
Labels: GameDB

#7944 GS/Vulkan: Don't apply TFX state on utility draw
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#7940 VM: Queue shutdown message when called from inside emulation.
  pcsx2-qt/QtHost.cpp
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD, GUI/Qt

#7952 GS/TextureCache: Only expand target on write on TBW match
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#7953 GS: Show VRAM usage in statistics
  pcsx2/Frontend/ImGuiOverlays.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#7956 GameDB: Add missing PAL demos
  bin/resources/GameIndex.yaml
Labels: GameDB

#7950 GameDB: Force English in Tomb Raider - The Angel of Darkness US
  bin/resources/GameIndex.yaml
Labels: GameDB

#7947 GameDB: clean up comments
  bin/resources/GameIndex.yaml
Labels: GameDB

#7958 DInput: Support for up to 128 buttons
  pcsx2/Frontend/DInputSource.cpp
  pcsx2/Frontend/DInputSource.h
Labels: Needs Rebase

#7524 GHActions: Update release pipeline for MultiISA
  .github/workflows/linux_build_matrix.yml
  .github/workflows/linux_build_qt.yml
  .github/workflows/macos_build.yml
  .github/workflows/release_pipeline.yml
  .github/workflows/scripts/common/name-artifacts.sh
Labels: Build | Project System, Hold Merge

#7969 GameDB: Fixes for Incredibles - ROTU
  bin/resources/GameIndex.yaml
Labels: GameDB

#7971 Qt: Make behavior between both update checks consistent
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#7912 OSD: Fix invisible inputs
  pcsx2/Frontend/ImGuiOverlays.cpp
Labels: First Time Contribution

#7905 translations: Commit initial Qt .ts translation file to integrate with Crowdin
  crowdin.yml
  pcsx2-qt/Translations/pcsx2-qt_en.ts
Labels: GUI/Qt

#7978 Host: Fix a context menu regression from #7960
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#7980 GameDB: Correct use of Norway PAL code
  bin/resources/GameIndex.yaml
Labels: GameDB

#7951 DEV9: Move adapter MAC address code into AdapterUtils
  pcsx2/DEV9/AdapterUtils.cpp
  pcsx2/DEV9/AdapterUtils.h
  pcsx2/DEV9/pcap_io.cpp
  pcsx2/DEV9/sockets.cpp
Labels: DEV9

#7984 Achievements: Fix race in notifications
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2/Frontend/Achievements.cpp
  pcsx2/Frontend/FullscreenUI.cpp
Labels: GUI/Qt

#7988 GameDB: Harry Potter and the Chamber of Secrets
  bin/resources/GameIndex.yaml
Labels: GameDB

#7991 GS: Display output ignores TEXA
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software

#7993 GameDB: Add full Mipmapping to Harry Potter COS
  bin/resources/GameIndex.yaml
Labels: GameDB

#7996 GameDB:fixes for Dragon Quest VIII - Journey of the Cursed King
  bin/resources/GameIndex.yaml
Labels: GameDB

#8003 GameDB: Various Tekken fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8001 IPU: Reset threshold on IPU reset.
  pcsx2/IPU/IPU.cpp
Labels: IPU, Hardware Tested

#8011 GameDB: fixes for Megaman X Command Mission
  bin/resources/GameIndex.yaml
Labels: GameDB

#8012 DEV9: QT Per-game settings fixes
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.h
Labels: GUI/Qt
