Repository PCSX2/pcsx2, pull requests merged in 2023-07, with the labels that each got.

#9135 flatpak: Fix the location of mirrored screenshots
  .github/workflows/linux_build_flatpak.yml
Labels: Build | Project System, First Time Contribution

#9129 USB: Add DJ Hero Turntable Emulation
  pcsx2/CMakeLists.txt
  pcsx2/USB/deviceproxy.cpp
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-pad/usb-turntable.cpp
  pcsx2/USB/usb-pad/usb-turntable.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, USB, First Time Contribution

#9136 GameDB: add more missing demos
  bin/resources/GameIndex.yaml
Labels: GameDB

#9134 GameDB: Various fixes for Armored Core games
  bin/resources/GameIndex.yaml
Labels: GameDB

#9141 Qt: Fix wrongly labeled strings Translations
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#9142 Qt: Add Polish flag
  bin/resources/icons/flags/PAL-PL.png
  pcsx2-qt/Settings/GameSummaryWidget.ui
  pcsx2/GameList.cpp
  pcsx2/GameList.h
Labels: GUI/Qt

#9144 GS/HW: Detect one-page-offset RT+Z clear
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9150 GS/HW: Fix some regressions from #8961
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9158 GS/HW: avoid divide by zero's in draw rect calculations
  pcsx2/GS/GSLocalMemory.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9156 GS: Move VSync flush to caller
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#9157 GS: Fix uninitialized data in deinterlacing
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS

#9159 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9166 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9178 GameDB: Some fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9169 GameDB: Fix broken shadow in Armored Core Formula Front
  bin/resources/GameIndex.yaml
Labels: GameDB

#9183 USB: Fix DJ Hero Turntable Labels
  pcsx2/USB/usb-pad/usb-turntable.cpp
  pcsx2/USB/usb-pad/usb-turntable.h
Labels: USB

#9186 GameDB: X Squad Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9188 GameDB: NFS U2 Name fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#9190 GameDB: Fixing multiple names
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#9180 USB/usb-mic: Fix buffer handling
  pcsx2/USB/shared/ringbuffer.cpp
  pcsx2/USB/usb-mic/audiodev-cubeb.cpp
  pcsx2/USB/usb-mic/audiodev-cubeb.h
Labels: USB

#9189 GS/DX12: Fix targets getting stuck undirtied
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#9195 GS/HW: Don't invalidate buffers on partial clear
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9199 mipsanalyst: sign extend 32 bit regs
  pcsx2/DebugTools/MIPSAnalyst.cpp
Labels: Debugger

#9198 GS: Move PCRTC function definitions to GSState.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSClut.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/SW/GSTextureCacheSW.cpp
Labels: GS, GS: Software, GS: Hardware, GS: Texture Cache, GS: OpenGL

#9187 GS/HW: Add render fix for complex moves
  bin/resources/GameIndex.yaml
  pcsx2/Config.h
  pcsx2/Docs/gamedb-schema.json
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSRegs.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, GameDB

#7647 GS: Add fancy downsampling shaders
  bin/resources/shaders/dx11/present.fx
  bin/resources/shaders/opengl/present.glsl
  bin/resources/shaders/vulkan/present.glsl
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Metal/present.metal
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12, GS: Metal

#9207 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9209 GameDB: NFS UG1 Blending
  bin/resources/GameIndex.yaml
Labels: GameDB

#9205 CI: Remove redundant GUI variables
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/linux_build_matrix.yml
  .github/workflows/linux_build_qt.yml
  .github/workflows/macos_build.yml
  .github/workflows/macos_build_matrix.yml
  .github/workflows/release_pipeline.yml
  .github/workflows/scripts/common/name-artifacts.sh
  .github/workflows/scripts/releases/rename-release-assets.py
  .github/workflows/windows_build_matrix.yml
  .github/workflows/windows_build_qt.yml
Labels: Build | Project System

#9214 VIF: Add missing internal DMA stall flag
  pcsx2/Vif1_Dma.cpp
Labels: VIF

#9072 Linux/CI: Switch to Ubuntu 22.04 and linuxdeploy
  .github/workflows/linux_build_qt.yml
  .github/workflows/scripts/linux/AppRun-qt
  .github/workflows/scripts/linux/appimage-qt.sh
  .github/workflows/scripts/linux/install-packages-qt.sh
Labels: Build | Project System

#9203 GS-ogl: Fixes Wunused-but-set-variable warning.
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#9220 GS/HW: Avoid tex-is-fb when incompatible clamp is used
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#9191 GS/HW: Improve double half clear for strange strip drawing
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9227 GS/HW: Decompress replacement textures to get alpha min/max
  common/CMakeLists.txt
  common/TextureDecompress.cpp
  common/TextureDecompress.h
  common/common.vcxproj
  common/common.vcxproj.filters
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, Build | Project System, GS: Hardware

#9229 GameDB: Fix patch for Michigan: Report from Hell
  bin/resources/GameIndex.yaml
Labels: GameDB

#9232 GS: Only clamp tex co-ords to bounds in hardware.
  pcsx2/GS/GSState.cpp
Labels: GS

#9235 GameDB: Fix depth line in LEGO Batman
  bin/resources/GameIndex.yaml
Labels: GameDB

#9222 GS/Vulkan: Use VK_EXT_attachment_feedback_loop_layout when supported
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/GS/Renderers/Vulkan/GSTextureVK.cpp
  pcsx2/GS/Renderers/Vulkan/VKContext.cpp
  pcsx2/GS/Renderers/Vulkan/VKContext.h
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Vulkan

#9245 Flatpak: Add the talk-name flag for org.freedesktop.Screensaver
  .github/workflows/scripts/linux/flatpak/net.pcsx2.PCSX2.json
Labels: Build | Project System, First Time Contribution

#9242 UI: Add controller binding tooltips for additional controls
  pcsx2-qt/Settings/InputBindingWidget.cpp
Labels: GUI/Qt

#9252 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9250 GS/HW: Use draw for valid height, preload cached size
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#9254 Qt:Mac: Make sure settings windows are raised when requested
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#9255 Qt:Translation: Remove mnemonics from toolbar strings
  pcsx2-qt/MainWindow.ui
Labels: GUI/Qt

#9260 GameDB: Naruto Ultimate Ninja 5 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9264 CI: Add daily base translation update
  .github/workflows/cron_update_base_translation.yml
  .github/workflows/scripts/common/update_base_translation.sh
  pcsx2-qt/Translations/update_en_translation.sh
Labels: Build | Project System, Translations, GUI/Qt

#9271 GameDB: Lego Drome Racers blackscreen fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#9280 Flatpak: Add project links to the flathub store page
  .github/workflows/scripts/linux/pcsx2-qt.metainfo.xml.in
Labels: Build | Project System

#9282 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9279 GS/HW: Replace Ico CRC hack with move handler
  bin/resources/GameIndex.yaml
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GameDB, GS: Texture Cache

#9104 Qt: Stop open/save dialogs from spamming users with permission requests
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#9289 Qt: Fix game properties for unscanned files
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/GameCheatSettingsWidget.cpp
  pcsx2-qt/Settings/GameCheatSettingsWidget.h
  pcsx2-qt/Settings/GamePatchSettingsWidget.cpp
  pcsx2-qt/Settings/GamePatchSettingsWidget.h
  pcsx2-qt/Settings/SettingsDialog.cpp
  pcsx2-qt/Settings/SettingsDialog.h
Labels: GUI/Qt

#9301 GS/HW: Fix alpha min/max crashing on BC1 textures
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware

#9298 CI/Linux: Fix AppImage getting symbols stripped
  .github/workflows/scripts/linux/appimage-qt.sh
Labels: Build | Project System

#9303 GameDB: Adding Cop 2 patches for French & German versions of Kessen II
  bin/resources/GameIndex.yaml
Labels: GameDB

#9307 CDVD: Fix DevCon typo for cdvdUncheckedLoadDiscElf
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD, First Time Contribution

#9304 GameDB: Add Blending Accuracy to Spyro: Enter the Dragonfly
  bin/resources/GameIndex.yaml
Labels: GameDB

#9318 USB-Turntable: Implement Freeze()
  pcsx2/USB/usb-pad/usb-turntable.cpp
  pcsx2/USB/usb-pad/usb-turntable.h
Labels: USB

#9299 CI: Add qtimageformats for Linux/Mac
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#9321 GameDB: Change halfPixelOffset to Spyro: A Hero's Tail
  bin/resources/GameIndex.yaml
Labels: GameDB

#9317 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9329 GameDB: correct an entry
  bin/resources/GameIndex.yaml
Labels: GameDB

#9326 GS/HW: Use GetUnwrappedEndBlockAddress() where appropriate
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9328 GameDB: Add nativePaletteDraw and halfPixelOffset to Crash Tag Team R…
  bin/resources/GameIndex.yaml
Labels: GameDB

#9320 VMManager: Display title as serial or ELF
  pcsx2/CDVD/IsoReader.cpp
  pcsx2/CDVD/IsoReader.h
  pcsx2/VMManager.cpp
Labels: CDVD

#9314 GS/HW: Fix Double Half Clear bug + better detect double buffer changes
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#9334 GameDB: Add patch for Shadow Hearts NTSC-U bad clip arrangement
  bin/resources/GameIndex.yaml
Labels: GameDB

#9322 GS/HW: Get rid of 2 frame forced preload
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9332 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9615 Pad: Revert back to old Constant 1 behavior
  pcsx2/SIO/Pad/PadDualshock2.cpp
Labels: PAD

#9623 Pad: Fixes and cleanup
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
  pcsx2-qt/Settings/ControllerBindingWidgets.h
  pcsx2-qt/Settings/ControllerMacroEditWidget.ui
  pcsx2-qt/Settings/ControllerSettingsDialog.cpp
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2-qt/SetupWizardDialog.cpp
  pcsx2/CMakeLists.txt
  pcsx2/Counters.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Input/InputManager.cpp
  pcsx2/Recording/PadData.cpp
  pcsx2/SIO/Memcard/MemoryCardProtocol.cpp
  pcsx2/SIO/Pad/Pad.cpp
  pcsx2/SIO/Pad/Pad.h
  pcsx2/SIO/Pad/PadBase.cpp
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadDualshock2Types.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadGuitarTypes.h
  pcsx2/SIO/Pad/PadMacros.cpp
  pcsx2/SIO/Pad/PadMacros.h
  pcsx2/SIO/Pad/PadManager.cpp
  pcsx2/SIO/Pad/PadManager.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SIO/Pad/PadTypes.h
  pcsx2/SIO/Sio.h
  pcsx2/SIO/Sio0.cpp
  pcsx2/SIO/Sio2.cpp
  pcsx2/SaveState.cpp
  pcsx2/VMManager.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
  pcsx2/ps2/Iop/IopHwRead.cpp
  pcsx2/ps2/Iop/IopHwWrite.cpp
Labels: GS, Build | Project System, GS: Hardware, GS: Texture Cache, PAD, Counters, Memory Card, TAS Functionality, GUI/Qt

#9338 Qt: Further icon refinement and additions
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/resources/icons/black/svg/cheats-line.svg
  pcsx2-qt/resources/icons/black/svg/floppy-in-line.svg
  pcsx2-qt/resources/icons/black/svg/floppy-out-line.svg
  pcsx2-qt/resources/icons/white/svg/cheats-line.svg
  pcsx2-qt/resources/icons/white/svg/floppy-in-line.svg
  pcsx2-qt/resources/icons/white/svg/floppy-out-line.svg
  pcsx2-qt/resources/icons/white/svg/zoom-in-line.svg
  pcsx2-qt/resources/icons/white/svg/zoom-out-line.svg
Labels: GUI/Qt

#9629 Qt: Add an instruction to the autoupdater pop up.
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#9628 Pad: Change button query response depending on current mode
  pcsx2/SIO/Pad/PadDualshock2.cpp
Labels: PAD

#9636 GS/HW: Modify Burnout IO CRC hack to not affect online mode screen
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9643 GS/HW: Tweak Burnout bloom CRC coords
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9638 GameDB: Beeg fixing about everything
  bin/resources/GameIndex.yaml
Labels: GameDB

#9631 Pad: Set data low when no pad present
  pcsx2/SIO/Pad/PadNotConnected.cpp
Labels: PAD

#9644 GS/HW: Adjust Burnout bloom CRC to work better with upscaling
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9649 GS/OGL: Fix depth state in MultiStretchRects
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#9647 GS: Kill SMT Nocturne CRC hack
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#9651 Pad: Fix vibration motors backwards and too low power delivery to small motor
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SaveState.h
Labels: PAD

#9652 GS: Correct alpha test for RGB Only and non-32bit colours
  pcsx2/GS/GSRegs.h
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHWMultiISA.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware

#9656 Translations: Add Latvija to the menu
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#9654 GS/HW: Don't drop fractional colour before modulating
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#9642 GS/HW: Update vertex trace in ReplaceVerticesWithSprite()
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9658 Achievements: Fix Leaderboard submission UI when multiple leaderboards update at once
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#9666 GS/HW: Fix target memory usage underflowing
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9669 GameDB: correct an entry
  bin/resources/GameIndex.yaml
Labels: GameDB

#9671 GameDB: Sort and append missing entried from Redump
  bin/resources/GameIndex.yaml
Labels: GameDB

#9670 GS/HW: Improve detection of reverse texture shuffles
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9673 GameIndex: Fix PoPoLoCrois Naming
  bin/resources/GameIndex.yaml
Labels: GameDB

#9674 Qt: Fix changing cover file formats
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#9676 Qt: Make incompatible savestate message translatable
  pcsx2-qt/SetupWizardDialog.cpp
  pcsx2/SaveState.cpp
Labels: GUI/Qt

#9679 GS: Drop alignment from ClearValue
  pcsx2/GS/Renderers/Common/GSTexture.h
Labels: GS

#9680 GameDB: various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9682 UI: Update glyphs for asian languages.
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#9677 Pad: Respect non-standard vibration mappings and pure digital button query
  pcsx2/SIO/Pad/PadDualshock2.cpp
Labels: PAD

#9686 GS/HW: Fix bilinear-over-self targets getting discarded
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#9688 GameDB: Go Go Golf Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#9675 GS/HW: Don't invalidate alpha on display target lookup
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#9694 GameDB: entry correction
  bin/resources/GameIndex.yaml
Labels: GameDB
