Repository PCSX2/pcsx2, pull requests merged in 2023-10, with the labels that each got.

#10044 Pad: More detailed config logs
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
Labels: PAD

#10047 Host: Remove resource read wrappers
  common/FileSystem.cpp
  common/FileSystem.h
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/Host.h
  pcsx2/ImGui/ImGuiFullscreen.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  tests/ctest/core/StubHost.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12

#10046 CDVD: Report open errors to host
  common/Pcsx2Defs.h
  pcsx2/AsyncFileReader.h
  pcsx2/CDVD/BlockdumpFileReader.cpp
  pcsx2/CDVD/CDVDcommon.cpp
  pcsx2/CDVD/CDVDcommon.h
  pcsx2/CDVD/CDVDdiscReader.cpp
  pcsx2/CDVD/CDVDdiscReader.h
  pcsx2/CDVD/CDVDdiscThread.cpp
  pcsx2/CDVD/CDVDisoReader.cpp
  pcsx2/CDVD/ChdFileReader.cpp
  pcsx2/CDVD/ChdFileReader.h
  pcsx2/CDVD/CsoFileReader.cpp
  pcsx2/CDVD/CsoFileReader.h
  pcsx2/CDVD/Darwin/IOCtlSrc.cpp
  pcsx2/CDVD/GzippedFileReader.cpp
  pcsx2/CDVD/GzippedFileReader.h
  pcsx2/CDVD/InputIsoFile.cpp
  pcsx2/CDVD/IsoFileFormats.h
  pcsx2/CDVD/IsoHasher.cpp
  pcsx2/CDVD/Linux/IOCtlSrc.cpp
  pcsx2/CDVD/ThreadedFileReader.cpp
  pcsx2/CDVD/ThreadedFileReader.h
  pcsx2/CDVD/Windows/IOCtlSrc.cpp
  pcsx2/Darwin/DarwinFlatFileReader.cpp
  pcsx2/GameList.cpp
  pcsx2/Linux/LnxFlatFileReader.cpp
  pcsx2/MultipartFileReader.cpp
  pcsx2/VMManager.cpp
  pcsx2/windows/FlatFileReaderWindows.cpp
Labels: CDVD

#10052 Qt: Make "100%" string available for translation
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
Labels: GUI/Qt

#10050 GameDB: Xenosaga Eps III Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10049 GS/HW: Update dirty depth in matching format
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10055 GS/HW: Remove CRC hack for Sakura Taisen
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
Labels: GS, GS: Hardware, GameDB

#10064 UI: Rename the "Open in Explorer" button to "Open BIOS Folder"
  pcsx2-qt/Settings/BIOSSettingsWidget.ui
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10066 Readme: Fix Codacy Badge link
  README.md
Labels: Documentation, First Time Contribution

#10071 GameDB: MVP NCAA Baseball fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10074 Debugger: Run the tables keybind handler before the widgets
  pcsx2-qt/Debugger/MemoryViewWidget.cpp
  pcsx2-qt/Debugger/MemoryViewWidget.h
Labels: Debugger, GUI/Qt

#10077 Update GameIndex.yaml
  bin/resources/GameIndex.yaml
Labels: GameDB

#10076 Update GameIndex.yaml
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#10081 GameDB: Misc fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10080 CDVD: Better simulate RPM changes going in to CLV + read speed
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/CDVD/CDVD_internal.h
  pcsx2/SaveState.h
Labels: CDVD

#10085 Build: Fix up various warnings, increase variable readability
  common/General.h
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/CDVD/CDVD_internal.h
  pcsx2/CDVD/IsoFileFormats.h
  pcsx2/CDVD/Ps1CD.cpp
  pcsx2/GS/GSState.cpp
Labels: GS, CDVD

#10092 CDVD: Fix Wunused-variable warnings.
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#10088 CDVD: Fix seek times, improve read flow
  pcsx2/CDVD/CDVD.cpp
  pcsx2/IopHw.h
  pcsx2/R3000A.cpp
Labels: CDVD

#10089 DInput: Add option to ignore inversion flag
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2/Input/DInputSource.cpp
  pcsx2/Input/DInputSource.h
Labels: GUI/Qt

#10090 Updater: Fetch best asset size for download size notification
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#10096 GameDB: Black Hawk Down fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10095 Debugger: Fix an issue where the debugger is always on top of the main window
  pcsx2-qt/Debugger/DebuggerWindow.cpp
  pcsx2-qt/Debugger/DebuggerWindow.ui
  pcsx2-qt/MainWindow.cpp
Labels: Debugger, GUI/Qt

#10103 GameDB: Taito memory fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10099 deps: Update to Qt 6.6.0 and SDL2 2.28.4
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
  README.md
  cmake/BuildParameters.cmake
  cmake/SearchForStuff.cmake
Labels: Build | Project System, Documentation

#10105 IopMem: Fix incorrect memory pointer
  pcsx2/IopMem.cpp
  pcsx2/VUmicroMem.cpp
Labels: Vector Units

#10107 Qt: Change settings windows from QDialog to QWidget
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.h
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/AdvancedSettingsWidget.h
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.h
  pcsx2-qt/Settings/BIOSSettingsWidget.cpp
  pcsx2-qt/Settings/BIOSSettingsWidget.h
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
  pcsx2-qt/Settings/ControllerBindingWidgets.h
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.h
  pcsx2-qt/Settings/ControllerSettingsWindow.cpp
  pcsx2-qt/Settings/ControllerSettingsWindow.h
  pcsx2-qt/Settings/ControllerSettingsWindow.ui
  pcsx2-qt/Settings/DEV9DnsHostDialog.cpp
  pcsx2-qt/Settings/DEV9DnsHostDialog.h
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.h
  pcsx2-qt/Settings/DebugSettingsWidget.cpp
  pcsx2-qt/Settings/DebugSettingsWidget.h
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.h
  pcsx2-qt/Settings/FolderSettingsWidget.cpp
  pcsx2-qt/Settings/FolderSettingsWidget.h
  pcsx2-qt/Settings/GameCheatSettingsWidget.cpp
  pcsx2-qt/Settings/GameCheatSettingsWidget.h
  pcsx2-qt/Settings/GameFixSettingsWidget.cpp
  pcsx2-qt/Settings/GameFixSettingsWidget.h
  pcsx2-qt/Settings/GameListSettingsWidget.cpp
  pcsx2-qt/Settings/GameListSettingsWidget.h
  pcsx2-qt/Settings/GamePatchSettingsWidget.cpp
  pcsx2-qt/Settings/GamePatchSettingsWidget.h
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2-qt/Settings/GameSummaryWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/HotkeySettingsWidget.cpp
  pcsx2-qt/Settings/HotkeySettingsWidget.h
  pcsx2-qt/Settings/InputBindingWidget.cpp
  pcsx2-qt/Settings/InputBindingWidget.h
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.h
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.h
  pcsx2-qt/Settings/SettingsWindow.cpp
  pcsx2-qt/Settings/SettingsWindow.h
  pcsx2-qt/Settings/SettingsWindow.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
Labels: Build | Project System, GUI/Qt

#10108 CI: remove libjpeg from mac build script
  .github/workflows/macos_build.yml
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#10111 GameDB: Force minimum blend for Gun
  bin/resources/GameIndex.yaml
Labels: GameDB

#10106 GameDB: Ayakashi-bito needs software clut
  bin/resources/GameIndex.yaml
Labels: GameDB

#10112 GS/HW: Restore off-by-one clamp when upscaling
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10116 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10117 GameDB: Adjust hwfixes for Tom & Jerry's War of the Wiskers.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10115 GameDB: Use sort names for titles beginning with "The"
  bin/resources/GameIndex.yaml
Labels: GameDB

#10114 Qt/Updater: Move download size indicator for better placement
  pcsx2-qt/AutoUpdaterDialog.cpp
  pcsx2-qt/AutoUpdaterDialog.ui
Labels: GUI/Qt

#10127 Qt: Fix re-showing Controller Settings
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/GameListSettingsWidget.cpp
Labels: GUI/Qt

#10125 GameDB: Fixes for Maxxed Out Racing Nitro and Chou Saisoku! Zokusha King B.U.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10136 GS/HW: Don't align dirty rectangles to block sizes when updating
  pcsx2-gsrunner/test_check_dumps.py
  pcsx2/GS/Renderers/Common/GSDirtyRect.cpp
  pcsx2/GS/Renderers/Common/GSDirtyRect.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10138 GS: Fix some flush check behaviour, small optimisation
  pcsx2/GS/GSState.cpp
Labels: GS

#10146 GameDB: Fixes for FIFA Total Football 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#10151 GameDB: Adjust fixes for PaRappa the Rapper 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#10153 GS/HW: Enable PABE only when Alpha min is lower than 128.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10158 USB: Fix inverted mouse wheel
  pcsx2/USB/usb-hid/usb-hid.cpp
Labels: USB, First Time Contribution

#10150 GS/TC: Check transfer list is empty before accessing on source lookup
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10159 GS/TC: Invalidate alpha on overlapping targets with no alpha
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10166 GameDB: fixes for various games
  bin/resources/GameIndex.yaml
Labels: GameDB

#10177 CI/AppImage: Enable DBus for dependencies
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/install-packages-qt.sh
Labels: Build | Project System

#10181 Qt: Fix QFileDialog usage in NewInputRecordingDlg
  pcsx2-qt/Tools/InputRecording/NewInputRecordingDlg.cpp
Labels: GUI/Qt

#10183 GameDB: MGS 3 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10188 GS/HW: Minor optimization on color dest blend.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10185 GS/HW: Disable texture when not required
  pcsx2/GS/GSRegs.h
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10192 CI/AppImage: Work around GH runner issue #8659
  .github/workflows/linux_build_qt.yml
Labels: Build | Project System

#10195 GameDB: Add speedhack and hwfixes to McDonald's Original Happy Disc.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10194 GS/HW: Fix Tex in RT Merge Targets crashing.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10200 CI/AppImage: Add I_WANT_A_BROKEN_WAYLAND_UI environment variable
  .github/workflows/scripts/linux/appimage-qt.sh
  .github/workflows/scripts/linux/apprun-hooks/default-to-x11.sh
Labels: Build | Project System

#10197 GS: Disable interlace skipping on FMVs on SW FMV switch
  pcsx2-qt/QtHost.cpp
  pcsx2/Counters.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/MTGS.cpp
  pcsx2/MTGS.h
Labels: GS, Counters, GUI/Qt

#10199 PCRTC/Counters: Fix H-Blanks per frame
  pcsx2/Counters.cpp
Labels: Counters

#10201 GameDB: Patch to fix Valkyrie Profile 2 PAL FMV timing
  bin/resources/GameIndex.yaml
Labels: GameDB

#10205 Revert "GameDB: Patch to fix Valkyrie Profile 2 PAL FMV timing"
  bin/resources/GameIndex.yaml
Labels: GameDB

#10206 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10211 GameDB: SOCOM II Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10214 GameDB: Scarface TWIY Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB
