Repository PCSX2/pcsx2, pull requests merged in 2023-02, with the labels that each got.

#8023 GS/OGL: Fix syntax error in fragment shader
  bin/resources/shaders/opengl/tfx_fs.glsl
Labels: GS, GS: OpenGL

#8019 Qt: Clear the status text after gamelist scanning
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#8022 CI: Add RetroAchievements/Rcheevos labels for PRs
  .github/labeler.yml
Labels: Build | Project System

#8024 Misc : label & comment fixes
  .github/labeler.yml
  pcsx2-qt/MainWindow.cpp
  pcsx2/Counters.h
Labels: Build | Project System, Counters, GUI/Qt

#8025 GameDB: Assorted fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8030 GameDB: Driver Parallel Lines + Godfather + ...
  bin/resources/GameIndex.yaml
Labels: GameDB

#8034 GS-CLUT: Handle invalidation on wrapping writes
  pcsx2/GS/GSClut.cpp
Labels: GS

#8040 GS: Don't do CLUT auto flush test on invalid PRIM
  pcsx2/GS/GSState.cpp
Labels: GS

#8039 Qt: Fix compatibility string
  pcsx2-qt/GameList/GameListWidget.cpp
  pcsx2-qt/Settings/GameSummaryWidget.ui
Labels: GUI/Qt

#8041 GameDB: fixes for 'Tom & Jerry - War of the Whiskers' & 'Brave - The Search for Spirit Dancer'
  bin/resources/GameIndex.yaml
Labels: GameDB

#8042 GameDB: Add basic mipmap to Narc and Tom & Jerry War of the Whiskers.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8047 PAD: Fix pressure getting set to 1 after modifier
  pcsx2/PAD/Host/KeyStatus.cpp
Labels: PAD

#8026 Add command line boot and debug option
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#8033 GS/HW: Simplify m_vertex/m_index
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#8054 GameDB: Add Align Sprite to Football Kingdom
  bin/resources/GameIndex.yaml
Labels: GameDB

#8052 GameDB: Update K-1 Grand Prix fixes to use Instant DMA instead.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8045 GameDB: Fixes for "Toy Story 3" & "WALL-E"
  bin/resources/GameIndex.yaml
Labels: GameDB

#8056 GameDB: Add Game Fix for Scandal
  bin/resources/GameIndex.yaml
Labels: GameDB

#8057 GameDB: Add Disable InstantVU to MGS 3 Subsistence
  bin/resources/GameIndex.yaml
Labels: GameDB

#8064 GS-HW: Don't enable merge sprite in native resolution
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8065 GameDB: Various small fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8066 USB/LightGun/GunCon2: Fix wrong code of GunCon2
  pcsx2/USB/usb-lightgun/guncon2.cpp
Labels: USB, First Time Contribution

#8076 GameDB: Add missing The Godfather fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8080 GameDB: Add Paltex to Gacharoku
  bin/resources/GameIndex.yaml
Labels: GameDB

#8071 Qt: Open fullscreen window on same display as main
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#8079 GameDB: Add missing quatation marks in memcardFilters
  bin/resources/GameIndex.yaml
Labels: GameDB

#8085 GS/OGL: Fix broken readbacks and potential upload crash
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
Labels: GS, GS: OpenGL

#8083 GameDB: Add Autoflush hw fix to MGS3 Subsistence.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8078 GunCon2: Add config values
  pcsx2/USB/usb-lightgun/guncon2.cpp
Labels: USB

#8038 GameDB: Fix texture-flickering of Armored Core Nexus
  bin/resources/GameIndex.yaml
Labels: GameDB

#8084 GS-HW: On overwrite of large incompatible format texture, erase old.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8086 GS/DX11: Disable multisampling in rasterizer state
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D 11

#8088 PAD: Fix trigger deadzone/scale setting
  pcsx2/PAD/Host/KeyStatus.cpp
  pcsx2/PAD/Host/PAD.cpp
Labels: PAD

#8087 GS/Vulkan: Use Bresenham line rasterization when supported
  common/Vulkan/Builders.cpp
  common/Vulkan/Builders.h
  common/Vulkan/Context.cpp
  common/Vulkan/Context.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8090 GS: Handle index swap case for auto flush
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSVertexSW.h
Labels: GS, GS: Software, GS: Hardware

#8058 Debugger: Implement thread listing for IOP
  pcsx2-qt/Debugger/Models/StackModel.cpp
  pcsx2-qt/Debugger/Models/ThreadModel.cpp
  pcsx2-qt/Debugger/Models/ThreadModel.h
  pcsx2/DebugTools/BiosDebugData.cpp
  pcsx2/DebugTools/BiosDebugData.h
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/DebugInterface.h
  pcsx2/IopBios.cpp
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/ps2/BiosTools.cpp
  pcsx2/ps2/BiosTools.h
Labels: Debugger, GUI/Qt

#8094 Debugger: Fix missing return path.
  pcsx2/DebugTools/BiosDebugData.h
Labels: Debugger

#8097 GS/HW: Fix fixed/invalid TEX0 case in TimeSplitters 2
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8096 GS: Detect 16bit source copy in to 32bit target shuffle
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8099 Gamedb: remove skipdraw from Need for Speed - Undercover
  bin/resources/GameIndex.yaml
Labels: GameDB

#8100 GS/HW: Fix crash with AVX2 due to unaligned pitch
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8098 GL/OpenGL: Add a hidden [EmuCore/GS] DisableGLDownloadPBO option
  pcsx2/GS/Renderers/OpenGL/GLLoader.cpp
  pcsx2/GS/Renderers/OpenGL/GLLoader.h
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
Labels: GS, GS: OpenGL

#8103 GameDB: Add full mipmap and trilinear ps2 to Hard Hitter games.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8104 GS: Fix TME processing when Alpha->IsBlack & !TEX0->TCC
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8105 Readme: Two minor changes to the README
  README.md
Labels: Documentation

#8106 GS-HW: Tighten CLUT detection slightly.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8108 GS/OGL: Fix possible crash downloading odd texture sizes
  pcsx2/GS/Renderers/OpenGL/GSTextureOGL.cpp
Labels: GS, GS: OpenGL

#8107 GS/HW: Carefully allow move to create new targets
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8115 GameDB: Port COP2 patch for Disneys Cars
  bin/resources/GameIndex.yaml
Labels: GameDB

#8113 GS/HW: Purge FFX-2 depth clear CRC hack
  pcsx2/GS/GSCrc.cpp
  pcsx2/GS/GSCrc.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8110 GS: Attempt to recreate device if GPU crashes
  common/D3D12/Context.cpp
  common/D3D12/Context.h
  common/Vulkan/Context.cpp
  common/Vulkan/Context.h
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/Frontend/D3D11HostDisplay.cpp
  pcsx2/Frontend/D3D11HostDisplay.h
  pcsx2/Frontend/D3D12HostDisplay.cpp
  pcsx2/Frontend/D3D12HostDisplay.h
  pcsx2/Frontend/ImGuiManager.cpp
  pcsx2/Frontend/ImGuiManager.h
  pcsx2/Frontend/MetalHostDisplay.h
  pcsx2/Frontend/MetalHostDisplay.mm
  pcsx2/Frontend/OpenGLHostDisplay.cpp
  pcsx2/Frontend/OpenGLHostDisplay.h
  pcsx2/Frontend/VulkanHostDisplay.cpp
  pcsx2/Frontend/VulkanHostDisplay.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.h
  pcsx2/HostDisplay.h
  tests/ctest/core/StubHost.cpp
Labels: GS, GUI/Qt

#8118 GameDB: Update HPO on Spider Man 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#7910 Qt/Input: Improved how mouse movements are mapped to analog
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.h
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2-qt/Settings/ControllerMouseSettingsDialog.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2-qt/resources/icons/black/svg/mouse-line.svg
  pcsx2-qt/resources/icons/white/svg/mouse-line.svg
  pcsx2-qt/resources/resources.qrc
  pcsx2/Frontend/InputManager.cpp
  pcsx2/PAD/Host/PAD.cpp
Labels: Build | Project System, PAD, GUI/Qt

#8117 GameDB: Replace DMABusyHack with InstantDMAHack for MGS2 Sons of Liberty and add missing db entry for NFS Carbon
  bin/resources/GameIndex.yaml
Labels: GameDB

#8124 GS: Use linear interpolation for Screen Offsets
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Null/GSDeviceNull.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#8125 GS: Limit the height of framebuffer reads
  pcsx2/GS/GSState.h
Labels: GS

#8126 GS/HW: Don't age texture cache on idle frames
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#8130 GS: Fix undefined behaviour bug in PCRTC
  pcsx2/GS/GSState.h
Labels: GS

#8131 GameDB: Fixes for V-Rally 3 and Berserk
  bin/resources/GameIndex.yaml
Labels: GameDB

#8129 CDVD: Fix FreeBSD compile.
  pcsx2/CDVD/Darwin/IOCtlSrc.cpp
Labels: CDVD

#8133 GameDB: Vexx underwater rendering fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8143 GameDB: Remove fix from Soulcalibur 3
  bin/resources/GameIndex.yaml
Labels: GameDB

#8141 GameDB: Fix Japanese KH2 - Final Mix
  bin/resources/GameIndex.yaml
Labels: GameDB

#8144 GameDB: Fixes for UEFA 04-05 and Freestyle BMX 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8148 GS: Partial revert of #8101 pending investigation.
  pcsx2/Counters.cpp
Labels: Counters

#8147 Qt: Change Recommended Value for "Save State On Shutdown" to Unchecked
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#8136 Quiet macOS building warning: We can build on macOS just fine.
  cmake/Pcsx2Utils.cmake
Labels: Build | Project System

#8150 GameDB: Add HPO Special to 007 EON
  bin/resources/GameIndex.yaml
Labels: GameDB

#8142 GS-HW: Optimise readback performance for some cases
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8152 GameDB: Fix V-Rally 3 graphical corruption
  bin/resources/GameIndex.yaml
Labels: GameDB

#8155 GameDB: Add EETimingHack to Crazy Taxi
  bin/resources/GameIndex.yaml
Labels: GameDB

#8149 GS/HW: Split up consecutive channel shuffles
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#8158 GS-HW: remove Fighting Beauty Wulong & Spartan Total Warrior CRC
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
Labels: GS, GS: Hardware, GameDB

#8160 GameDB: Bakugan Battle Brawlers
  bin/resources/GameIndex.yaml
Labels: GameDB

#8159 GameDB: Ruff Trigger
  bin/resources/GameIndex.yaml
Labels: GameDB

#8162 GameDB: Add HPO Special to Arthur and the minimoys
  bin/resources/GameIndex.yaml
Labels: GameDB

#8166 GameDB : remove skipdraw from Need for Speed - Undercover
  bin/resources/GameIndex.yaml
Labels: GameDB

#8174 GameDB: Add VU Sync hack to Salt Lake 2002
  bin/resources/GameIndex.yaml
Labels: GameDB

#8173 GS/HW: Allow hardware sampling when clamp_max is larger
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8176 GameDB: Add full mipmap + trilinear to matrix, add Silent Scope 3 db entry.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8119 UI: Update and Add mouseover dialog
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardConvertDialog.cpp
  pcsx2-qt/Settings/SettingsDialog.cpp
  pcsx2/Docs/GameIndex.md
  pcsx2/USB/usb-lightgun/guncon2.cpp
  pcsx2/ps2/BiosTools.cpp
Labels: GameDB, Documentation, USB, GUI/Qt, Hold Merge

#8172 GameDB: Add pnach fix to Fatal Frame 1 / Project Zero
  bin/resources/GameIndex.yaml
Labels: GameDB

#8182 Qt: Fix window geometry not saving on exit
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#8185 Gamedb: update Armored Core - Nexus
  bin/resources/GameIndex.yaml
Labels: GameDB

#8188 GS-HW: Fix downloads in offset BP and different widths
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8189 GS: Flush targets back to GS memory when swapping renderers
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8183 GS/HW: Use block instead of page pointer for height lookup
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8181 GS-HW: Preserve width of frame textures
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8177 GS-PCRTC: Handle extended height when there's a negative offset
  pcsx2/GS/GSState.h
Labels: GS

#8193 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8191 USB: Fix Sega Seamic buttons
  pcsx2/USB/usb-pad/usb-seamic.cpp
Labels: USB

#8199 GameDB: Port patch to PAL Transformers ROTF
  bin/resources/GameIndex.yaml
Labels: GameDB

#8215 GameDB: Remove CPU CLUT from Transformers The Game
  bin/resources/GameIndex.yaml
Labels: GameDB

#8202 GameDB: Dark Cloud 2 + Dark Chronicle
  bin/resources/GameIndex.yaml
Labels: GameDB

#8221 GS-HW: Fix Download readbacks and limit FB resizing
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8225 GS/HW: Don't try to dirty targets which don't overlap
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8232 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, Hold Merge

#8237 GS-tc: Fix Wreorder-ctor warning.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8247 GS/DX12: Fix incorrect pipeline RT format
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#8248 GameDB: 007 EON Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8239 Qt: Add a new theme, Cobalt Sky.
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#8255 GameDB: Gorwlanser 5&6 and Poinies Poin Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8261 GameDB: remove disable partial invalidation from fatal frame
  bin/resources/GameIndex.yaml
Labels: GameDB

#8262 GameDB: Timesplitters Series + minor maintenance
  bin/resources/GameIndex.yaml
Labels: GameDB

#8263 GS-HW: Set scale on temporary depth stencil
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8265 GS/DX12: Fix potential crash in PrimID DATE setup
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#8273 Qt: Don't display updater if running a game or fullscreen
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#8267 GS/HW: Don't try to draw with invalid TEX0 configuration
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8264 GameDB: NASCAR '06 Total Team Control
  bin/resources/GameIndex.yaml
Labels: GameDB

#8278 GameDB: Dance Summit 2001 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8272 Qt: Cancel game list refresh before GetSaveStateFileName()
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#8281 GS/HW: Fix incorrect size of region mipmap levels
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8282 GS: Fix output equal check in Merge()
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#8283 GS/DX12: Add missing clip_control support flag
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#8284 Gamedb: remove HPO normal from Dragon Ball Z Budokai - Tenkaichi 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8291 GameDB: Various Armored Core Improvements
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#8269 GS/HW: Track target sources in all pages
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8293 Qt: Skipdraw shouldn't be visible in global settings
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#8296 GameDB: Remove unneeded Midnight Club 3 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8299 GameDB: various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB
