Repository PCSX2/pcsx2, pull requests merged in 2023-04, with the labels that each got.

#8533 GameDB: Fix missing Tekken 5 demo
  bin/resources/GameIndex.yaml
Labels: GameDB

#8526 SDLInputSource: SDL raw input as config option.
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2/Frontend/FullscreenUI.cpp
  pcsx2/Frontend/SDLInputSource.cpp
  pcsx2/Frontend/SDLInputSource.h
Labels: GUI/Qt

#8534 Qt: Fix main window closing on fullscreen shutdown
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#8535 GS: Fix crash on shutdown when using software renderer
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8536 GS: Unify D3D device creation paths
  common/D3D12/Context.cpp
  common/D3D12/Context.h
  pcsx2/Frontend/D3D11HostDisplay.cpp
  pcsx2/Frontend/D3D11HostDisplay.h
  pcsx2/Frontend/D3D12HostDisplay.cpp
  pcsx2/Frontend/D3D12HostDisplay.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/Renderers/DX11/D3D.cpp
  pcsx2/GS/Renderers/DX11/D3D.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D 11

#8522 GS-HW: Handle triangle memory clears
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8542 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8541 USB: Remove force feedback logspam
  pcsx2/USB/usb-pad/usb-pad-ff.cpp
  pcsx2/USB/usb-pad/usb-pad-sdl-ff.cpp
Labels: USB

#8547 GS/OGL: Fix incorrect binding in multi stretch rect
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#8549 GS/HW: Fix blue screen in GT4 transitions
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8555 GS: Update fixes for Sacred Blaze
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware, GameDB

#8563 GameDB: Replace Tex in RT with Partial Target Invalidation, Dark Cloud 2
  bin/resources/GameIndex.yaml
Labels: GameDB

#8568 GS/HW: Fix Final Fantasy XII CRC hack
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#8564 GS: Fix some Scanmask situations in PCRTC
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#8575 GS/HW: Fix incorrect hashing of non-palette textures
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8576 Updated gameDB entries for Fatal Frame and Siren GameDB
  bin/resources/GameIndex.yaml
Labels: GameDB

#8577 Counters: Retool UpdateVSyncRate
  pcsx2-qt/QtHost.cpp
  pcsx2/Counters.cpp
  pcsx2/Counters.h
  pcsx2/GS.cpp
  pcsx2/SaveState.cpp
  pcsx2/VMManager.cpp
Labels: Counters, GUI/Qt

#8581 GS/HW: Update target in new format when reinterpreting
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8584 GS: Fix typo in ResizeTexture which was causing a crash
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS

#8582 GS: Add VS natvis files for FastList and TC Targets
  pcsx2/GS/Renderers/Common/GSFastList.natvis
  pcsx2/GS/Renderers/HW/GSTextureCache.natvis
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: GS, Build | Project System, GS: Hardware, GS: Texture Cache

#8583 GS/HW: Don't break out of target search loop on dirty target
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8586 GS: Avoid modifying single QW downloads as they go to a register
  pcsx2/GS/GSLocalMemoryMultiISA.cpp
  pcsx2/GS/GSState.cpp
Labels: GS

#8597 Github: Update issue template
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
Labels: Build | Project System

#8598 GameDB: Add mipmapping to Hasbro Family Game Night
  bin/resources/GameIndex.yaml
Labels: GameDB

#8604 GS: Fix crash when resizing window
  pcsx2/GS/Renderers/Common/GSDevice.cpp
Labels: GS

#8605 Qt: Recreate new window immediately when switching APIs
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  tests/ctest/core/StubHost.cpp
Labels: GS, GS: OpenGL, GUI/Qt

#8607 GS/HW: Allow region targets for half-right fix
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8609 GS: Reset performance counters on renderer switch
  pcsx2/GS/GS.cpp
Labels: GS

#8616 GameDB: Add Autoflush and HPO Special to Ultimate Spider-Man
  bin/resources/GameIndex.yaml
Labels: GameDB

#8615 GameDB: Add InstantDMA to Jak 3 for holes in face geometry
  bin/resources/GameIndex.yaml
Labels: GameDB

#8608 GS/HW: Tiny optimization in source lookup
  pcsx2/GS/GSLocalMemory.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8622 GameDB: Update the VU clamp mode on Ultimate Spider-Man
  bin/resources/GameIndex.yaml
Labels: GameDB

#8617 GS/HW: Adjust Burnout CRC to fully skip broken post effect
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#8623 GameDB: PAL ZoE 2 Text fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#8537 Qt: Fills in the settings help description fields
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Translations/pcsx2-qt_en.ts
  pcsx2/PAD/Host/PAD.cpp
Labels: Translations, PAD, GUI/Qt

#8618 SPU2: Store DMA pointers as offsets in save state
  pcsx2/SPU2/spu2freeze.cpp
  pcsx2/SaveState.h
Labels: SPU2

#8642 SPU2: Fix savestate loading setting incorrect variable
  pcsx2/SPU2/spu2freeze.cpp
Labels: SPU2

#8652 AppImage: Include libxcb-cursor
  .github/workflows/scripts/linux/appimage-qt.sh
Labels: Build | Project System

#8653 Qt: Hide SDL Raw option on non win32 builds
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
Labels: GUI/Qt

#8658 GameIndex: Add Fatal Frame 1 Boss Hang Fix to more regions.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8659 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8664 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8662 GS:OGL: Support vs expand on older GL with SSBO extension
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL

#8670 GS/HW: Only force shader sampling for non-32bit targets
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8668 GS/HW: Don't attempt to colour copy into depth target
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#8673 GS/HW: Ensure region texture mipmaps don't go out of bounds
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8667 GS/HW: Use bitfield extract for VS expand (GL/VK)
  bin/resources/shaders/opengl/tfx_vgs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL, GS: Vulkan

#8671 GS/HW: Adjust Black/Burnout sky CRC hack
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#8683 GS: Warning fix
  pcsx2/GS/GSExtra.h
Labels: GS

#8685 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8686 Vif: Fix up Instant DMA behaviour
  pcsx2/Vif1_Dma.cpp
  pcsx2/Vif_Codes.cpp
Labels: VIF

#8693 GameDB: fixes for Dark cloud
  bin/resources/GameIndex.yaml
Labels: GameDB

#8701 GS/HW: Fix missing init of non-CLUT replacement textures
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8702 GameDB: Fix Armored Core water and game names
  bin/resources/GameIndex.yaml
Labels: GameDB

#8705 GameDB : fixes for Hanjuku Hero 4
  bin/resources/GameIndex.yaml
Labels: GameDB

#8706 Qt: Correct Recommended Value for Show Indicators
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#8708 CDVD: Fix Error Message in InputIsoFile.cpp
  pcsx2/CDVD/InputIsoFile.cpp
Labels: CDVD, First Time Contribution

#8711 GameDB: Fixes for Air Ranger: Rescue Helicopter
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#8713 GameDB: Ring of Red fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8714 VU-JIT: Backup non cached VI before writing to it when load != write
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#8715 GameDB: Add patch for Michigan: Report from Hell.
  bin/resources/GameIndex.yaml
Labels: GameDB

#8720 GameDB: Add FullVU0SyncHack to the linter
  pcsx2/Docs/GameIndex.md
  pcsx2/Docs/gamedb-schema.json
Labels: GameDB, Documentation

#8719 GameDB: various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8722 VU-JIT: Avoid writeReg stealing loadReg GPR
  pcsx2/x86/microVU_IR.h
Labels: Vector Units

#8716 GS/HW: Avoid render pass restarts to turn off RT
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#8737 Misc: ICC removal and cmake cleanups
  cmake/BuildParameters.cmake
Labels: Build | Project System, First Time Contribution

#8655 FullscreenUI: Only show SDL Raw on win32 builds.
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2/Frontend/FullscreenUI.cpp
Labels: GUI/Qt

#8732 Debugger: Implement BC0XY branches & their condition evaluation
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/DebugInterface.h
  pcsx2/DebugTools/MIPSAnalyst.cpp
  pcsx2/R5900OpcodeTables.cpp
  pcsx2/R5900OpcodeTables.h
Labels: Debugger

#8739 GameDB: Various FIFA 2001-2004 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8718 GS-TC: Use the expected rect to expand the target when Tex is RT.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8743 CMake: Properly fail on windeployqt failure
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#8744 GameDB: Disney Golf Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8738 GS: Refactor exclusive fullscreen yet again
  common/Vulkan/Context.cpp
  common/Vulkan/Context.h
  common/Vulkan/SwapChain.cpp
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/D3D.cpp
  pcsx2/GS/Renderers/DX11/D3D.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  tests/ctest/core/StubHost.cpp
Labels: GS, Build | Project System, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12, GS: Metal

#8745 GS-TC: Update dirty read overlap on local mem invalidate
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8746 GS-HW: Fix std::sort comparator for purging hash cache
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8753 GS: Fix hang when switching renderer while fullscreen
  pcsx2/GS/GS.cpp
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#8752 GS/HW: Fix pipeline/shader duplication
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#8754 GS/OGL: Don't reuse targets when they're the texture
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#8756 ci: Update labeler debugger directories
  .github/labeler.yml
Labels: Build | Project System

#8757 GS: Add natvis for vector types
  pcsx2/GS/GS.natvis
  pcsx2/GS/Renderers/Common/GSFastList.natvis
  pcsx2/GS/Renderers/HW/GSTextureCache.natvis
  pcsx2/pcsx2core.vcxproj
  pcsx2/pcsx2core.vcxproj.filters
Labels: GS, Build | Project System, GS: Hardware, GS: Texture Cache

#8760 GameDB: FFXII texture fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#8766 GS/Vulkan: Simplify GPU selection
  common/Vulkan/Context.cpp
  common/Vulkan/Context.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8759 Perf: Support instruction-level profiling with jitdump on Linux
  common/Perf.cpp
  common/Perf.h
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.all.cpp
  pcsx2/VirtualMemory.cpp
  pcsx2/VirtualMemory.h
  pcsx2/x86/iR3000A.cpp
  pcsx2/x86/ix86-32/iR5900-32.cpp
  pcsx2/x86/ix86-32/recVTLB.cpp
  pcsx2/x86/microVU.cpp
  pcsx2/x86/microVU_Compile.inl
  pcsx2/x86/microVU_Execute.inl
  pcsx2/x86/newVif_Dynarec.cpp
  pcsx2/x86/newVif_UnpackSSE.cpp
Labels: GS, GS: Software, Vector Units

#8764 GS/Vulkan: Make primid not require barycentric extension
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#8762 GS: Fix crash when looking up color textures with depth lookups
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#8735 GS:MTL: Always end all encoders on FlushEncoders
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#8769 x86/microVU: Fix typo in VI CRC
  pcsx2/x86/microVU.h
Labels: Vector Units

#8771 GameDB: Fixes for Shin Sangoku Musou Series Collection Joukan
  bin/resources/GameIndex.yaml
Labels: GameDB

#8765 Linux: implement DBus screensaver inhibitor
  .github/workflows/scripts/linux/appimage-qt.sh
  cmake/BuildParameters.cmake
  common/CMakeLists.txt
  common/Linux/LnxMisc.cpp
Labels: Build | Project System
