Repository PCSX2/pcsx2, pull requests merged in 2024-08, with the labels that each got.

#11582 GameDB: Fix game names
  bin/resources/GameIndex.yaml
Labels: GameDB

#11652 Docs: Update FAQ
  .github/workflows/scripts/linux/pcsx2-qt.metainfo.xml.in
  pcsx2/Docs/PCSX2_FAQ.md
  tools/generate_update_fa_glyph_ranges.py
  tools/merge_ws_ni_patches.py
  tools/texture_dump_alpha_scaler.py
Labels: Build | Project System, Documentation

#11535 Qt: FMV tooltip expand + frame-time typo
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_bg-BG.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_en.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ka-GE.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
  pcsx2/ImGui/FullscreenUI.cpp
Labels: Translations, PAD, GUI/Qt

#11602 OSD: Add hardware info statistics
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
Labels: GS, GUI/Qt, OSD / ImGui

#11630 USB: Zip100 and PictureParadise emulation
  pcsx2/USB/usb-msd/usb-msd.cpp
  pcsx2/USB/usb-msd/usb-msd.h
Labels: USB

#11658 GS/Vulkan: Restore VK_EXT_attachment_feedback_loop_layout
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/GS/Renderers/Vulkan/GSTextureVK.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Vulkan

#11656 Deps: Update to SDL 2.30.6
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#11674 Add memcardFilter for SLES-51953 and SLES-52022
  bin/resources/GameIndex.yaml
Labels: GameDB

#11673 GameDB: SMT Nocturne Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11669 GS/TC: Adjust how we handle merging targets in PreloadTarget.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11670 3rdparty/rcheevos: Bump to v11.5.0
  3rdparty/rcheevos/CHANGELOG.md
  3rdparty/rcheevos/include/rc_api_info.h
  3rdparty/rcheevos/include/rc_client.h
  3rdparty/rcheevos/include/rc_client_raintegration.h
  3rdparty/rcheevos/src/rapi/rc_api_common.c
  3rdparty/rcheevos/src/rapi/rc_api_info.c
  3rdparty/rcheevos/src/rc_client.c
  3rdparty/rcheevos/src/rc_client_external.h
  3rdparty/rcheevos/src/rc_version.h
  3rdparty/rcheevos/src/rcheevos/runtime_progress.c
  3rdparty/rcheevos/src/rhash/hash.c
Labels: Documentation, Dependencies

#11677 Debugger: Track remaining buffer size for snprintf
  pcsx2/DebugTools/DisassemblyManager.cpp
Labels: Debugger

#11678 workflows: Update sdl controller db script.
  .github/workflows/cron_update_controller_db.yml
Labels: Build | Project System

#11683 GameDB: Snow White and the 7 shovelware PS2 games
  bin/resources/GameIndex.yaml
Labels: GameDB

#11685 GameDB : fix Test Drive Unlimited CRC for patch
  bin/resources/GameIndex.yaml
Labels: GameDB

#11680 3rdparty/imgui: Update to v1.91.0
  3rdparty/imgui/include/imconfig.h
  3rdparty/imgui/include/imgui.h
  3rdparty/imgui/include/imgui_internal.h
  3rdparty/imgui/include/imstb_textedit.h
  3rdparty/imgui/src/imgui.cpp
  3rdparty/imgui/src/imgui_demo.cpp
  3rdparty/imgui/src/imgui_draw.cpp
  3rdparty/imgui/src/imgui_freetype.cpp
  3rdparty/imgui/src/imgui_tables.cpp
  3rdparty/imgui/src/imgui_widgets.cpp
  3rdparty/imgui/src/imstb_truetype.h
Labels: Dependencies

#11689 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11662 Qt: Update Texture Filtering Description
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#11691 GS: Match data types in shaders to be the same when doing bitwise operations.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#11692 GameDB: add missing serial
  bin/resources/GameIndex.yaml
Labels: GameDB

#11696 Qt: Update Trilinear Filtering Description
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#11695 Config: Use directory containing bundle as AppRoot on macOS.
  pcsx2/Pcsx2Config.cpp
Labels: First Time Contribution

#11709 GS/HW: Rename blend second pass to blend multi pass.
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#11712 GS/DX11: Fix feedback write 1 null pointer crash.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
Labels: GS, GS: Direct3D 11

#11721 USB: Fix Konami Capture Eye assert
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
Labels: USB

#11717 Misc: Minor cleanup
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GSBlock.h
Labels: GS, GUI/Qt

#11730 DiscordRPC: Add RCheevos game icon support.
  pcsx2/Achievements.cpp
  pcsx2/Achievements.h
  pcsx2/VMManager.cpp
Labels: RetroAchievements

#11738 GameDB: Correct two Phoenix Games title names
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#11737 GS/HW: Implement PABE(Per pixel alpha blending) on accumulation and add optimizations.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#11743 GameDB: Add multiple fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#11741 Vk: Don't try to transition present source during present
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#11732 USB: Fix CaptureEye corruption on dark images
  pcsx2/USB/usb-eyetoy/cam-windows.cpp
Labels: USB

#11719 Qt: Set focus to Game Library for improved keyboard navigation
  pcsx2-qt/GameList/GameListWidget.cpp
Labels: First Time Contribution, GUI/Qt

#11748 GS/HW: Further expand blend multipass.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#11751 Misc: Minor text and settings changes
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/VMManager.cpp
Labels: GUI/Qt

#11756 DebugTools: Fix some compiler warnings
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/SymbolGuardian.cpp
  pcsx2/DebugTools/SymbolGuardian.h
Labels: Debugger, GUI/Qt

#11759 UI: Enable "System" menu and toolbar savestate options while running the BIOS
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt
