Repository PCSX2/pcsx2, pull requests merged in 2024-05, with the labels that each got.

#11172 GameDB: Add missing GT Concept 2001 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11162 GS/HW: More blend improvements.
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#11175 GameDB: Code Lyoko QFI fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11176 CMake: Unbreak finding base translations
  cmake/CopyBaseTranslations.cmake
Labels: Build | Project System

#11173 Timers: Fix up some timer behaviour
  pcsx2/Counters.cpp
  pcsx2/IopCounters.cpp
Labels: Counters

#11182 GameDB: CMR 2005 Timer fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#11181 CI/Linux: Remove invalid download links
  .github/workflows/scripts/linux/build-dependencies-qt.sh
Labels: Build | Project System

#11184 SPU: Only fire IRQ for Reverb reads when FxEnable
  pcsx2/SPU2/Reverb.cpp
Labels: SPU2, Hardware Tested

#11183 GameDB: patches for NHL 2K9 and Major League Baseball 2K9
  bin/resources/GameIndex.yaml
Labels: GameDB

#11180 GS/HW: Fix blend_mix regression
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11170 Qt: Add Classic Windows as theme option
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Themes.cpp
Labels: GUI/Qt

#11167 DEV9: Defer deletion of socket sessions
  pcsx2/DEV9/sockets.cpp
  pcsx2/DEV9/sockets.h
Labels: DEV9

#11079 CI: Reduce size of macOS dependencies
  .github/workflows/scripts/macos/build-dependencies.sh
Labels: Build | Project System

#11186 GS/SW: Remove redundant code generator classes
  pcsx2/CMakeLists.txt
  pcsx2/GS/Renderers/Common/GSFunctionMap.h
  pcsx2/GS/Renderers/SW/GSDrawScanline.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanline.h
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.h
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.h
  pcsx2/GS/Renderers/SW/GSNewCodeGenerator.h
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.all.h
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.cpp
  pcsx2/GS/Renderers/SW/GSSetupPrimCodeGenerator.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: GS, Build | Project System, GS: Software

#11187 Deps: Update to SDL 2.30.3
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#11189 3rdparty: Update simpleini to v4.22
  3rdparty/simpleini/LICENCE.txt
  3rdparty/simpleini/include/ConvertUTF.h
  3rdparty/simpleini/include/SimpleIni.h
  3rdparty/simpleini/src/ConvertUTF.c
Labels: Dependencies

#11196 Qt: Fix incorrectly labeled Reset Volume button
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
Labels: GUI/Qt

#11198 DEV9: Inherit from QStyledItemDelegate for Address fields in DNS hosts table
  pcsx2-qt/Settings/DEV9UiCommon.cpp
  pcsx2-qt/Settings/DEV9UiCommon.h
Labels: GUI/Qt

#11202 Qt: Add label next to audio buffer size
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
  pcsx2-qt/Settings/AudioSettingsWidget.ui
Labels: GUI/Qt

#11195 CDVD: Improve handling of host: paths in cdvdLoadElf
  pcsx2/CDVD/CDVD.cpp
  pcsx2/IopBios.cpp
  pcsx2/IopBios.h
Labels: CDVD

#11069 DEV9: Add a DHCP Logger
  pcsx2/CMakeLists.txt
  pcsx2/Config.h
  pcsx2/DEV9/InternalServers/DHCP_Logger.cpp
  pcsx2/DEV9/InternalServers/DHCP_Logger.h
  pcsx2/DEV9/net.cpp
  pcsx2/DEV9/net.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, DEV9

#11214 GS/HW: Optimize sw/hdr colclip on some blend formulas.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11228 GS/HW: Fix incorrect StretchRect() in double buffer copy
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11223 GS/Vulkan: Always issue first barrier on RDNA3
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Hardware, GS: Vulkan

#11233 GS/DX12: Fix incorrect resource state of ImGui font
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#11232 USB: Add d-pad controls to RBDrumKitDevice
  pcsx2/USB/usb-pad/usb-pad.cpp
Labels: USB, First Time Contribution

#11246 Qt: Fix copy paste fail
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: GUI/Qt

#11220 Core: Refactor a lot of timer work and fix a couple of bugs
  pcsx2/CDVD/CDVD.cpp
  pcsx2/CDVD/CDVD.h
  pcsx2/Counters.cpp
  pcsx2/Counters.h
  pcsx2/GS.cpp
  pcsx2/GS.h
  pcsx2/IopCounters.cpp
  pcsx2/IopCounters.h
  pcsx2/IopDma.cpp
  pcsx2/R3000A.cpp
  pcsx2/R3000A.h
  pcsx2/R5900.cpp
  pcsx2/SPU2/Dma.cpp
  pcsx2/SPU2/spu2sys.cpp
  pcsx2/SaveState.cpp
  pcsx2/SaveState.h
  pcsx2/ps2/Iop/IopHwRead.cpp
Labels: SPU2, CDVD, Counters

#11248 GS/SW: Don't use fast reciprocal stq calculation, it's too inaccurate
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSNewCodeGenerator.h
Labels: GS, GS: Software

#11236 Change the word "Enable" to "Apply" in widescreen patches and no-interlacing patches settings
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
Labels: GUI/Qt

#11268 CI/Flatpak: Temporarily disable repo/appstream validation
  .github/workflows/linux_build_flatpak.yml
Labels: Build | Project System

#11266 GameDB: fix tearing like issues on KH2 when upscaled
  bin/resources/GameIndex.yaml
Labels: GameDB

#11260 GS/HW: Adjust conditions for CPU sprite renderer
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, GameDB, Documentation, GUI/Qt

#11278 Fix building with gcc14
  common/SmallString.h
  pcsx2/CDVD/ThreadedFileReader.cpp
  pcsx2/Input/SDLInputSource.cpp
  pcsx2/SPU2/Dma.h
  pcsx2/SPU2/defs.h
Labels: SPU2, CDVD

#11275 Docs : update configuration guide
  pcsx2/Docs/Configuration_Guide/Configuration_Guide.md
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration.png
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration_bios.png
  pcsx2/Docs/Configuration_Guide/PCSX2_First_Time_Configuration_plugins.png
Labels: Documentation

#11269 GS: Increase sensitivity of texflush but avoid some situations
  pcsx2/GS/GSState.cpp
Labels: GS

#11277 GS/HW: Ignore alpha on double half clear if not used
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11283 GS/HW: Restrict CPU Sprite abort to non-opaque draws
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11284 GS/HW: Cleanup RendererHW.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11290 GS/HW: Allow forcing Dither to 32bit for 16bit draws
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12, GS: Metal

#11294 UI: Fix dithering description + make it so 4 lines of description fits
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/SettingsWindow.ui
Labels: GUI/Qt

#11297 GS/HW: Fix unscaled rect in CopyRGBFromDepthToColor()
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11307 CMake:macOS: Tell Xcode to sign with `--deep`
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#11306 GS:MTL: Fix inverted UseMipmapFiltering check
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#11309 3rdparty/vixl: Import @ 8eca2b7
  3rdparty/vixl/AUTHORS
  3rdparty/vixl/CMakeLists.txt
  3rdparty/vixl/LICENCE
  3rdparty/vixl/README.md
  3rdparty/vixl/VERSIONS.md
  3rdparty/vixl/include/vixl/aarch64/abi-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/assembler-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/constants-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/cpu-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/cpu-features-auditor-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/decoder-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/decoder-constants-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/decoder-visitor-map-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/disasm-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/instructions-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/macro-assembler-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/operands-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/registers-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/simulator-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/simulator-constants-aarch64.h
  3rdparty/vixl/include/vixl/assembler-base-vixl.h
  3rdparty/vixl/include/vixl/code-buffer-vixl.h
  3rdparty/vixl/include/vixl/code-generation-scopes-vixl.h
  3rdparty/vixl/include/vixl/compiler-intrinsics-vixl.h
  3rdparty/vixl/include/vixl/cpu-features.h
  3rdparty/vixl/include/vixl/globals-vixl.h
  3rdparty/vixl/include/vixl/invalset-vixl.h
  3rdparty/vixl/include/vixl/macro-assembler-interface.h
  3rdparty/vixl/include/vixl/platform-vixl.h
  3rdparty/vixl/include/vixl/pool-manager-impl.h
  3rdparty/vixl/include/vixl/pool-manager.h
  3rdparty/vixl/include/vixl/utils-vixl.h
  3rdparty/vixl/src/aarch64/assembler-aarch64.cc
  3rdparty/vixl/src/aarch64/assembler-sve-aarch64.cc
  3rdparty/vixl/src/aarch64/cpu-aarch64.cc
  3rdparty/vixl/src/aarch64/cpu-features-auditor-aarch64.cc
  3rdparty/vixl/src/aarch64/decoder-aarch64.cc
  3rdparty/vixl/src/aarch64/disasm-aarch64.cc
  3rdparty/vixl/src/aarch64/instructions-aarch64.cc
  3rdparty/vixl/src/aarch64/logic-aarch64.cc
  3rdparty/vixl/src/aarch64/macro-assembler-aarch64.cc
  3rdparty/vixl/src/aarch64/macro-assembler-sve-aarch64.cc
  3rdparty/vixl/src/aarch64/operands-aarch64.cc
  3rdparty/vixl/src/aarch64/pointer-auth-aarch64.cc
  3rdparty/vixl/src/aarch64/registers-aarch64.cc
  3rdparty/vixl/src/code-buffer-vixl.cc
  3rdparty/vixl/src/compiler-intrinsics-vixl.cc
  3rdparty/vixl/src/cpu-features.cc
  3rdparty/vixl/src/utils-vixl.cc
  3rdparty/vixl/vixl.vcxproj
  3rdparty/vixl/vixl.vcxproj.filters
Labels: Build | Project System, Documentation, Dependencies

#11301 3rdparty: Update to VK memory allocator 3.1
  3rdparty/include/vk_mem_alloc.h
Labels: Dependencies

#11300 GS/CRC: Improve Street Fighter 3 EX CRC to remove shimmer
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#11295 GS: Remove MSVC macro hack and use MSVC's new preprocessor
  cmake/BuildParameters.cmake
  common/vsprops/common.props
  pcsx2/GS/Renderers/SW/GSNewCodeGenerator.h
Labels: GS, Build | Project System, GS: Software

#11310 Common: Tidy up signal handlers
  cmake/SearchForStuff.cmake
  common/CMakeLists.txt
  common/CrashHandler.cpp
  common/CrashHandler.h
  common/Darwin/DarwinMisc.cpp
  common/Darwin/DarwinSemaphore.cpp
  common/Darwin/DarwinThreads.cpp
  common/HostSys.h
  common/Linux/LnxHostSys.cpp
  common/Linux/LnxMisc.cpp
  common/Linux/LnxThreads.cpp
  common/Semaphore.cpp
  common/Windows/WinHostSys.cpp
  common/Windows/WinMisc.cpp
  common/Windows/WinThreads.cpp
  common/common.vcxproj
  common/common.vcxproj.filters
  pcsx2/vtlb.cpp
Labels: Build | Project System

#11312 CI/AppImage: QtNetwork is no longer needed
  .github/workflows/scripts/linux/appimage-qt.sh
Labels: Build | Project System
