Repository PCSX2/pcsx2, pull requests merged in 2024-11, with the labels that each got.

#11958 GameDB: Final Fantasy X Optimal FPU config
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#11946 Debugger: Refactor nocash symbol importer
  pcsx2/DebugTools/SymbolImporter.cpp
  pcsx2/DebugTools/SymbolImporter.h
Labels: Debugger

#11986 Debugger: Fix loading symbols from ELF files other than the boot ELF
  pcsx2/DebugTools/SymbolImporter.cpp
Labels: Debugger

#11995 GameDB: NBA 2K6 fix hangs on PAL version
  bin/resources/GameIndex.yaml
Labels: GameDB

#11950 Deps: Update Flatpak dependencies
  .github/workflows/scripts/linux/flatpak/modules/10-libpcap.json
  .github/workflows/scripts/linux/flatpak/net.pcsx2.PCSX2.json
Labels: Build | Project System

#11988 Misc: Minimise the amount of work done when svnrev.h is updated
  pcsx2-qt/AutoUpdaterDialog.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/Achievements.cpp
  pcsx2/BuildVersion.cpp
  pcsx2/BuildVersion.h
  pcsx2/CMakeLists.txt
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/Host.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/PINE.cpp
  pcsx2/Recording/InputRecordingFile.cpp
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
  pcsx2/SIO/Memcard/MemoryCardFolder.cpp
  pcsx2/SaveState.cpp
  pcsx2/VMManager.cpp
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: GS, Build | Project System, Memory Card, TAS Functionality, GS: Vulkan, GUI/Qt, RetroAchievements

#12006 GameDB: Add TexInRT on SLPM-62482
  bin/resources/GameIndex.yaml
Labels: GameDB

#11999 GameDB: Fix Enemies Stuck in Armored Core Nine Breaker
  bin/resources/GameIndex.yaml
Labels: GameDB

#11292 CMake: Force /usr/local/include to come last
  cmake/Pcsx2Utils.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System

#12027 DEV9: Code cleanup.
  pcsx2/DEV9/Sessions/ICMP_Session/ICMP_Session.cpp
  pcsx2/DEV9/Sessions/TCP_Session/TCP_Session_In.cpp
  pcsx2/DEV9/Sessions/TCP_Session/TCP_Session_Out.cpp
  pcsx2/DEV9/Sessions/UDP_Session/UDP_FixedPort.cpp
  pcsx2/DEV9/Sessions/UDP_Session/UDP_Session.cpp
  pcsx2/DEV9/flash.cpp
  pcsx2/DEV9/net.cpp
  pcsx2/DEV9/net.h
  pcsx2/DEV9/pcap_io.cpp
  pcsx2/DEV9/pcap_io.h
  pcsx2/DEV9/smap.cpp
  pcsx2/DEV9/sockets.cpp
Labels: DEV9

#12030 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12034 Console: Limit buffer size in ConsoleLogFromVM::Write
  pcsx2/DebugTools/Debug.h
Labels: Debugger

#12039 CDVD: Fix DevCon log typo
  pcsx2/CDVD/CDVDdiscReader.cpp
Labels: CDVD

#12033 3rdparty/ccc: Backport some fixes
  3rdparty/ccc/src/ccc/elf.cpp
  3rdparty/ccc/src/ccc/elf_symtab.cpp
  3rdparty/ccc/src/ccc/mdebug_section.cpp
  3rdparty/ccc/src/ccc/sndll.cpp
  3rdparty/ccc/src/ccc/symbol_file.cpp
  3rdparty/ccc/src/ccc/util.cpp
  3rdparty/ccc/src/ccc/util.h
Labels: Dependencies

#11976 GameDB: Champions of Norrath & Champions: Return to Arms (PAL)
  bin/resources/GameIndex.yaml
Labels: GameDB

#12043 Console: Fix newline logging regression
  pcsx2/DebugTools/Debug.h
Labels: Debugger

#12035 Debugger: Make sure the colours of functions are consistent across runs
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
Labels: Debugger, GUI/Qt

#12047 GS/TC: Remove no longer needed asserts in PreloadTarget.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache
