Repository PCSX2/pcsx2, pull requests merged in 2024-10, with the labels that each got.

#11866 3rdparty: Update Vulkan-Headers to v1.3.296
  3rdparty/vulkan/include/vulkan/vulkan_core.h
Labels: Dependencies

#11863 Deps: Update to SDL 2.30.8
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#11869 GS/TC: Clamp TW/TH to 11 in source flush.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11873 GameDB: Various Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#11865 CI: Add other translations related scripts to the daily workflow
  .github/workflows/scripts/common/update_base_translation.sh
Labels: Build | Project System

#11875 HostFS: Retain File Handles in Save States
  pcsx2/IopBios.cpp
  pcsx2/SaveState.cpp
  pcsx2/SaveState.h
Labels: First Time Contribution

#11887 QT: Clear m_status_verbose_widget text on VM stop
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11854 Deps: Update to Qt 6.8.0 on Windows and Linux
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
  cmake/SearchForStuff.cmake
Labels: Build | Project System, GUI/Qt

#11881 OSD: Update OSD Text on SW mode so no overlap keyword appears
  pcsx2/GS/GS.cpp
Labels: GS

#11886 DEV9: Rework tx_process based on HW tests
  pcsx2/DEV9/smap.cpp
Labels: DEV9

#11896 Translations: hotfix a translation mistake causing fmt to crash
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
Labels: Translations, GUI/Qt

#11891 Qt: Call 'map_text_to_keycode()' only when Shift modifier is being used
  pcsx2-qt/QtKeyCodes.cpp
Labels: First Time Contribution, GUI/Qt

#11885 DEV9: Correct bad Speed reg implementation and unify 8bit & 16bit regs.
  pcsx2/DEV9/DEV9.cpp
Labels: DEV9

#11903 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11882 GS: Default to OpenGL on intel IGPUs that support it instead of DX11
  pcsx2/GS/Renderers/DX11/D3D.cpp
Labels: GS, GS: Direct3D 11

#11906 USB: Work around FFB dropouts with certain modern wheels
  pcsx2/USB/usb-pad/usb-pad-sdl-ff.cpp
Labels: USB, First Time Contribution

#11908 DEV9: Move Adapter Detection Hack
  pcsx2/DEV9/smap.cpp
Labels: DEV9

#11919 Misc: wire up and refactor trace logging
  common/CMakeLists.txt
  common/Console.cpp
  common/TraceLog.h
  pcsx2-qt/Settings/DebugSettingsWidget.cpp
  pcsx2-qt/Settings/DebugSettingsWidget.h
  pcsx2-qt/Settings/DebugSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Counters.cpp
  pcsx2/DebugTools/Debug.h
  pcsx2/DebugTools/DisassemblyManager.cpp
  pcsx2/DebugTools/MIPSAnalyst.cpp
  pcsx2/IopBios.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/Recording/InputRecordingFile.cpp
  pcsx2/SourceLog.cpp
  pcsx2/VMManager.cpp
  pcsx2/Vif_Transfer.cpp
  pcsx2/ps2/Iop/IopHwWrite.cpp
  pcsx2/ps2/Iop/IopHw_Internal.h
  pcsx2/ps2/eeHwTraceLog.inl
  pcsx2/x86/iR3000A.cpp
Labels: Build | Project System, VIF, Debugger, Counters, TAS Functionality, GUI/Qt

#11925 DEV9: Add ATA commands used by PS2 Linux
  pcsx2/DEV9/ATA/ATA.h
  pcsx2/DEV9/ATA/Commands/ATA_CmdNoData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdSMART.cpp
  pcsx2/DEV9/ATA/Commands/ATA_Command.cpp
Labels: DEV9

#11939 TraceLogging: Fix SIF trace logging
  pcsx2-qt/Settings/DebugSettingsWidget.cpp
Labels: GUI/Qt

#11935 Qt: Add search bar to cheats list
  pcsx2-qt/Settings/GameCheatSettingsWidget.cpp
  pcsx2-qt/Settings/GameCheatSettingsWidget.h
  pcsx2-qt/Settings/GameCheatSettingsWidget.ui
Labels: First Time Contribution, GUI/Qt

#11931 DEV9: Set/Clear SEEK bit in all relevent commands
  pcsx2/DEV9/ATA/ATA.h
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/ATA/ATA_Transfer.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdDMA.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdNoData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdPIOData.cpp
  pcsx2/DEV9/ATA/Commands/ATA_Command.cpp
Labels: DEV9

#11915 USB: Use infinite duration for FFB forces, make the recently added FFB workaround optional
  pcsx2/USB/usb-pad/usb-pad-sdl-ff.cpp
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
Labels: USB

#11934 Debugger: Avoid resetting symbol trees while single stepping
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/SymbolTree/SymbolTreeWidgets.cpp
  pcsx2-qt/Debugger/SymbolTree/SymbolTreeWidgets.h
Labels: Debugger, GUI/Qt

#11937 Qt: Fix symbol sources list in per-game settings dialog
  pcsx2-qt/Settings/DebugAnalysisSettingsWidget.cpp
Labels: GUI/Qt

#11942 Qt: Hackfix settings icon stretching on Windows themes
  .github/workflows/scripts/windows/build-dependencies.bat
  .github/workflows/scripts/windows/qtbase-fix-icon-stretch.patch
Labels: Build | Project System

#11953 CI: Fix Translation Workflow Scripts Order of Operation
  .github/workflows/scripts/common/update_base_translation.sh
Labels: Build | Project System

#11962 PAD: Fix negcon and jogcon BPM crash
  pcsx2/ImGui/FullscreenUI.cpp
Labels: PAD, High Priority

#11968 Patches: Fix a regression that broke gamedb dynpatches
  pcsx2/Patch.cpp
Labels: High Priority

#11926 CI: Default to flatpak beta branch
  .github/workflows/cron_publish_flatpak.yml
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/release_cut_new.yml
Labels: Build | Project System
