Repository PCSX2/pcsx2, pull requests merged in 2024-06, with the labels that each got.

#11302 GS/HW: Compensate for edges in complex clamps to reduce upscale garbage
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11299 GS/HW: Favour newer draw on source overlap + improve target overwrite
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11320 GS/HW: Improve some tex in rt handling
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11313 GameDB: Various bodges
  bin/resources/GameIndex.yaml
Labels: GameDB

#10034 GS:MTL: Add Intel HD 4000 to the list of GPUs to use PixelFormatView on
  pcsx2/GS/Renderers/Metal/GSMTLDeviceInfo.mm
Labels: GS, GS: Metal

#11328 GameDB: Tokyo Xtreme Racer Drift/Kaido Racer - Upscaling fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11332 input-rec: Use `toNativeSeparators()` when opening recording
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11344 CI: Tempfix windows clang builds
  .github/workflows/windows_build_qt.yml
Labels: Build | Project System

#11341 GS/HW: Take render target end block for channel shuffles if bigger
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11346 CI/Windows: Uninstall system LLVM package
  .github/workflows/windows_build_qt.yml
Labels: Build | Project System

#11347 CI/Windows: Disable Qt's PCRE2 JIT
  .github/workflows/scripts/windows/build-dependencies.bat
  .github/workflows/scripts/windows/qtbase-disable-pcre2-jit.patch
Labels: Build | Project System

#11348 3rdparty: Update xbyak to 7.06
  3rdparty/xbyak/xbyak/xbyak.h
  3rdparty/xbyak/xbyak/xbyak_mnemonic.h
  3rdparty/xbyak/xbyak/xbyak_util.h
Labels: Dependencies

#11349 GameDB: Some NTSC-K fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11334 GS: Correct TEXA behaviour on shuffles
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10113 GS:MTL: Fix handling of tex is depth fb
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Metal

#11351 input-rec: Use toNativeSeparators() when using the recording viewing
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/Tools/InputRecording/InputRecordingViewer.cpp
Labels: GUI/Qt

#11362 GS: Swap to cpuinfo for checking CPU features
  pcsx2/GS/MultiISA.cpp
  pcsx2/GS/MultiISA.h
Labels: GS

#11365 Updater: Add VC Runtime check
  pcsx2-qt/VCRuntimeChecker.cpp
  updater/CMakeLists.txt
  updater/updater.vcxproj
  updater/updater.vcxproj.filters
Labels: Build | Project System, GUI/Qt

#11371 Qt: Use 64-bit comparison for VC runtime check
  pcsx2-qt/VCRuntimeChecker.cpp
Labels: GUI/Qt

#11383 Achievements: Fix incorrect data source for mastery points
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#11105 Debugger: Disable pseudo ops
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2/DebugTools/DisassemblyManager.cpp
Labels: Debugger, GUI/Qt

#11247 DEV9: More strictly enforce MTU in pcap
  pcsx2/DEV9/PacketReader/ARP/ARP_PacketEditor.cpp
  pcsx2/DEV9/PacketReader/ARP/ARP_PacketEditor.h
  pcsx2/DEV9/pcap_io.cpp
  pcsx2/DEV9/pcap_io.h
Labels: DEV9

#11356 UI: Rename Wild Arms hack
  bin/docs/GameIndex.pdf
  bin/resources/GameIndex.yaml
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Docs/GameIndex.md
  pcsx2/Docs/gamedb-schema.json
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/GameDatabase.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, Translations, GameDB, Documentation, GUI/Qt

#11397 CDVD: Actually fix NVRAM open mode
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#11385 GS/HW: Don't kill old targets unless completely dirty or targets overlap
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11395 CDVD: Fix -Wsign-compare warnings.
  pcsx2/CDVD/CDVD.cpp
Labels: CDVD

#11405 GS/HW: Fix up Tekken 5 CRC to get rid of boxes when upscaling
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#11403 VMManager: Refactor Affinity Control to Thread Pinning
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/AdvancedSettingsWidget.ui
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/Renderers/SW/GSRasterizer.cpp
  pcsx2/GS/Renderers/SW/GSRasterizer.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: GS, GS: Software, GUI/Qt

#11408 CI/AppImage: Explicitly remove libwayland-*
  .github/workflows/scripts/linux/appimage-qt.sh
Labels: Build | Project System

#11406 GS/HW: Additional texture shuffle dimension check
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11413 GS/HW: Allow offset channel shuffles on sources.
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GameDB, GS: Texture Cache

#11442 GS/HW: Fix line width factor when upscaling.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11439 GS/HW: When detecting target overlap, offset copy from base
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11435 GameDB: Fix shadows alignment on Crash Twinsanity
  bin/resources/GameIndex.yaml
Labels: GameDB

#11444 GS: Make sure min/max for texture is at least 1 pixel
  pcsx2/GS/GSState.cpp
Labels: GS

#11415 Deps: Update to SDL 2.30.4
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
  cmake/SearchForStuff.cmake
Labels: Build | Project System

#11424 Deps: Update to Qt 6.7.2
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#11450 GameDB: Street Fighter EX3 - Fix the post processing at high resolution
  bin/resources/GameIndex.yaml
Labels: GameDB

#11453 GS/HW: Improve scale preservation check
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11445 GS/Vulkan: Release swap chain images on acquire fail
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/GS/Renderers/Vulkan/VKEntryPoints.inl
  pcsx2/GS/Renderers/Vulkan/VKSwapChain.cpp
  pcsx2/GS/Renderers/Vulkan/VKSwapChain.h
Labels: GS, GS: Vulkan

#11333 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11457 GameDB: RE Outbreak disable FBMask patch
  bin/resources/GameIndex.yaml
Labels: GameDB

#11440 COP0 TLB: Fix mapping ScratchpadRam Entries
  pcsx2/COP0.cpp
Labels: Core, Hardware Tested

#11462 translations: Syncing Crowdin translations
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
Labels: Translations, GUI/Qt

#11463 GameDB: GOW 2 revert to HPO Special
  bin/resources/GameIndex.yaml
Labels: GameDB

#11467 GS/HW: Clear instead of invalidating upscaled targets
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11469 GS/HW: Fix upscale draw detection check
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11468 GS/HW: Use box filtering for source downsampling
  bin/resources/shaders/dx11/convert.fx
  bin/resources/shaders/opengl/convert.glsl
  bin/resources/shaders/vulkan/convert.glsl
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMTLSharedHeader.h
  pcsx2/GS/Renderers/Metal/convert.metal
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#11473 GameDB: Revert wrongly changed game title
  bin/resources/GameIndex.yaml
Labels: GameDB

#11470 GS/HW: Fix preloading targets dirty update
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11483 GS/DX11: Fix downsample uniform unpack
  bin/resources/shaders/dx11/convert.fx
Labels: GS, GS: Direct3D 11, GS: Direct3D 12

#11484 GameDB: Shadow of Rome revert to HPO Special
  bin/resources/GameIndex.yaml
Labels: GameDB

#11481 GS/HW: Prefer SW blend over HDR for colclip without overlap
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware
