Repository PCSX2/pcsx2, pull requests merged in 2024-01, with the labels that each got.

#10536 GameDB: 007 - Agent Under Fire
  bin/resources/GameIndex.yaml
Labels: GameDB

#10527 Qt: More Translation Fixes
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Translations.cpp
  pcsx2/GameList.cpp
Labels: GUI/Qt

#10537 GameDB: Rock Band Track Pack Volume 2 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10540 GameDB: fixes for Mary-Kate & Ashley - Sweet Sixteen - Licensed to Drive
  bin/resources/GameIndex.yaml
Labels: GameDB

#10541 GS: Fix autoflush init after renderer switch
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/MTGS.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10530 Qt: Clear Settings button disables Cheats/Patches
  pcsx2-qt/Settings/GameCheatSettingsWidget.cpp
  pcsx2-qt/Settings/GameCheatSettingsWidget.h
  pcsx2-qt/Settings/GamePatchSettingsWidget.cpp
  pcsx2-qt/Settings/GamePatchSettingsWidget.h
  pcsx2-qt/Settings/SettingsWindow.cpp
Labels: GUI/Qt

#10522 Readme: Update and Remove Redundant Info
  README.md
Labels: Documentation

#10545 Core: Set syscon log colour to the EE's log colour
  pcsx2/DebugTools/Debug.h
  pcsx2/LogSink.cpp
  pcsx2/R5900OpcodeImpl.cpp
  pcsx2/SourceLog.cpp
Labels: Debugger

#10547 Linux: Stop OpenGL overriding Vulkan if both VK and OpenGL are enabled
  pcsx2/GS/GSUtil.cpp
Labels: GS

#10534 Pad: Add Pop'n Music controller type
  3rdparty/include/IconsPromptFont.h
  bin/resources/fonts/promptfont.otf
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Settings/ControllerBindingWidget_Popn.ui
  pcsx2-qt/Settings/ControllerBindingWidgets.cpp
  pcsx2-qt/Settings/ControllerBindingWidgets.h
  pcsx2-qt/Translations.cpp
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2-qt/resources/icons/black/svg/Popn-line.svg
  pcsx2-qt/resources/icons/white/svg/Popn-line.svg
  pcsx2-qt/resources/images/Popn.svg
  pcsx2-qt/resources/resources.qrc
  pcsx2/CMakeLists.txt
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/SIO/Pad/Pad.cpp
  pcsx2/SIO/Pad/PadPopn.cpp
  pcsx2/SIO/Pad/PadPopn.h
  pcsx2/SIO/Pad/PadTypes.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, PAD, Dependencies, GUI/Qt

#10552 SIO: Fix Wunused-variable compiler warnings.
  pcsx2/SIO/Pad/PadPopn.cpp
Labels: PAD

#10560 GameDB: Fixes for Bully
  bin/resources/GameIndex.yaml
Labels: GameDB

#10551 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10558 Misc: Enable some disabled warnings
  cmake/BuildParameters.cmake
  pcsx2-qt/Settings/MemoryCardConvertDialog.cpp
  pcsx2/DEV9/Sessions/ICMP_Session/ICMP_Session.cpp
  pcsx2/Dmac.cpp
  pcsx2/GS/Renderers/Common/GSFunctionMap.h
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
  pcsx2/IPU/IPU_Fifo.cpp
  pcsx2/ps2/BiosTools.cpp
Labels: GS, Build | Project System, GS: Software, IPU, DEV9, GUI/Qt

#10571 GameDB: DMC 1 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10573 Qt: Add third-party license statements
  bin/docs/ThirdPartyLicenses.html
  pcsx2-qt/AboutDialog.cpp
  pcsx2-qt/AboutDialog.h
Labels: GUI/Qt

#10588 GameDB: Fix broken shadows in Armored Core Last Raven
  bin/resources/GameIndex.yaml
Labels: GameDB

#10576 GS/HW: Allow blending on normal shuffles for Bully Depth of Field
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10590 GS/HW: Fix incorrect resizing of Ico move target
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#10597 Qt: Fix incorrect renderer shown in status bar
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#10596 GS/HW: Don't rely on old targets for double-half clear
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10599 GS: Flush draw when address matches FRAME/Z
  pcsx2/GS/GSState.cpp
Labels: GS

#10567 CI: fix flatpak cron and add a way to manually kick off a release
  .github/workflows/cron_publish_flatpak.yml
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/linux_build_qt.yml
  .github/workflows/macos_build.yml
  .github/workflows/release_cut_new.yml
  .github/workflows/windows_build_qt.yml
  cmake/Pcsx2Utils.cmake
Labels: Build | Project System

#10601 GS/HW: Update cached source alpha if linked to target
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10591 GS/HW: Don't bother trying to draw empty draws
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10604 3rdparty: Add source for modified PromptFont that we use for OSD
  3rdparty/promptfont/LICENSE.txt
  3rdparty/promptfont/promptfont.sfd
Labels: Dependencies

#10444 GS:MTL: Properly handle hdr rendering to cleared textures
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/convert.metal
Labels: GS, GS: Metal

#10611 CMake: Set LINUX in current and parent scope
  cmake/Pcsx2Utils.cmake
Labels: Build | Project System

#10614 GS/HW: Fix drawing with mismatched target sizes
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10618 Qt: Tidy up Tools menu
  common/Console.cpp
  common/Console.h
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
Labels: GUI/Qt

#10616 FSUI: Allow toggling fullscreen when VM is paused
  pcsx2-qt/DisplayWidget.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiManager.h
  pcsx2/MTGS.cpp
Labels: GUI/Qt

#10629 CI: Allow user to override deps build path
  .github/workflows/linux_build_qt.yml
  .github/workflows/scripts/linux/build-dependencies-qt.sh
Labels: Build | Project System

#10632 IPU: Fix regression from #10617
  common/SingleRegisterTypes.h
  pcsx2/IPU/IPU_MultiISA.cpp
Labels: IPU

#10627 GS/HW: Don't mark 24bit alpha as valid on upgrade
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10633 Qt: Invoke Updater as Administrator for Program Files installs
  pcsx2-qt/AutoUpdaterDialog.cpp
  pcsx2-qt/AutoUpdaterDialog.h
  pcsx2-qt/QtHost.cpp
  updater/Windows/WindowsUpdater.cpp
Labels: GUI/Qt

#10637 GameDB: Flower sun and rain fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10648 Build: Remove unused option `DISABLE_BUILD_DATE`
  cmake/BuildParameters.cmake
Labels: Build | Project System

#10645 GameDB: Fix water in Just Cause
  bin/resources/GameIndex.yaml
Labels: GameDB

#10652 CI/Linux: Use wildcard for AppImage libc downgrade
  .github/workflows/linux_build_qt.yml
Labels: Build | Project System

#10659 Adding Jetbrains Rider to Gitignore.
  .gitignore
Labels: First Time Contribution

#10663 ImGuiOverlays: Fix analog input display
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SIO/Pad/PadPopn.cpp
  pcsx2/SIO/Pad/PadPopn.h
Labels: PAD

#10661 Pad: Force multitapped slots to Not Connected if their multitap is missing
  pcsx2/SIO/Pad/Pad.cpp
Labels: PAD

#10660 GameDB: Gun Align to Native + typo fix
  bin/resources/GameIndex.yaml
Labels: GameDB

#10658 GameDB: Add HPO Native to S.L.A.I.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10638 translations: Syncing Crowdin translations
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
Labels: Translations, GUI/Qt

#10668 Qt: Fix OSD/Big Picture display for missing languages
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#10669 FullscreenUI: Link create memory card to Qt dialog
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2/GameList.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/FullscreenUI.h
  tests/ctest/core/StubHost.cpp
Labels: GUI/Qt

#10673 Qt: Remove non-printable character from some strings
  pcsx2-qt/Tools/InputRecording/InputRecordingViewer.cpp
Labels: GUI/Qt

#10665 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10680 GameDB: Various fixes 2: Electric Boogaloo
  bin/resources/GameIndex.yaml
Labels: GameDB

#10670 GS/HW: Optimize out some situations of texture loading
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10687 SPU: VolumeSlide: disregard phase when exp + decr
  pcsx2/SPU2/ADSR.cpp
Labels: SPU2

#10683 GS/HW: Better avoid target uploads on HW clear
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10688 GS: Correct flush reasons
  pcsx2/GS/GSState.cpp
Labels: GS

#10689 GameDB: A few trilinear+mipmap games
  bin/resources/GameIndex.yaml
Labels: GameDB

#10693 GS/Metal: Don't discard alpha on RGB depth copy
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#10694 GS/HW: Fix up Tekken 5 CRC hack to not remove post + break other scenes
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware, GameDB

#10701 GS/HW: Don't preload target from overlapping targets after hw clear
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10707 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10700 Qt: Clean up memory card settings section.
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.h
  pcsx2-qt/Settings/MemoryCardSettingsWidget.ui
Labels: GUI/Qt

#10710 Qt: Fix unclickable links in Setup Wizard
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10676 Debugger: Adds loading breakpoints/saved addresses from settings [DebuggerSettings]
  .gitignore
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
  pcsx2-qt/Debugger/DebuggerSettingsManager.cpp
  pcsx2-qt/Debugger/DebuggerSettingsManager.h
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
  pcsx2-qt/Debugger/Models/BreakpointModel.h
  pcsx2-qt/Debugger/Models/SavedAddressesModel.cpp
  pcsx2-qt/Debugger/Models/SavedAddressesModel.h
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
Labels: Build | Project System, Debugger, GUI/Qt

#10711 GUI: Memory Card "slot" instead of "port"
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
  pcsx2-qt/Settings/MemoryCardSettingsWidget.ui
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GUI/Qt

#10709 GameDB: Thrillville fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10619 FSUI: Add Recording Indicator and Time
  3rdparty/include/IconsFontAwesome5.h
  bin/resources/fonts/fa-solid-900.ttf
  pcsx2/GS/GSCapture.cpp
  pcsx2/GS/GSCapture.h
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
Labels: GS, Dependencies

#10714 Debugger: Allow copying address of memory search results
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
Labels: Debugger, GUI/Qt

#10722 GameDB: Hot Shots Golf Fore Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10717 GS/HW: Handle more double-half clear edge cases
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#10635 Qt: Icon Refresh
  3rdparty/promptfont/promptfont.sfd
  bin/resources/fonts/promptfont.otf
  bin/resources/icons/AppIconLarge.png
  pcsx2-qt/MainWindow.ui
  pcsx2-qt/Settings/SettingsWindow.cpp
  pcsx2-qt/resources/generate.sh
  pcsx2-qt/resources/icons/AppIcon64.png
  pcsx2-qt/resources/icons/black/svg/Popn-line.svg
  pcsx2-qt/resources/icons/black/svg/cheats-line.svg
  pcsx2-qt/resources/icons/black/svg/chip-line.svg
  pcsx2-qt/resources/icons/black/svg/debugger-line.svg
  pcsx2-qt/resources/icons/black/svg/dj-hero-line.svg
  pcsx2-qt/resources/icons/black/svg/heart-monitor-line.svg
  pcsx2-qt/resources/icons/black/svg/memcard-line.svg
  pcsx2-qt/resources/icons/black/svg/pencil-line.svg
  pcsx2-qt/resources/icons/black/svg/trash-fill.svg
  pcsx2-qt/resources/icons/black/svg/warning-line.svg
  pcsx2-qt/resources/icons/white/svg/Popn-line.svg
  pcsx2-qt/resources/icons/white/svg/cheats-line.svg
  pcsx2-qt/resources/icons/white/svg/chip-line.svg
  pcsx2-qt/resources/icons/white/svg/debugger-line.svg
  pcsx2-qt/resources/icons/white/svg/dj-hero-line.svg
  pcsx2-qt/resources/icons/white/svg/heart-monitor-line.svg
  pcsx2-qt/resources/icons/white/svg/memcard-line.svg
  pcsx2-qt/resources/icons/white/svg/pencil-line.svg
  pcsx2-qt/resources/icons/white/svg/trash-fill.svg
  pcsx2-qt/resources/icons/white/svg/warning-line.svg
  pcsx2-qt/resources/resources.qrc
Labels: Dependencies, GUI/Qt

#10708 DEV9: LBA48 Support
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.h
  pcsx2-qt/Settings/DEV9SettingsWidget.ui
  pcsx2/DEV9/ATA/ATA.h
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/ATA/Commands/ATA_CmdDMA.cpp
  pcsx2/DEV9/ATA/Commands/ATA_Command.cpp
Labels: DEV9, GUI/Qt

#10674 DEV9: ATA Identify Fixes
  pcsx2/DEV9/ATA/ATA_Info.cpp
Labels: DEV9

#10724 Qt: Make "Ignore Inversion" a global mapping setting
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.h
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.ui
  pcsx2-qt/Settings/ControllerMappingSettingsDialog.ui
  pcsx2-qt/Settings/ControllerSettingsWindow.cpp
  pcsx2-qt/Settings/ControllerSettingsWindow.h
  pcsx2-qt/Settings/ControllerSettingsWindow.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2/Input/DInputSource.cpp
  pcsx2/Input/DInputSource.h
  pcsx2/Input/InputSource.cpp
  pcsx2/Input/InputSource.h
  pcsx2/Input/SDLInputSource.cpp
  pcsx2/Input/SDLInputSource.h
Labels: Build | Project System, GUI/Qt

#10726 Counters: Move input poll to after throttle
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2/Counters.cpp
  pcsx2/VMManager.cpp
  pcsx2/VMManager.h
  tests/ctest/core/StubHost.cpp
Labels: Counters, GUI/Qt

#10728 Qt: Fix more compiler warnings.
  pcsx2-qt/Debugger/DebuggerSettingsManager.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
Labels: Debugger, GUI/Qt

#10734 GameDB: Add gshwfixes to Band Hero.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10736 GameDB: Add mipmap full with ps2 trilinear to SWAT Global Strike Team.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10737 USB: Fix buffer copies in EyeToy
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
Labels: USB

#10738 Qt: Deprecate per-game WS/NI toggles in favor of Patches
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GUI/Qt

#10740 GS/Vulkan: Fix potential race between submit and main thread
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Vulkan

#10746 GS: Check for D3D Mapping Layers and disable Vulkan if present
  pcsx2/GS/Renderers/DX11/D3D.cpp
Labels: GS, GS: Direct3D 11

#10747 Achievements: Handle fake memory map
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#10752 Debugger: Adds editing register values via double click
  pcsx2-qt/Debugger/RegisterWidget.cpp
  pcsx2-qt/Debugger/RegisterWidget.h
Labels: Debugger, GUI/Qt
