Repository PCSX2/pcsx2, pull requests merged in 2024-02, with the labels that each got.

#10759 translations: Syncing Crowdin translations
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
Labels: Translations, GUI/Qt

#10758 Qt: Add mention zso formatted roms
  pcsx2-qt/GameList/GameListWidget.cpp
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10732 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10761 DEV9: Fix HDD Response when no HDD is connected
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/DEV9.cpp
Labels: DEV9

#10775 GS/Vulkan: Fix incorrect memory order arg
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#10767 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10771 GS: Move input recording shutdown to VMManager
  pcsx2/GS/GS.cpp
  pcsx2/VMManager.cpp
Labels: GS

#10787 Qt: Default to No for exit Memcard abort msgbox
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#10755 Debugger: Check for successful QString conversion in MemoryViewerWidget.cpp before writing
  pcsx2-qt/Debugger/MemoryViewWidget.cpp
Labels: Debugger, GUI/Qt

#10801 Memory cards : Update error message
  pcsx2-qt/Settings/MemoryCardSettingsWidget.cpp
Labels: Translations, GUI/Qt

#10791 Memcard: Fix incorrect order of directory/filename path components for _pcsx2_meta_directory files
  pcsx2/SIO/Memcard/MemoryCardFolder.cpp
Labels: Memory Card

#10807 OSD: Add icon for Slow-Mo
  3rdparty/include/IconsPromptFont.h
  3rdparty/promptfont/promptfont.sfd
  bin/resources/fonts/promptfont.otf
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
Labels: Dependencies

#10766 GameDB: NTSC-J Overhaul
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#10815 RAchievements: Fix off by one error in scratchpad reads
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#10816 GS: Fix crop scaling for software and bilinear (sharp)
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#10821 UI: Remove option to disable per-game settings
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/VMManager.cpp
Labels: GUI/Qt

#10818 GS/Vulkan: Use fbfetch flag for subpass dependency
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#10779 GitHub: Update macOS versions on issue templates
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#10829 UI: Update SW Renderer Threads Tooltip
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: First Time Contribution, GUI/Qt

#10826 3rdparty/libchdr: Rebase to upstream 2a1119c
  3rdparty/libchdr/CMakeLists.txt
  3rdparty/libchdr/include/dr_libs/dr_flac.h
  3rdparty/libchdr/include/libchdr/cdrom.h
  3rdparty/libchdr/include/libchdr/chd.h
  3rdparty/libchdr/libchdr.vcxproj
  3rdparty/libchdr/src/libchdr_cdrom.c
  3rdparty/libchdr/src/libchdr_chd.c
  3rdparty/libchdr/src/libchdr_huffman.c
Labels: Build | Project System, Dependencies

#10831 ImGuiManager: Defer scale updates
  pcsx2/GS/GS.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiManager.h
Labels: GS

#10822 GameDB: Fix Overscan on Crash Twinsanity (PAL)
  bin/resources/GameIndex.yaml
Labels: GameDB

#10825 GameDB: Jak TLF Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10836 Correctly identify development tool and Namco system 246/256 bios
  pcsx2/ps2/BiosTools.cpp
Labels: First Time Contribution

#10813 Debugger: Migrates Memory Search tab to it's own widget
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
  pcsx2-qt/Debugger/CpuWidget.ui
  pcsx2-qt/Debugger/MemorySearchWidget.cpp
  pcsx2-qt/Debugger/MemorySearchWidget.h
  pcsx2-qt/Debugger/MemorySearchWidget.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
Labels: Build | Project System, Debugger, GUI/Qt

#10835 GS/HW: Preload whole target on match
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10844 Debugger: Fixes crash on debugger open when cpu not alive
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
Labels: Debugger, GUI/Qt

#10852 3rdparty: Update xbyak to 7.05.1
  3rdparty/xbyak/xbyak/xbyak.h
  3rdparty/xbyak/xbyak/xbyak_mnemonic.h
  3rdparty/xbyak/xbyak/xbyak_util.h
Labels: Dependencies

#10838 ci: Switch Flatpak build to flathub-infra/flatpak-github-actions
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/scripts/linux/generate-metainfo.sh
  .github/workflows/scripts/linux/install-packages-flatpak.sh
Labels: Build | Project System

#10855 CI/Flatpak: Fix dubious ownership error
  .github/workflows/linux_build_flatpak.yml
Labels: Build | Project System

#10842 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10861 GS/HW: Calculate alpha on updated areas on RT invalidation
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10866 GameDB: FIFA 14 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10850 DebugTools: Add noreturn heuristic
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2/DebugTools/MIPSAnalyst.cpp
  pcsx2/DebugTools/MIPSAnalyst.h
  pcsx2/DebugTools/SymbolMap.cpp
  pcsx2/DebugTools/SymbolMap.h
Labels: Debugger, GUI/Qt

#10860 Debugger: Add automatic refreshing on 1 second interval
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
Labels: Debugger, GUI/Qt
