Repository PCSX2/pcsx2, pull requests merged in 2024-07, with the labels that each got.

#11488 GS: Uncap upscale multiplier subject to GPU limits
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/D3D.cpp
  pcsx2/GS/Renderers/DX11/D3D.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMetalCPPAccessible.h
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12, GS: Metal

#11495 GameDB: Destroy All Humans! 2 PAL Title
  bin/resources/GameIndex.yaml
Labels: GameDB

#11501 GraphicsSettingsWidget.cpp: Add text to upscaling multipliers and remove two fractional multipliers
  pcsx2-qt/Settings/AdvancedSettingsWidget.cpp
  pcsx2-qt/Settings/GameFixSettingsWidget.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GUI/Qt, Hold Merge

#11505 GameDB: Add eeClampMode fix to SLPM-66644
  bin/resources/GameIndex.yaml
Labels: GameDB

#11509 USB: Fix period key not working
  pcsx2/USB/usb-hid/usb-hid.cpp
Labels: USB

#11499 Deps: Update to SDL 2.30.5
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#11512 GS: Clear draw queue when using the null renderer
  pcsx2/GS/Renderers/Null/GSRendererNull.cpp
  pcsx2/GS/Renderers/Null/GSRendererNull.h
Labels: GS

#11472 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11503 Bring ControllerBindingWidget .cpp and .h files in line with others
  pcsx2-qt/CMakeLists.txt
  pcsx2-qt/Settings/ControllerBindingWidget.cpp
  pcsx2-qt/Settings/ControllerBindingWidget.h
  pcsx2-qt/Settings/ControllerSettingsWindow.cpp
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_en.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
Labels: Build | Project System, Translations, GUI/Qt

#11497 Debugger Expressions: Add FPU registers to breakpoint conditionals.
  pcsx2/DebugTools/DebugInterface.cpp
  pcsx2/DebugTools/ExpressionParser.cpp
Labels: Debugger

#11513 GS: Fix half pixel offset normal upscaling above 8x.
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#11508 GameDB: some fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution, Hold Merge

#11519 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11522 GS/HW: Adjust point sampler behavior.
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMTLSharedHeader.h
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: OpenGL, GS: Vulkan, GS: Metal

#11539 Debugger: Fix Open Debugger option to not toggle
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11540 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11542 UI: Update glyphs
  pcsx2-qt/Translations.cpp
Labels: GUI/Qt

#11552 Fix BIOS dump link in README
  README.md
Labels: Documentation, First Time Contribution

#11563 GameDB: Fix up ATV ORF 3 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11571 Covers: Use serial for cover image names when selected individually
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11545 github: mention to verify games if making an issue
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#11550 GameDB: Ensure NativeScaling doesn't nag users at native res
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/GameDatabase.cpp
Labels: GUI/Qt

#11569 Qt: Add Emerald theme and fix palette var names
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Themes.cpp
Labels: GUI/Qt

#11547 [RFC] Common: Use cpuinfo to detect cache line size on FreeBSD
  common/CMakeLists.txt
  common/Linux/LnxHostSys.cpp
Labels: Build | Project System

#11567 linux/cmake: Allow libbacktrace to be disabled
  cmake/BuildParameters.cmake
  cmake/SearchForStuff.cmake
  common/CMakeLists.txt
  common/CrashHandler.cpp
Labels: Build | Project System

#11585 GameDB: TC SOLA fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11589 qt/MainWindow: for disable hide window if render to main is enabled
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11591 Qt: Disable Single Frame GS Dump tool when not running
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt

#11592 OSD: Add PCSX2 Version toggle
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#11608 Debugger: Cleanup warnings and casts.
  pcsx2-qt/Debugger/MemoryViewWidget.cpp
  pcsx2-qt/Debugger/Models/BreakpointModel.cpp
Labels: Debugger, GUI/Qt

#11372 GS:Capture: VAAPI support
  pcsx2/GS/GSCapture.cpp
Labels: GS

#11593 GS Capture: Set Avutil Channel Layout and Implement Pixel Format Selection
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GSCapture.cpp
  pcsx2/GS/GSCapture.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#11597 Qt: Add per-game link to PCSX2 Wiki pages on right-click
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2-qt/Settings/GameSummaryWidget.h
  pcsx2-qt/Settings/GameSummaryWidget.ui
Labels: GUI/Qt

#11619 Qt: Simplify compat line in GameSummaryWidget
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2-qt/Settings/GameSummaryWidget.ui
Labels: GUI/Qt

#11590 input-rec: Directly use recorded values for pressure sensitive buttons
  pcsx2/Recording/PadData.cpp
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SIO/Pad/PadPopn.cpp
  pcsx2/SIO/Pad/PadPopn.h
Labels: PAD, TAS Functionality

#11626 GameList: Make compat strings translatable
  pcsx2-qt/Settings/GameSummaryWidget.cpp
  pcsx2/GameList.cpp
Labels: GUI/Qt

#11617 USB: Gametrak/RealPlay emulation
  pcsx2-qt/Settings/ControllerBindingWidget.cpp
  pcsx2-qt/Settings/USBBindingWidget_Gametrak.ui
  pcsx2-qt/Settings/USBBindingWidget_RealPlay.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2/CMakeLists.txt
  pcsx2/USB/deviceproxy.cpp
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-pad/usb-gametrak.cpp
  pcsx2/USB/usb-pad/usb-gametrak.h
  pcsx2/USB/usb-pad/usb-realplay.cpp
  pcsx2/USB/usb-pad/usb-realplay.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, USB, GUI/Qt

#11616 USB: ASCII Trance Vib emulation
  pcsx2-qt/Settings/ControllerBindingWidget.cpp
  pcsx2-qt/Settings/USBBindingWidget_TranceVibrator.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2-qt/resources/icons/black/svg/trance-vibrator-line.svg
  pcsx2-qt/resources/icons/white/svg/trance-vibrator-line.svg
  pcsx2-qt/resources/resources.qrc
  pcsx2/CMakeLists.txt
  pcsx2/Input/InputManager.cpp
  pcsx2/Input/InputManager.h
  pcsx2/USB/deviceproxy.cpp
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-pad/usb-trance-vibrator.cpp
  pcsx2/USB/usb-pad/usb-trance-vibrator.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, USB, GUI/Qt

#11614 USB: Move Buzz device to dedicated files and create custom UI
  pcsx2-qt/Settings/ControllerBindingWidget.cpp
  pcsx2-qt/Settings/USBBindingWidget_Buzz.ui
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj.filters
  pcsx2/CMakeLists.txt
  pcsx2/USB/deviceproxy.cpp
  pcsx2/USB/usb-pad/usb-buzz.cpp
  pcsx2/USB/usb-pad/usb-buzz.h
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
  pcsx2/pcsx2.vcxproj
  pcsx2/pcsx2.vcxproj.filters
Labels: Build | Project System, USB, GUI/Qt

#11640 translations: Syncing Crowdin translations
  pcsx2-qt/Translations/pcsx2-qt_af-ZA.ts
  pcsx2-qt/Translations/pcsx2-qt_ar-SA.ts
  pcsx2-qt/Translations/pcsx2-qt_bg-BG.ts
  pcsx2-qt/Translations/pcsx2-qt_ca-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_cs-CZ.ts
  pcsx2-qt/Translations/pcsx2-qt_da-DK.ts
  pcsx2-qt/Translations/pcsx2-qt_de-DE.ts
  pcsx2-qt/Translations/pcsx2-qt_el-GR.ts
  pcsx2-qt/Translations/pcsx2-qt_es-419.ts
  pcsx2-qt/Translations/pcsx2-qt_es-ES.ts
  pcsx2-qt/Translations/pcsx2-qt_fa-IR.ts
  pcsx2-qt/Translations/pcsx2-qt_fi-FI.ts
  pcsx2-qt/Translations/pcsx2-qt_fr-FR.ts
  pcsx2-qt/Translations/pcsx2-qt_he-IL.ts
  pcsx2-qt/Translations/pcsx2-qt_hi-IN.ts
  pcsx2-qt/Translations/pcsx2-qt_hr-HR.ts
  pcsx2-qt/Translations/pcsx2-qt_hu-HU.ts
  pcsx2-qt/Translations/pcsx2-qt_id-ID.ts
  pcsx2-qt/Translations/pcsx2-qt_it-IT.ts
  pcsx2-qt/Translations/pcsx2-qt_ja-JP.ts
  pcsx2-qt/Translations/pcsx2-qt_ka-GE.ts
  pcsx2-qt/Translations/pcsx2-qt_ko-KR.ts
  pcsx2-qt/Translations/pcsx2-qt_lt-LT.ts
  pcsx2-qt/Translations/pcsx2-qt_lv-LV.ts
  pcsx2-qt/Translations/pcsx2-qt_nl-NL.ts
  pcsx2-qt/Translations/pcsx2-qt_no-NO.ts
  pcsx2-qt/Translations/pcsx2-qt_pl-PL.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-BR.ts
  pcsx2-qt/Translations/pcsx2-qt_pt-PT.ts
  pcsx2-qt/Translations/pcsx2-qt_ro-RO.ts
  pcsx2-qt/Translations/pcsx2-qt_ru-RU.ts
  pcsx2-qt/Translations/pcsx2-qt_sr-SP.ts
  pcsx2-qt/Translations/pcsx2-qt_sv-SE.ts
  pcsx2-qt/Translations/pcsx2-qt_tr-TR.ts
  pcsx2-qt/Translations/pcsx2-qt_uk-UA.ts
  pcsx2-qt/Translations/pcsx2-qt_vi-VN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-CN.ts
  pcsx2-qt/Translations/pcsx2-qt_zh-TW.ts
Labels: Translations, GUI/Qt

#11556 CI: Move appdata generation into flatpak manifest
  .github/workflows/linux_build_flatpak.yml
  .github/workflows/scripts/linux/flatpak/net.pcsx2.PCSX2.json
Labels: Build | Project System, First Time Contribution

#11605 Qt: Use serials by default for cover filenames with downloader
  pcsx2-qt/CoverDownloadDialog.cpp
  pcsx2-qt/CoverDownloadDialog.ui
Labels: GUI/Qt

#11647 USB: Implement trance vibrator and buzz savestate freezing
  pcsx2/USB/usb-pad/usb-buzz.cpp
  pcsx2/USB/usb-pad/usb-buzz.h
  pcsx2/USB/usb-pad/usb-trance-vibrator.cpp
  pcsx2/USB/usb-pad/usb-trance-vibrator.h
Labels: USB

#11646 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11651 ci: Possibly fix flatpack release vs pcsx2 release version compare
  .github/workflows/cron_publish_flatpak.yml
Labels: Build | Project System

#11638 OSD: Allow independent left- and right-align for OSD
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt, OSD / ImGui
