Repository PCSX2/pcsx2, pull requests merged in 2024-03, with the labels that each got.

#10869 GameDB: Arc the Lad TOTS Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10872 GS/Vulkan: Use attachment clear for ONE stencil
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Vulkan

#10837 Debugger: Memory search increased/decreased/changed + results count
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/CpuWidget.h
  pcsx2-qt/Debugger/CpuWidget.ui
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2-qt/Debugger/MemorySearchWidget.cpp
  pcsx2-qt/Debugger/MemorySearchWidget.h
  pcsx2-qt/Debugger/MemorySearchWidget.ui
Labels: Debugger, GUI/Qt

#10873 GS/HW: Improvements to rt alpha accuracy
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10883 UI: Fix broken setup guide links
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10882 OSD: Fix Recording Icon
  3rdparty/include/IconsFontAwesome5.h
  3rdparty/include/IconsPromptFont.h
  3rdparty/promptfont/promptfont.sfd
  bin/resources/fonts/promptfont.otf
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
Labels: Dependencies

#10880 GameDB: God of War 2 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10891 GS/HW: Pre check DATE requirement before updating rt alphas
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10864 Qt/PAD: Enable/Disable Player LED for DualSense Controllers in Enhanced mode
  pcsx2-qt/Settings/ControllerGlobalSettingsWidget.cpp
  pcsx2-qt/Settings/ControllerLEDSettingsDialog.ui
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Input/SDLInputSource.cpp
  pcsx2/Input/SDLInputSource.h
  pcsx2/SIO/Pad/Pad.cpp
Labels: PAD, GUI/Qt

#10898 VulkanDevice: Add additional semaphore on swap chain
  pcsx2/GS/Renderers/Vulkan/VKSwapChain.cpp
Labels: GS, GS: Vulkan

#10899 Qt: Fix log window disabling itself on close
  pcsx2-qt/LogWindow.cpp
  pcsx2-qt/LogWindow.h
Labels: GUI/Qt

#10900 CI: Update to SDL2 2.30.1 and Qt 6.6.2
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
  cmake/SearchForStuff.cmake
Labels: Build | Project System

#10903 GS/HW: Handle redundant FRAME+Z buffer clears
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
Labels: GS, GS: Hardware

#10904 GS/Vulkan: Work around NVIDIA attachment clear bug
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#10909 GS/HW: Reduce duplicates in hash cache
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10911 GS/HW: Don't include TBW in hash cache key
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10902 GS/HW: Don't allow conversion to indexed is read is outside the target
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10901 GS/HW: Improve RT/Blend min max detection based on DATE and ATE.
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10926 Path: Add CreateFileURL()
  common/FileSystem.cpp
  common/HTTPDownloader.cpp
  common/HTTPDownloader.h
  common/Path.h
  pcsx2-qt/QtHost.cpp
  pcsx2/GameList.cpp
  tests/ctest/common/path_tests.cpp
Labels: GUI/Qt

#10910 BPM: Implement "Open in File Browser" Function
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Patch.cpp
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
  pcsx2/SIO/Memcard/MemoryCardFolder.cpp
  pcsx2/SIO/Sio.cpp
Labels: Memory Card

#10907 GS/HW: Adjust blend mix for impossible blend.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10929 GS/Metal: Fix some Wformat warnings.
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
Labels: GS, GS: Metal

#10930 Qt: Disable Texture barriers option on Metal.
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#10923 GS/HW: Improve shuffle width/height detection
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10917 UI: Add the "points" unit in some RA-related strings
  pcsx2-qt/MainWindow.cpp
  pcsx2/Achievements.cpp
Labels: GUI/Qt, RetroAchievements

#10940 GS/HW: Improve how we handle texture shuffles with barriers.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10941 GS/HW: Optimize RTA correction to reduce copies
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.h
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10949 Qt: Fix closing log window via taskbar
  pcsx2-qt/LogWindow.cpp
  pcsx2-qt/LogWindow.h
Labels: GUI/Qt

#10954 GameDB: Add some gshw fixes.
  bin/resources/GameIndex.yaml
Labels: GameDB

#10952 Qt: Update docs link on setup wizard
  pcsx2-qt/SetupWizardDialog.ui
Labels: GUI/Qt

#10955 README: Update docs link
  README.md
Labels: Documentation

#10958 Qt: Fix main window stuck open after update
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.h
Labels: GUI/Qt

#10961 GS/HW: Make sure RTA doesn't correct when it can't
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10742 USB: Cleanup usb qemu.
  pcsx2/USB/qemu-usb/USBinternal.h
  pcsx2/USB/qemu-usb/bus.cpp
  pcsx2/USB/qemu-usb/core.cpp
  pcsx2/USB/qemu-usb/desc.cpp
  pcsx2/USB/qemu-usb/desc.h
  pcsx2/USB/qemu-usb/input-keymap-qcode-to-qnum.cpp
  pcsx2/USB/qemu-usb/qusb.h
  pcsx2/USB/qemu-usb/usb-ohci.cpp
Labels: USB

#10950 GS/HW: Improve channel + texture shuffle detection and processing
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/GSMTLSharedHeader.h
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10953 GS/HW: Compare dirty rects by valid bounds
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#10967 GS/HW: Check both edges of current triangle for quads
  pcsx2/GS/GSState.cpp
Labels: GS

#10966 GS/HW: RTA improvements and enhancements
  bin/resources/shaders/dx11/convert.fx
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/convert.glsl
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/convert.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
  pcsx2/GS/Renderers/Metal/convert.metal
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10968 GS/HW: Detect shuffles reshaping the target
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#10978 GS: Improve state load determinism
  pcsx2/GS/GSClut.cpp
  pcsx2/GS/GSClut.h
  pcsx2/GS/GSState.cpp
Labels: GS

#10980 GS/Metal: Fix Wunused-const-variable warning.
  pcsx2/GS/Renderers/Metal/tfx.metal
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10983 GS: Purge GSinit() and GSshutdown()
  pcsx2/GS/GS.cpp
  pcsx2/GS/GS.h
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/GSUtil.h
  pcsx2/MTGS.cpp
  pcsx2/VMManager.cpp
Labels: GS

#10985 CDVD: fix sceCdReadConsoleID on bios v1.70 and up
  pcsx2/CDVD/CDVD_internal.h
Labels: CDVD

#10991 GS: Cleanup unused features
  bin/resources/shaders/opengl/convert.glsl
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/opengl/tfx_vgs.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#10990 GS/DX: Fix ALT+ENTER causing mode switch
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 11, GS: Direct3D 12

#10993 GS/DX11: Re-enable FL10 support with a warning
  bin/resources/shaders/common/fxaa.fx
  pcsx2/GS/Renderers/DX11/D3D.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
Labels: GS, GS: Direct3D 11

#11003 GS/Vulkan: Fix incorrect clear colour for fast colclip
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.h
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan, GS: Direct3D 12

#11008 GS/HW: Avoid deleting depth targets on shuffles
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache
