Repository PCSX2/pcsx2, pull requests merged in 2024-04, with the labels that each got.

#11005 Qt: Fix crash on shutdown with BP mode open
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
Labels: GUI/Qt

#11007 Qt: Fix vanishing status bar renderer info
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/QtHost.h
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS, GUI/Qt

#11013 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11020 GS/HW: Fix loading replacement textures
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#11021 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11024 GS/HW: Prioritize loading required replacement textures over precache
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware

#11015 FileSystem: Handle paths longer than MAX_PATH on Windows
  common/CMakeLists.txt
  common/CrashHandler.cpp
  common/FileSystem.cpp
  common/FileSystem.h
  common/Windows/WinMisc.cpp
  pcsx2/CDVD/GzippedFileReader.cpp
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/windows/FlatFileReaderWindows.cpp
  updater/Updater.cpp
  updater/UpdaterExtractor.h
  updater/Windows/WindowsUpdater.cpp
Labels: Build | Project System, CDVD, DEV9

#11025 Deps: Update to Qt 6.7.0 and SDL 2.30.2
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies.bat
  cmake/SearchForStuff.cmake
Labels: Build | Project System

#11038 Qt: Fix crash on shutdown settings save
  pcsx2-qt/QtHost.cpp
Labels: GUI/Qt

#11043 GSRunner: Fix build on Windows
  common/vsprops/LinkPCSX2Deps.props
  pcsx2-gsrunner/pcsx2-gsrunner.vcxproj
Labels: Build | Project System

#10994 GS/HW: Add support for blend second pass for hw blending.
  bin/resources/shaders/dx11/tfx.fx
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#11052 GS/HW: Cleanup EmulateBlending a bit more.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11041 GameDB:Bigger blob of various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11056 BPM: Fixes swapped arrow key glyphs
  3rdparty/promptfont/promptfont.sfd
  bin/resources/fonts/promptfont.otf
Labels: Dependencies

#11064 GS/Vulkan: Fix depth not clearing with first colclip draw
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#11067 GS/Vulkan: Add env var for non-semantic debug info
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan

#11077 Qt: Shrink settings window by ~30 pixels
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.ui
  pcsx2-qt/Settings/InterfaceSettingsWidget.ui
Labels: GUI/Qt

#11028 GS/HW: Try to keep old targets around without overlap or dirty areas
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache, Hold Merge

#11075 GS/HW: Ensure tex shuffles, masking are render target draws.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11091 VMManager: Log entry point in hexadecimal
  pcsx2/VMManager.cpp
Labels: First Time Contribution

#11096 DEV9: Adjustments to HDD logs
  pcsx2/DEV9/ATA/ATA_Info.cpp
  pcsx2/DEV9/ATA/ATA_State.cpp
  pcsx2/DEV9/ATA/HddCreate.cpp
  pcsx2/DEV9/DEV9.cpp
Labels: DEV9

#11104 Debugger: Disable the debugger toolbar ctx menu
  pcsx2-qt/Debugger/DebuggerWindow.ui
Labels: Debugger, GUI/Qt

#11109 CI/Flatpak: Bump to KDE 6.7 container
  .github/workflows/linux_build_flatpak.yml
Labels: Build | Project System

#11063 GS/HW: Minor shader optimization.
  bin/resources/shaders/dx11/tfx.fx
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: Direct3D 12, GS: Metal

#11123 GS: Fix crash and file leak during dump
  pcsx2/GS/GSPng.cpp
Labels: GS

#11107 GS/HW: Cleanup date and rt alpha min max function.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11113 GS/HW: Extend blend second pass to more blend formulas.
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12

#11110 GS/HW: Clear dirty list on target clear
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11118 GSLzma: Fix a file handle leak in GSDumpLzma
  pcsx2/GS/GSLzma.cpp
  pcsx2/GS/GSLzma.h
Labels: GS

#11094 DEV9: Properly disable/enable labels/checkboxes in the settings UI
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.ui
Labels: GUI/Qt

#11093 DEV9: Lazy load ethernet adapters in the settings UI
  pcsx2-qt/Settings/DEV9SettingsWidget.cpp
  pcsx2-qt/Settings/DEV9SettingsWidget.h
Labels: GUI/Qt

#11131 Qt: Fix rare crash during update download
  pcsx2-qt/AutoUpdaterDialog.cpp
Labels: GUI/Qt

#11127 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11134 GS/HW: Optimize medium blend on dx.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Vulkan

#11140 GameDB: LOTR Twin Towers fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10964 Docs: Initial overhaul for stable in 2024 (GameIndex)
  bin/docs/GameIndex.pdf
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#11138 MSBuild: Use AVX/AVX2 for 3rdparty as well
  3rdparty/3rdparty.props
  PCSX2_qt.sln
  common/common.vcxproj
  common/vsprops/BaseProjectConfig.props
  common/vsprops/ProjectConfigAVX2.props
  pcsx2-gsrunner/pcsx2-gsrunner.vcxproj
  pcsx2-qt/pcsx2-qt.vcxproj
  pcsx2/pcsx2.vcxproj
Labels: Build | Project System, Dependencies, GUI/Qt

#11143 CI: Simplify Linux build
  .github/workflows/linux_build_qt.yml
  .github/workflows/scripts/common/update_base_translation.sh
  .github/workflows/scripts/linux/appimage-qt.sh
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/compile.sh
  .github/workflows/scripts/linux/flatpak/net.pcsx2.PCSX2.json
  .github/workflows/scripts/linux/functions.sh
  .github/workflows/scripts/linux/generate-cmake-qt.sh
  .github/workflows/scripts/linux/install-packages-qt.sh
  cmake/SearchForStuff.cmake
  tools/retry.sh
Labels: Build | Project System

#11147 GH: Clarify lack of support for third-party Linux builds
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#11151 GS/HW: Ensure valid alpha doesn't get cleared on 24-bit targets
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11145 GameDB: Jak 1 and CMR 2005 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#10937 DEV9: Improve logic for getting MacAddress
  pcsx2/DEV9/AdapterUtils.cpp
  pcsx2/DEV9/pcap_io.cpp
Labels: DEV9

#11146 GS/HW: Detect shuffles using quads
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#11157 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11144 EE/IOP Timers: Rewrite gate functionality
  pcsx2/Counters.cpp
  pcsx2/Counters.h
  pcsx2/IopCounters.cpp
  pcsx2/IopCounters.h
  pcsx2/R5900.cpp
  pcsx2/SaveState.h
Labels: Counters, Hardware Tested

#11161 GameDB: Crash Nitro Kart fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11165 GameDB: God of War 2 mipmapping fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#11168 DEV9: Fix MacOS crash upon receiving an ICMP reply
  pcsx2/DEV9/Sessions/ICMP_Session/ICMP_Session.cpp
Labels: DEV9

#11159 CMake: Don't assume all qt utils are in the same place
  cmake/CopyBaseTranslations.cmake
  pcsx2/CMakeLists.txt
Labels: Build | Project System
