Repository PCSX2/pcsx2, pull requests merged in 2025-05, with the labels that each got.

#12588 UI: Remove fractional upscales
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GUI/Qt

#12590 GS/HW: Detect double buffers when Z not offset during RT in RT
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#12605 Qt: Fix crashing per-game achievement sound effect settings
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
Labels: GUI/Qt

#12596 GS/HW: Remove Haunting Ground CRC
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
Labels: GS, GS: Hardware, GameDB

#12610 GS/HW: Fix copy range for shuffles.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12591 GameDB: HPO Native w/TO for Resident Evil Dead Aim
  bin/resources/GameIndex.yaml
Labels: GameDB

#12597 GameDB: Add ATN to Fatal Frame III
  bin/resources/GameIndex.yaml
Labels: GameDB

#12593 Audio: Fix global settings overriding per-game ones
  pcsx2-qt/Settings/AudioSettingsWidget.cpp
Labels: GUI/Qt

#12601 Qt: Allow translating the default adapter text
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
Labels: GUI/Qt

#12614 GS/HW: Enable tex-is-fb on channel shuffles when barriers aren't supported.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12624 gs: Missing cmath include
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#12623 GS/HW: Adjust blending when tex is fb.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12627 Docs: Add even more missing third party licenses
  bin/docs/ThirdPartyLicenses.html
Labels: Documentation

#12626 Debugger: Fix a typo in the memory search view
  pcsx2-qt/Debugger/Memory/MemorySearchView.ui
Labels: Debugger, GUI/Qt

#12636 GameDB: RT in RT Part Deux
  bin/resources/GameIndex.yaml
Labels: GameDB

#12645 GameDB: Various Fixes Part 3 Because I Forgot More
  bin/resources/GameIndex.yaml
Labels: GameDB

#12647 GS/HW: Move texture sampling before EmulateBlending.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, High Priority

#12648 GitHub: Require PR authors to disclose AI usage
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build | Project System, Documentation

#12655 GS/HW: Combine target using the drawn area, not valid area
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, High Priority

#12664 GS/HW: Enable feedback loop if channel shuffle enabled barriers.
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12673 Make authors disclose whether they used AI or not.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build | Project System, Documentation

#12661 CMake: Widen the range of configurations that can be imported with a Devel build
  cmake/BuildParameters.cmake
Labels: Build | Project System

#12675 GS/HW: Clean up HandleTextureHazards.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12665 CI: Fix script building universal dependencies on macOS
  .github/workflows/scripts/macos/build-dependencies-universal.sh
Labels: Build | Project System, First Time Contribution

#12683 GS/HW: Allow partial depth copy on dx12.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12686 DebugTools: Fix uninitialized variable in breakpoint code
  pcsx2/DebugTools/Breakpoints.h
Labels: Debugger, High Priority

#12688 debugger: fix thread view row lookup
  pcsx2-qt/Debugger/ThreadView.cpp
Labels: Debugger, High Priority, GUI/Qt

#12684 GameDB: Add missing variants + fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12699 Add listings for PSX Update Disc to the GameDB.
  bin/resources/GameIndex.yaml
Labels: GameDB

#12703 GS/TC: On clear delete overlapping depth targets
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache, High Priority

#12709 [ci skip] fix a broken link
  .github/workflows/triage_pr.yml
Labels: Build | Project System

#12708 GameDB: Add memcard filters for some NTSC-J titles.
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#12713 FSUI: Fix save state duplicate entry
  pcsx2/ImGui/FullscreenUI.cpp
Labels: High Priority

#12734 GS/DX12: Fix HDR copy scissor area
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
Labels: GS, GS: Direct3D 12

#12743 MemoryCardFile: Fix memory card sorting on Linux
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#12744 GS/TC: Fine tune Frame buffer conversion.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#12747 UI: Standardize order of option groups
  pcsx2-qt/MainWindow.ui
  pcsx2/ImGui/FullscreenUI.cpp
Labels: GUI/Qt, OSD / ImGui

#12741 GS/HW: Adjust SpriteNoGaps check for vertical strips
  pcsx2/GS/GSState.cpp
Labels: GS

#12752 Debugger: Improve DockTabBar ownership workaround
  pcsx2-qt/Debugger/Docking/DockViews.cpp
Labels: Debugger, GUI/Qt
