Repository PCSX2/pcsx2, pull requests merged in 2025-09, with the labels that each got.

#13214 CDVD: Fix block index past EoF error message
  pcsx2/CDVD/InputIsoFile.cpp
Labels: CDVD

#13226 GameDB: Deadly Strike fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#13015 Hotkeys: Better organize hotkeys page
  pcsx2-qt/Settings/HotkeySettingsWidget.cpp
  pcsx2/Hotkeys.cpp
Labels: GUI/Qt

#13225 Deps: Update SDL3 to v3.2.22
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl3.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#13147 OSD: Add Accessories type indicator to USB Input OSD
  3rdparty/include/IconsPromptFont.h
  3rdparty/promptfont/promptfont.sfd
  bin/resources/fonts/promptfont.otf
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadJogcon.cpp
  pcsx2/SIO/Pad/PadNegcon.cpp
  pcsx2/USB/USB.cpp
  pcsx2/USB/USB.h
  pcsx2/USB/deviceproxy.h
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.cpp
  pcsx2/USB/usb-eyetoy/usb-eyetoy-webcam.h
  pcsx2/USB/usb-hid/usb-hid.cpp
  pcsx2/USB/usb-hid/usb-hid.h
  pcsx2/USB/usb-lightgun/guncon2.cpp
  pcsx2/USB/usb-lightgun/guncon2.h
  pcsx2/USB/usb-mic/usb-headset.cpp
  pcsx2/USB/usb-mic/usb-headset.h
  pcsx2/USB/usb-mic/usb-mic.cpp
  pcsx2/USB/usb-mic/usb-mic.h
  pcsx2/USB/usb-msd/usb-msd.cpp
  pcsx2/USB/usb-msd/usb-msd.h
  pcsx2/USB/usb-pad/usb-buzz.cpp
  pcsx2/USB/usb-pad/usb-buzz.h
  pcsx2/USB/usb-pad/usb-gametrak.cpp
  pcsx2/USB/usb-pad/usb-gametrak.h
  pcsx2/USB/usb-pad/usb-pad.cpp
  pcsx2/USB/usb-pad/usb-pad.h
  pcsx2/USB/usb-pad/usb-realplay.cpp
  pcsx2/USB/usb-pad/usb-realplay.h
  pcsx2/USB/usb-pad/usb-seamic.cpp
  pcsx2/USB/usb-pad/usb-train.cpp
  pcsx2/USB/usb-pad/usb-train.h
  pcsx2/USB/usb-pad/usb-trance-vibrator.cpp
  pcsx2/USB/usb-pad/usb-trance-vibrator.h
  pcsx2/USB/usb-pad/usb-turntable.cpp
  pcsx2/USB/usb-pad/usb-turntable.h
  pcsx2/USB/usb-printer/usb-printer.cpp
  pcsx2/USB/usb-printer/usb-printer.h
Labels: PAD, USB, Dependencies

#13251 Toolbar: Add 'Hotkeys' action
  pcsx2-qt/MainWindow.cpp
  pcsx2-qt/MainWindow.ui
Labels: GUI/Qt

#13171 GS:SW: Use accurate fog equation
  pcsx2/GS/GSVector4i.h
  pcsx2/GS/GSVector4i_arm64.h
  pcsx2/GS/GSVector8i.h
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.all.cpp
  pcsx2/GS/Renderers/SW/GSDrawScanlineCodeGenerator.arm64.cpp
Labels: GS, GS: Software, High Priority

#13143 Pad: De-duplicate analog light/lock attributes, add public getters
  pcsx2/SIO/Pad/PadBase.h
  pcsx2/SIO/Pad/PadDualshock2.cpp
  pcsx2/SIO/Pad/PadDualshock2.h
  pcsx2/SIO/Pad/PadGuitar.cpp
  pcsx2/SIO/Pad/PadGuitar.h
  pcsx2/SIO/Pad/PadJogcon.cpp
  pcsx2/SIO/Pad/PadJogcon.h
  pcsx2/SIO/Pad/PadNegcon.cpp
  pcsx2/SIO/Pad/PadNegcon.h
  pcsx2/SIO/Pad/PadNotConnected.cpp
  pcsx2/SIO/Pad/PadNotConnected.h
  pcsx2/SIO/Pad/PadPopn.cpp
  pcsx2/SIO/Pad/PadPopn.h
Labels: PAD

#13304 Correct lingual-code
  bin/resources/GameIndex.yaml
Labels: GameDB

#13300 GS: Ignore output on RC1/2 when the data is not used.
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
Labels: GS

#13298 GS/HW: Abort copy if rect is empty.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#13253 GS:Capture: Allow selecting hardware device
  pcsx2/GS/GSCapture.cpp
Labels: GS

#13296 CI: Update Flatpak builder action version
  .github/workflows/linux_build_flatpak.yml
Labels: Build | Project System

#13205 Debugger: Improve logic for applying custom font sizes
  pcsx2-qt/Debugger/DebuggerView.cpp
  pcsx2-qt/Debugger/DebuggerWindow.cpp
  pcsx2-qt/Debugger/DebuggerWindow.h
Labels: Debugger, GUI/Qt

#13313 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#13293 Achievements: Harden RetroAchievements Hardcore Compliance
  pcsx2-qt/MainWindow.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/VMManager.cpp
Labels: GUI/Qt

#13322 Deps: Update kddockwidgets to v2.3.0
  .github/workflows/scripts/common/kddockwidgets-dodgy-include.patch
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/23-kddockwidgets.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System
