Repository PCSX2/pcsx2, pull requests merged in 2025-07, with the labels that each got.

#12950 Deps: Update shaderc to 2025.3
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/22-shaderc.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#12943 3rdparty: Update fmt to v11.2.0
  3rdparty/fmt/ChangeLog.md
  3rdparty/fmt/README.md
  3rdparty/fmt/include/fmt/base.h
  3rdparty/fmt/include/fmt/chrono.h
  3rdparty/fmt/include/fmt/color.h
  3rdparty/fmt/include/fmt/compile.h
  3rdparty/fmt/include/fmt/format-inl.h
  3rdparty/fmt/include/fmt/format.h
  3rdparty/fmt/include/fmt/ostream.h
  3rdparty/fmt/include/fmt/ranges.h
  3rdparty/fmt/include/fmt/std.h
  3rdparty/fmt/include/fmt/xchar.h
  3rdparty/fmt/src/fmt.cc
Labels: Documentation, Dependencies

#12940 3rdparty: Update rcheevos to v12.0.0
  3rdparty/rcheevos/CHANGELOG.md
  3rdparty/rcheevos/CMakeLists.txt
  3rdparty/rcheevos/PCSX2-Modifications.txt
  3rdparty/rcheevos/README.md
  3rdparty/rcheevos/include/rc_api_editor.h
  3rdparty/rcheevos/include/rc_api_info.h
  3rdparty/rcheevos/include/rc_api_request.h
  3rdparty/rcheevos/include/rc_api_runtime.h
  3rdparty/rcheevos/include/rc_api_user.h
  3rdparty/rcheevos/include/rc_client.h
  3rdparty/rcheevos/include/rc_consoles.h
  3rdparty/rcheevos/include/rc_error.h
  3rdparty/rcheevos/include/rc_hash.h
  3rdparty/rcheevos/include/rc_runtime.h
  3rdparty/rcheevos/include/rc_runtime_types.h
  3rdparty/rcheevos/rcheevos.vcxproj
  3rdparty/rcheevos/rcheevos.vcxproj.filters
  3rdparty/rcheevos/src/rapi/rc_api_common.c
  3rdparty/rcheevos/src/rapi/rc_api_common.h
  3rdparty/rcheevos/src/rapi/rc_api_editor.c
  3rdparty/rcheevos/src/rapi/rc_api_info.c
  3rdparty/rcheevos/src/rapi/rc_api_runtime.c
  3rdparty/rcheevos/src/rapi/rc_api_user.c
  3rdparty/rcheevos/src/rc_client.c
  3rdparty/rcheevos/src/rc_client_external.c
  3rdparty/rcheevos/src/rc_client_external.h
  3rdparty/rcheevos/src/rc_client_external_versions.h
  3rdparty/rcheevos/src/rc_client_internal.h
  3rdparty/rcheevos/src/rc_client_raintegration.c
  3rdparty/rcheevos/src/rc_compat.c
  3rdparty/rcheevos/src/rc_compat.h
  3rdparty/rcheevos/src/rc_libretro.c
  3rdparty/rcheevos/src/rc_libretro.h
  3rdparty/rcheevos/src/rc_util.c
  3rdparty/rcheevos/src/rc_version.h
  3rdparty/rcheevos/src/rcheevos/alloc.c
  3rdparty/rcheevos/src/rcheevos/condition.c
  3rdparty/rcheevos/src/rcheevos/condset.c
  3rdparty/rcheevos/src/rcheevos/consoleinfo.c
  3rdparty/rcheevos/src/rcheevos/format.c
  3rdparty/rcheevos/src/rcheevos/lboard.c
  3rdparty/rcheevos/src/rcheevos/memref.c
  3rdparty/rcheevos/src/rcheevos/operand.c
  3rdparty/rcheevos/src/rcheevos/rc_internal.h
  3rdparty/rcheevos/src/rcheevos/rc_validate.c
  3rdparty/rcheevos/src/rcheevos/rc_validate.h
  3rdparty/rcheevos/src/rcheevos/richpresence.c
  3rdparty/rcheevos/src/rcheevos/runtime.c
  3rdparty/rcheevos/src/rcheevos/runtime_progress.c
  3rdparty/rcheevos/src/rcheevos/trigger.c
  3rdparty/rcheevos/src/rcheevos/value.c
  3rdparty/rcheevos/src/rhash/cdreader.c
  3rdparty/rcheevos/src/rhash/hash.c
  3rdparty/rcheevos/src/rhash/rc_hash_internal.h
  3rdparty/rcheevos/src/rurl/url.c
Labels: Build | Project System, Documentation, Dependencies

#12941 Debugger/Qt: Unlock debugger table view layout
  pcsx2-qt/Debugger/Breakpoints/BreakpointView.cpp
  pcsx2-qt/Debugger/Memory/SavedAddressesView.cpp
  pcsx2-qt/Debugger/ModuleView.cpp
  pcsx2-qt/Debugger/StackView.cpp
  pcsx2-qt/Debugger/ThreadView.cpp
Labels: Debugger, GUI/Qt

#12954 GS: Add hotkey for cycling TV shaders
  pcsx2/GS/GS.cpp
  pcsx2/SIO/Pad/Pad.cpp
Labels: GS, PAD

#12970 3rdparty: Update FontAwesome to 6.7.2
  3rdparty/include/IconsFontAwesome5.h
  3rdparty/include/IconsFontAwesome6.h
  bin/resources/fonts/fa-solid-900.ttf
  pcsx2/Achievements.cpp
  pcsx2/CDVD/CDVDcommon.cpp
  pcsx2/GS/GS.cpp
  pcsx2/GS/GSCapture.cpp
  pcsx2/GS/Renderers/Common/GSRenderer.cpp
  pcsx2/GS/Renderers/DX11/D3D.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GameDatabase.cpp
  pcsx2/Host/CubebAudioStream.cpp
  pcsx2/Hotkeys.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiFullscreen.cpp
  pcsx2/ImGui/ImGuiFullscreen.h
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/MTGS.cpp
  pcsx2/Patch.cpp
  pcsx2/Recording/Utilities/InputRecordingLogger.cpp
  pcsx2/SIO/Pad/Pad.cpp
  pcsx2/USB/usb-pad/usb-train.cpp
  pcsx2/USB/usb-printer/usb-printer.cpp
  pcsx2/VMManager.cpp
  tools/generate_update_fa_glyph_ranges.py
Labels: GS, GS: Hardware, CDVD, PAD, GS: Direct3D 11, GS: OpenGL, TAS Functionality, USB, Dependencies, RetroAchievements

#12955 Debugger: Allow default layouts to be defined with different groups
  pcsx2-qt/Debugger/Docking/DockLayout.cpp
  pcsx2-qt/Debugger/Docking/DockTables.cpp
  pcsx2-qt/Debugger/Docking/DockTables.h
Labels: Debugger, GUI/Qt

#12640 Core/Qt: Add hotkey support for swapping memory card
  pcsx2/Hotkeys.cpp
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
  pcsx2/SIO/Memcard/MemoryCardFile.h
Labels: Memory Card

#12953 OSD/Achievements: Add 9-position alignment options for Achievement notifications/popups, and OSD
  pcsx2-qt/Settings/AchievementSettingsWidget.cpp
  pcsx2-qt/Settings/AchievementSettingsWidget.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Achievements.cpp
  pcsx2/Config.h
  pcsx2/GSDumpReplayer.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiFullscreen.cpp
  pcsx2/ImGui/ImGuiFullscreen.h
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/ImGui/ImGuiOverlays.h
  pcsx2/Pcsx2Config.cpp
Labels: GUI/Qt, RetroAchievements

#12994 Memcard: Remove a buggy assertion
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#12996 Debugger: Improve error handling in getIOPThreads and getIOPModules
  pcsx2/DebugTools/BiosDebugData.cpp
Labels: Debugger

#12981 Qt/Debugger: Remove text display for breakpoint enabled state
  pcsx2-qt/Debugger/Breakpoints/BreakpointModel.cpp
Labels: Debugger, GUI/Qt

#12945 Qt: Add option to start in Big Picture Mode from settings.
  pcsx2-qt/QtHost.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.ui
Labels: GUI/Qt

#12944 FSUI: Add memory card creation dialog
  pcsx2/ImGui/FullscreenUI.cpp
Labels: OSD / ImGui

#13013 GameDB: El Tigre fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12974 CI: Update macOS runners to 15
  .github/workflows/macos_build.yml
Labels: Build | Project System

#13030 Debugger: Fix copying out of sorted thread view
  pcsx2-qt/Debugger/ThreadView.cpp
Labels: Debugger, GUI/Qt

#13027 ImGuiOverlays: Internal FPS stat regression fix
  pcsx2-qt/QtHost.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
Labels: GUI/Qt

#13023 Deps: Update SDL3 to v3.2.18
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl3.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#13046 GameDB: Kamen Rider Kabuto fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#13040 Debugger: add 3 operand mult to assembler
  pcsx2/DebugTools/MipsAssemblerTables.cpp
Labels: Debugger

#13042 GitHub: Add types to issue templates
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: Build | Project System

#13048 GS/GL/MTL: Misc fixes.
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
Labels: GS, GS: OpenGL, GS: Metal

#13051 Debugger: Disable filter search button while filter search is active
  pcsx2-qt/Debugger/Memory/MemorySearchView.cpp
Labels: Debugger, First Time Contribution, GUI/Qt

#12653 GS: Add gamma control to ShadeBoost
  bin/resources/shaders/dx11/shadeboost.fx
  bin/resources/shaders/opengl/shadeboost.glsl
  bin/resources/shaders/vulkan/shadeboost.glsl
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/Metal/convert.metal
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GUI/Qt, GS: Direct3D 12, GS: Metal

#13064 Qt: Fix default post processing values.
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2/Config.h
Labels: GUI/Qt

#13071 GameDB: Fix #13070 wrong title for SLES-54435
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#13072 GS: Use std::array for fixed size array.
  pcsx2/GS/GSState.cpp
Labels: GS

#13067 CI/Flatpak: Upgrade runtime to 6.9
  .github/workflows/scripts/linux/flatpak/net.pcsx2.PCSX2.json
Labels: Build | Project System

#13082 GS: Make GSUtil constexpr functions header only.
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/GSUtil.h
Labels: GS
