Repository PCSX2/pcsx2, pull requests merged in 2025-10, with the labels that each got.

#13287 GS/HW: Make sure we use date barrier on sw fbmask instead of primid date.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#13349 GS/TC: Optimize block offset calculations v2.
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.h
Labels: GS, GS: Hardware, GS: Texture Cache

#13346 Deps: Update SDL3 to v3.2.24
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl3.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System, requires-win-deps-build

#13326 OSD: Add ability to show the amount of activated patches
  pcsx2-qt/Settings/GraphicsOnScreenDisplaySettingsTab.ui
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.h
  pcsx2/Config.h
  pcsx2/GS/GS.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/Patch.cpp
  pcsx2/Patch.h
  pcsx2/Pcsx2Config.cpp
Labels: GS, GUI/Qt

#13357 GameDB: Hot Wheels Beat That fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#13359 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#13351 3rdparty: Update fmt to 12.0.0
  3rdparty/fmt/ChangeLog.md
  3rdparty/fmt/README.md
  3rdparty/fmt/include/fmt/args.h
  3rdparty/fmt/include/fmt/base.h
  3rdparty/fmt/include/fmt/chrono.h
  3rdparty/fmt/include/fmt/color.h
  3rdparty/fmt/include/fmt/compile.h
  3rdparty/fmt/include/fmt/format-inl.h
  3rdparty/fmt/include/fmt/format.h
  3rdparty/fmt/include/fmt/os.h
  3rdparty/fmt/include/fmt/ostream.h
  3rdparty/fmt/include/fmt/printf.h
  3rdparty/fmt/include/fmt/ranges.h
  3rdparty/fmt/include/fmt/std.h
  3rdparty/fmt/include/fmt/xchar.h
  3rdparty/fmt/src/fmt.cc
  3rdparty/fmt/src/format.cc
  3rdparty/fmt/src/os.cc
Labels: Documentation, Dependencies

#13361 GS/DX12: Backport dx11 full rt copy optimizations.
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, GS: Direct3D 12
