Repository PCSX2/pcsx2, pull requests merged in 2025-01, with the labels that each got.

#12134 Fix&Add few Japanese Game Titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#12162 Debugger: Fix AST node ownership confusion bug
  pcsx2-qt/Debugger/SymbolTree/SymbolTreeModel.cpp
Labels: Debugger, GUI/Qt

#12147 Deps: Update SDL to 2.30.11
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#12140 3rdparty: Update vkmemoryallocator to v3.2.0
  3rdparty/vulkan/include/CHANGELOG.md
  3rdparty/vulkan/include/README.md
  3rdparty/vulkan/include/vk_mem_alloc.h
  3rdparty/vulkan/include/vulkan/vk_mem_alloc.h
Labels: Documentation, Dependencies

#12164 GameDB: Rename Dynasty Warriors 3 and 4.
  bin/resources/GameIndex.yaml
Labels: GameDB

#12163 GS/HW: Adjust need_aem_color and req_color conditions.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12174 Add support for MATE Desktop (fixes #12169)
  common/Linux/LnxMisc.cpp
Labels: First Time Contribution

#12132 Memcard: Remove unnecessary FSeek64 for speed improvements
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#12177 Debugger: Add disassembler toggle to go to the PC address on pause
  pcsx2-qt/Debugger/CpuWidget.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.cpp
  pcsx2-qt/Debugger/DisassemblyWidget.h
Labels: Debugger, GUI/Qt

#12056 iR5900: Remove mid block jumping
  pcsx2/x86/iR3000A.cpp
  pcsx2/x86/ix86-32/iR5900.cpp
Labels: Core, Hold Merge

#12188 iR3000A/iR5900: Fix dev/debug build compile.
  pcsx2/x86/iR3000A.cpp
  pcsx2/x86/ix86-32/iR5900.cpp
Labels: Core

#12183 x86emitter: Backup and restore non-volatile SSE registers
  common/emitter/x86emitter.cpp
Labels: Core

#12158 GameDB: Fix Japanese Game Titles
  bin/resources/GameIndex.yaml
Labels: GameDB

#12203 GameDB: Change VU1 clamping on Ougon no Kaze, fix some JoJo names
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#12206 USB: Fix DJ Hero Turntable automatic mapping & turntable multiplier
  pcsx2/USB/usb-pad/usb-turntable.cpp
Labels: USB, First Time Contribution

#12211 3rdparty: Update ImGui to v1.91.7
  3rdparty/imgui/include/imconfig.h
  3rdparty/imgui/include/imgui.h
  3rdparty/imgui/include/imgui_freetype.h
  3rdparty/imgui/include/imgui_internal.h
  3rdparty/imgui/include/imgui_stdlib.h
  3rdparty/imgui/include/imstb_textedit.h
  3rdparty/imgui/src/imgui.cpp
  3rdparty/imgui/src/imgui_demo.cpp
  3rdparty/imgui/src/imgui_draw.cpp
  3rdparty/imgui/src/imgui_freetype.cpp
  3rdparty/imgui/src/imgui_stdlib.cpp
  3rdparty/imgui/src/imgui_tables.cpp
  3rdparty/imgui/src/imgui_widgets.cpp
  pcsx2/Achievements.cpp
  pcsx2/GS/Renderers/Common/GSDevice.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/ImGui/ImGuiFullscreen.cpp
  pcsx2/ImGui/ImGuiManager.cpp
  pcsx2/ImGui/ImGuiOverlays.cpp
Labels: GS, GS: Direct3D 11, GS: OpenGL, Dependencies, GS: Vulkan, GS: Direct3D 12, GS: Metal, RetroAchievements

#12191 3rdparty: Sync vixl to commit e6076e92c416422ea1fbde815e8e327f68658ac1
  3rdparty/vixl/include/vixl/aarch64/abi-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/assembler-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/constants-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/cpu-features-auditor-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/debugger-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/decoder-constants-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/decoder-visitor-map-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/disasm-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/instructions-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/macro-assembler-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/operands-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/registers-aarch64.h
  3rdparty/vixl/include/vixl/aarch64/simulator-aarch64.h
  3rdparty/vixl/include/vixl/assembler-base-vixl.h
  3rdparty/vixl/include/vixl/code-buffer-vixl.h
  3rdparty/vixl/include/vixl/code-generation-scopes-vixl.h
  3rdparty/vixl/include/vixl/compiler-intrinsics-vixl.h
  3rdparty/vixl/include/vixl/cpu-features.h
  3rdparty/vixl/include/vixl/globals-vixl.h
  3rdparty/vixl/include/vixl/invalset-vixl.h
  3rdparty/vixl/include/vixl/pool-manager-impl.h
  3rdparty/vixl/include/vixl/pool-manager.h
  3rdparty/vixl/include/vixl/utils-vixl.h
  3rdparty/vixl/src/aarch64/assembler-aarch64.cc
  3rdparty/vixl/src/aarch64/cpu-features-auditor-aarch64.cc
  3rdparty/vixl/src/aarch64/decoder-aarch64.cc
  3rdparty/vixl/src/aarch64/disasm-aarch64.cc
  3rdparty/vixl/src/aarch64/instructions-aarch64.cc
  3rdparty/vixl/src/aarch64/logic-aarch64.cc
  3rdparty/vixl/src/aarch64/macro-assembler-aarch64.cc
  3rdparty/vixl/src/aarch64/operands-aarch64.cc
  3rdparty/vixl/src/aarch64/pointer-auth-aarch64.cc
  3rdparty/vixl/src/aarch64/registers-aarch64.cc
  3rdparty/vixl/src/code-buffer-vixl.cc
  3rdparty/vixl/src/compiler-intrinsics-vixl.cc
  3rdparty/vixl/src/cpu-features.cc
  3rdparty/vixl/vixl.vcxproj
  3rdparty/vixl/vixl.vcxproj.filters
Labels: Build | Project System, Dependencies

#12198 GS/HW: Limit GetValidSize max height and width.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12224 Docs: update Gamedb documentation
  bin/docs/GameIndex.pdf
  pcsx2/Docs/GameIndex.md
Labels: GameDB, Documentation

#12207 A Little fix Raksuho Pachi-slot Sengen series glitch (issue #12022)
  bin/resources/GameIndex.yaml
Labels: GameDB

#12175 ImGui: Make input recording frame count thread-safe
  pcsx2/ImGui/ImGuiOverlays.cpp
  pcsx2/ImGui/ImGuiOverlays.h
  pcsx2/Recording/InputRecording.cpp
  pcsx2/Recording/InputRecording.h
  pcsx2/Recording/InputRecordingFile.cpp
Labels: TAS Functionality

#12195 Debugger: Wait for the entry point to run before scanning from memory
  pcsx2/DebugTools/SymbolImporter.cpp
  pcsx2/DebugTools/SymbolImporter.h
  pcsx2/SaveState.cpp
  pcsx2/VMManager.cpp
Labels: Debugger

#12225 GameDB: Add Nicktoons Cross-Save Feature
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#12194 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12208 Settings: Allow user to manually set RTC per-game
  pcsx2-qt/SettingWidgetBinder.h
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/EmulationSettingsWidget.h
  pcsx2-qt/Settings/EmulationSettingsWidget.ui
  pcsx2/CDVD/CDVD.cpp
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
Labels: CDVD, GUI/Qt

#12233 DebugInterface: isValidAddres on physical
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger
