Repository PCSX2/pcsx2, pull requests merged in 2025-06, with the labels that each got.

#12766 GameDB: Fix half right issue with Xtreme Bowling
  bin/resources/GameIndex.yaml
Labels: GameDB

#12768 UI: Fix Discord Rich Presence not activating in FSUI
  pcsx2/ImGui/FullscreenUI.cpp
  pcsx2/Pcsx2Config.cpp
Labels: High Priority, GUI/Qt, OSD / ImGui

#12760 GS: Store entire GS transfer state at TRXDIR write
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSState.h
Labels: GS

#12770 GS: Better handle hazards when dx12/vk device creation fails.
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Vulkan, GS: Direct3D 12

#12783 GS: Better texture dump directory handling
  pcsx2/GS/Renderers/HW/GSTextureReplacements.cpp
Labels: GS, GS: Hardware

#12807 GameDB: Simple 2000 Vol 92 Fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12802 GameDB: Add native scaling to Scooby-Doo! Unmasked
  bin/resources/GameIndex.yaml
Labels: GameDB

#12797 GS/HW: Remove channel shuffle override from Namco CRC hack
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
Labels: GS, GS: Hardware

#12822 GS/HW: Allow RT in RT offset on Z buffer if FRAME is disabled
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12842 GS/HW: Correct invalidate function used for depth on match
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
Labels: GS, GS: Hardware, GS: Texture Cache

#12852 Debugger: Fix crash when breakpoint is hit before createMenuBar call
  pcsx2-qt/Debugger/Docking/DockManager.cpp
Labels: Debugger, GUI/Qt

#12862 CI: Restore repository check in Flathub publish action
  .github/workflows/cron_publish_flatpak.yml
Labels: Build | Project System

#12856 GS/DX: Don't output color for datm/stencil date shaders.
  bin/resources/shaders/dx11/convert.fx
  bin/resources/shaders/vulkan/convert.glsl
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: Direct3D 11, GS: Vulkan, GS: Direct3D 12

#12757 GS/HW: Improve Native Scaling detection + Include direct mem reads
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12877 GitHub: Update bug report OS list
  .github/ISSUE_TEMPLATE/emu_bug_report.yaml
Labels: Build | Project System

#12881 [ci skip] Github: Update app bug report OS list
  .github/ISSUE_TEMPLATE/app_bug_report.yaml
Labels: Build | Project System

#12846 Debugger: Allow debugging before first frame
  pcsx2/DebugTools/DebugInterface.cpp
Labels: Debugger

#12891 GameDB/Misc: Add memcardFilters to Armored Core: Last Raven NTSC-U SLUS-21338
  bin/resources/GameIndex.yaml
Labels: GameDB, First Time Contribution

#12889 GameDB: Xenosaga Episode III fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12894 GS/DX11: Also check DrawMultiStretchRects copy for srv conflicts with rtv.
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX11/GSDevice11.h
Labels: GS, GS: Direct3D 11

#12897 CI/Linux: Link ffmpeg for the appimage
  .github/workflows/linux_build_qt.yml
Labels: Build | Project System

#12918 GameDB: The Golden Compass fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12925 GameDB: Shadow Hearts fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12926 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12678 Deps: Update Pluto(S)VG
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/24-plutovg.json
  .github/workflows/scripts/linux/flatpak/modules/25-plutosvg.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
  cmake/SearchForStuff.cmake
Labels: Build | Project System

#12841 GS: Put psm_str in the GSUtil struct.
  pcsx2/GS/GSClut.cpp
  pcsx2/GS/GSState.cpp
  pcsx2/GS/GSUtil.cpp
  pcsx2/GS/GSUtil.h
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSTextureCache.cpp
  pcsx2/GS/Renderers/SW/GSRendererSW.cpp
Labels: GS, GS: Software, GS: Hardware, GS: Texture Cache

#12872 USB: Throttle the Buzz data packets
  pcsx2/USB/usb-pad/usb-buzz.cpp
  pcsx2/USB/usb-pad/usb-buzz.h
Labels: USB

#12864 CI/Appimage: Simplify how we bundle Wayland plugins
  .github/workflows/scripts/linux/appimage-qt.sh
Labels: Build | Project System

#12740 FSUI: Add RetroAchievements login dialog
  bin/resources/icons/ra-icon.svg
  pcsx2/ImGui/FullscreenUI.cpp
Labels: First Time Contribution, GUI/Qt

#12685 3rdparty: Soundtouch bump to v2.4.0
  3rdparty/soundtouch/README.html
  3rdparty/soundtouch/soundtouch/STTypes.h
  3rdparty/soundtouch/soundtouch/SoundTouch.h
  3rdparty/soundtouch/source/SoundTouch/BPMDetect.cpp
  3rdparty/soundtouch/source/SoundTouch/FIRFilter.cpp
  3rdparty/soundtouch/source/SoundTouch/FIRFilter.h
  3rdparty/soundtouch/source/SoundTouch/sse_optimized.cpp
Labels: Dependencies

#12671 Debugger: Make some more strings translatable
  pcsx2-qt/Debugger/Docking/DockManager.cpp
  pcsx2-qt/Debugger/Docking/DockMenuBar.cpp
  pcsx2-qt/Debugger/Docking/DockViews.cpp
  pcsx2-qt/Debugger/Docking/LayoutEditorDialog.cpp
  pcsx2-qt/Debugger/SymbolTree/NewSymbolDialogs.cpp
  pcsx2-qt/Debugger/SymbolTree/TypeString.cpp
Labels: Debugger, GUI/Qt

#12692 Debugger: Add Follow Address option in memory view
  pcsx2-qt/Debugger/Memory/MemoryView.cpp
  pcsx2-qt/Debugger/Memory/MemoryView.h
Labels: Debugger, GUI/Qt

#12649 Refactor: Rename helper function for consistency
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#12704 Qt: Fix minor typos in settings help text
  pcsx2-qt/Settings/EmulationSettingsWidget.cpp
  pcsx2-qt/Settings/GraphicsSettingsWidget.cpp
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
Labels: First Time Contribution, GUI/Qt

#12782 Deps: Update Windows and Linux to Qt 6.9.1
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
  .github/workflows/scripts/windows/qtbase-fix-icon-stretch.patch
Labels: Build | Project System
