Repository PCSX2/pcsx2, pull requests merged in 2025-02, with the labels that each got.

#12261 GS/HW: Check for null when source is either target or depth.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12254 GS/HW: Reduce number of copies for HDR
  bin/resources/shaders/dx11/tfx.fx
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/GS/Renderers/Common/GSDevice.h
  pcsx2/GS/Renderers/DX11/GSDevice11.cpp
  pcsx2/GS/Renderers/DX12/GSDevice12.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
  pcsx2/GS/Renderers/HW/GSRendererHW.h
  pcsx2/GS/Renderers/Metal/GSDeviceMTL.mm
  pcsx2/GS/Renderers/Metal/tfx.metal
  pcsx2/GS/Renderers/OpenGL/GSDeviceOGL.cpp
  pcsx2/GS/Renderers/Vulkan/GSDeviceVK.cpp
Labels: GS, GS: Hardware, GS: Direct3D 11, GS: OpenGL, GS: Vulkan, GS: Direct3D 12, GS: Metal

#12264 Controllers: Make restore defaults restore controller LED
  pcsx2/Input/SDLInputSource.cpp
  pcsx2/Input/SDLInputSource.h
  pcsx2/SIO/Pad/Pad.cpp
Labels: PAD

#12263 Deps: Update SDL to 2.30.12
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/linux/flatpak/modules/20-sdl2.json
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#12230 Qt: Add Portable Mode launch argument
  pcsx2-qt/QtHost.cpp
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
Labels: GUI/Qt

#12258 3rdparty: Update ImGui to v1.91.8
  3rdparty/imgui/include/imgui.h
  3rdparty/imgui/include/imgui_internal.h
  3rdparty/imgui/src/imgui.cpp
  3rdparty/imgui/src/imgui_demo.cpp
  3rdparty/imgui/src/imgui_draw.cpp
  3rdparty/imgui/src/imgui_freetype.cpp
  3rdparty/imgui/src/imgui_tables.cpp
  3rdparty/imgui/src/imgui_widgets.cpp
Labels: Dependencies

#12257 Deps: Update to Qt 6.8.2 on Windows and Linux
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#12272 CI : fix artifact name on linux builds
  .github/workflows/linux_build_matrix.yml
Labels: Build | Project System

#12235 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB, Hold Merge

#12287 GS/HW: Adjust max valid tex size.
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12279 Vif: Fixes to non-volatile SSE backup and restore logic
  pcsx2/x86/Vif_Dynarec.cpp
Labels: VIF

#12286 GS/HW: Add CRC fixes for DT Carnage/Racer/Axel Impact
  bin/resources/GameIndex.yaml
  pcsx2/GS/Renderers/HW/GSHwHack.cpp
  pcsx2/GS/Renderers/HW/GSHwHack.h
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware, GameDB

#12292 GameDB: Even more fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12299 GameDB: Knights of the Temple 2 fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12294 Qt: End memcard conversion progress at 100% instead of 99%
  pcsx2-qt/Settings/MemoryCardConvertWorker.cpp
Labels: GUI/Qt

#12305 Build/VS: Fix change in latest VS 2022 update with std::chrono
  pcsx2/SIO/Memcard/MemoryCardFolder.cpp
Labels: Memory Card

#12310 CI: Update the announce-release script to use node-fetch
  .github/workflows/scripts/releases/announce-release/index.js
Labels: Build | Project System

#12316 GS/HW: Cleanup gl and vk shaders.
  bin/resources/shaders/opengl/tfx_fs.glsl
  bin/resources/shaders/vulkan/tfx.glsl
  pcsx2/ShaderCacheVersion.h
Labels: GS, GS: OpenGL, GS: Vulkan

#12319 Qt: Add AMOLED Theme
  pcsx2-qt/Settings/InterfaceSettingsWidget.cpp
  pcsx2-qt/Themes.cpp
Labels: GUI/Qt

#12344 GS/HW: Maintain scale on subsequent downscale draws
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12341 GameDB: Various fixes
  bin/resources/GameIndex.yaml
Labels: GameDB

#12345 GS/HW: Increase Merge Sprite paving sensitivity to avoid mismerges
  pcsx2/GS/Renderers/HW/GSRendererHW.cpp
Labels: GS, GS: Hardware

#12343 Memcard: Apply filtering when checking all possible memcard options
  pcsx2/SIO/Memcard/MemoryCardFile.cpp
Labels: Memory Card

#12337 Debugger Assembler: BC1(t|f) 24 bit immediates to 16 bit immediates
  pcsx2/DebugTools/ExpressionParser.cpp
  pcsx2/DebugTools/MipsAssembler.cpp
  pcsx2/DebugTools/MipsAssemblerTables.cpp
Labels: Debugger

#12340 GameDB: Memory card filters for TOCA Race Driver 3 and NFS games
  bin/resources/GameIndex.yaml
Labels: GameDB

#12352 Achievements: Fix leaderboard timers persisting
  pcsx2/Achievements.cpp
Labels: RetroAchievements

#12332 Deps: Update ZSTD to 1.5.7
  .github/workflows/scripts/linux/build-dependencies-qt.sh
  .github/workflows/scripts/macos/build-dependencies-universal.sh
  .github/workflows/scripts/macos/build-dependencies.sh
  .github/workflows/scripts/windows/build-dependencies-arm64.bat
  .github/workflows/scripts/windows/build-dependencies.bat
Labels: Build | Project System

#12302 UI: Add debug UI options for new GS dumping options.
  pcsx2-gsrunner/Main.cpp
  pcsx2-qt/Settings/DebugSettingsWidget.cpp
  pcsx2-qt/Settings/DebugSettingsWidget.ui
  pcsx2/Config.h
  pcsx2/Pcsx2Config.cpp
Labels: GUI/Qt

#12356 Debugger: Set default breakpoint size to 4
  pcsx2-qt/Debugger/BreakpointDialog.ui
Labels: Debugger, First Time Contribution, GUI/Qt

#12362 Debugger: Fix 8 byte searches
  pcsx2-qt/Debugger/MemorySearchWidget.cpp
Labels: Debugger, GUI/Qt

#12363 Qt: Allow recording on game boot
  pcsx2-qt/MainWindow.cpp
Labels: GUI/Qt
